@namespace MudBlazor.Docs.Examples

<MudToggleIconButton @bind-Toggled="@AlarmOn"
                     Icon="@Icons.Material.Filled.AlarmOff" Color="@Color.Error" Title="Off"
                     ToggledIcon="@Icons.Material.Filled.AlarmOn" ToggledColor="@Color.Success" ToggledTitle="On"/>

<span>Alarm is @(AlarmOn ? "On" : "Off")</span>

@code {
    public bool AlarmOn { get; set; }
}
