@namespace MudBlazor.Docs.Examples

<MudToggleIconButton @bind-Toggled="@AlarmOn"
                     Icon="@Icons.Material.AlarmOff" Color="@Color.Error"
                     ToggledIcon="@Icons.Material.AlarmOn" ToggledColor="@Color.Success"/>

<span>Alarm is @(AlarmOn ? "On" : "Off")</span>

@code {
    public bool AlarmOn { get; set; }
}
