<Router AppAssembly="@typeof(Program).Assembly" 
        AdditionalAssemblies="@(new List<System.Reflection.Assembly> { typeof(BlazorRepl.UserComponents.UserPage).Assembly })">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(EmptyLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(EmptyLayout)">
            <p>Sorry, there's nothing atas das dasd as this address.</p>
        </LayoutView>
    </NotFound>
</Router>
