@namespace MudBlazor
@inherits MudBaseButton
@using MudBlazor.Extensions

<MudElement @bind-Ref="@_elementReference"
            HtmlTag="@HtmlTag"
            Class="@Classname"
            Style="@Style"
            @attributes="UserAttributes"
            @onclick="OnClickHandler"
            type="@ButtonType.ToDescriptionString()"
            href="@Link"
            target="@Target"
            rel="@(Target == "_blank" ? "noopener" : null)"
            disabled="@Disabled">
    <span class="mud-button-label">
        @if (!string.IsNullOrWhiteSpace(StartIcon))
        {
            <span class="@StartIconClass">
                @if (isLoading)
                {
                    <MudProgressCircular Class="@LoadingSpinnerClass" Indeterminate="true"/>
                }
                else
                {
                    <MudIcon Icon="@StartIcon" Size="@Size" Color="@IconColor"/>
                }
            </span>
        }
        else
        {
            if (isLoading && string.IsNullOrWhiteSpace(EndIcon))
            {
                <span class="@StartIconClass">
                    <MudProgressCircular Class="@LoadingSpinnerClass" Indeterminate="true"/>
                </span>
            }
        }
        @if (isLoading && LoadingContent != null)
        {
            @LoadingContent
        }
        else
        {
            @ChildContent
        }
        @if (!string.IsNullOrWhiteSpace(@EndIcon))
        {
            <span class="@EndIconClass">
                @if (isLoading && string.IsNullOrWhiteSpace(@StartIcon))
                {
                    <MudProgressCircular Class="@LoadingSpinnerClass" Indeterminate="true"/>
                }
                else
                {
                    <MudIcon Icon="@EndIcon" Size="@Size" Color="@IconColor"/>
                }
            </span>
        }
    </span>
</MudElement>