@namespace MudBlazor
@inherits MudBaseButton
@using MudBlazor.Extensions

<MudElement HtmlTag="@HtmlTag"
            @attributes="UserAttributes"
            @onclick="OnClickHandler"
            type="@ButtonType.ToDescriptionString()"
            class="@Classname"
            style="@Style"
            href="@Link"
            target="@Target"
            disabled="@Disabled">
    <span class="mud-button-label">
        @if (!string.IsNullOrWhiteSpace(StartIcon))
        {
            <span class="@StartIconClass">
                <MudIcon Icon="@StartIcon" Size="@Size" Color="@IconColor" />
            </span>
        }
        @ChildContent
        @if (!string.IsNullOrWhiteSpace(@EndIcon))
        {
            <span class="@EndIconClass">
                <MudIcon Icon="@EndIcon" Size="@Size" Color="@IconColor" />
            </span>
        }
    </span>
</MudElement>
