@namespace MudBlazor
@inherits MudBaseButton
@using MudBlazor.Extensions

<button @attributes="UserAttributes" type="@ButtonType.ToDescriptionString()" class="@Classname" style="@Style" @onclick="OnClickHandler" href="@Link" disabled="@Disabled">
    <span class="mud-button-label">
        @if (!string.IsNullOrWhiteSpace(StartIcon))
        {
            <span class="@StartIconClass">
                <MudIcon Icon="@StartIcon" Size="@Size" />
            </span>
        }
        @ChildContent
        @if (!string.IsNullOrWhiteSpace(@EndIcon))
        {
            <span class="@EndIconClass">
                <MudIcon Icon="@EndIcon" Size="@Size" />
            </span>
        }
    </span>
</button>
