@namespace MudBlazor
@inherits MudBaseButton
@using MudBlazor.Extensions

<button @ref="_elementReference" @attributes="UserAttributes" type="@ButtonType.ToDescriptionString()" class="@Classname" style="@Style" @onclick="OnClickHandler" @onclick:stopPropagation="true" href="@Link" disabled="@Disabled" onpointerdown="@(!DisableRipple ? "ripplet(arguments[0])" : "")">
    <span class="mud-fab-label">
        <MudIcon Icon="@Icon" Color="@IconColor"></MudIcon>
        @Label
    </span>
</button>
  