@namespace MudBlazor
@inherits MudBaseButton

<MudElement @bind-Ref="@_elementReference"
            HtmlTag="@HtmlTag"
            Class="@Classname"
            Style="@Style"
            @attributes="UserAttributes"
            @onclick="OnClickHandler"
            type="@ButtonType.ToDescriptionString()"
            href="@Href"
            target="@Target"
            rel="@(Target=="_blank"?"noopener":null)"
            disabled="@Disabled"
			title="@Title">
    <span class="mud-fab-label">
        @if (!string.IsNullOrWhiteSpace(StartIcon))
        {
            <MudIcon Icon="@StartIcon" Color="@IconColor" Size="@IconSize" />
        }
        @Label
        @if (!string.IsNullOrWhiteSpace(EndIcon))
        {
            <MudIcon Icon="@EndIcon" Color="@IconColor" Size="@IconSize" />
        }
    </span>
</MudElement>
