@namespace MudBlazor
@inherits MudBaseButton
@using MudBlazor.Extensions

@* @porkopek TODO add @ref="_elementReference"*@
<MudElement HtmlTag="@HtmlTag"
            Class="@Classname"
            Style="@Style"
            @attributes="UserAttributes"
            @onclick="OnClickHandler"
            type="@ButtonType.ToDescriptionString()"
            href="@Link"
            target="@Target"
            rel="@(Target=="_blank"?"noopener":null)"
            disabled="@Disabled"
            onpointerdown="@(!DisableRipple ? "ripplet(arguments[0])" : "")">

    <span class="mud-fab-label">
        <MudIcon Icon="@Icon" Color="@IconColor"></MudIcon>
        @Label
    </span>
</MudElement>
  