@namespace MudBlazor
@inherits MudBaseButton
@using MudBlazor.Extensions


<MudElement HtmlTag="@(HtmlTag ?? "button")"
            @attributes="UserAttributes"
            @onclick="OnClickHandler"
            type="@ButtonType.ToDescriptionString()"
            class="@Classname"            
            style=@(Style)
            href="@Link"
            target="@Target"
            disabled="@Disabled">

    <span class="mud-fab-label">
        <MudIcon Icon="@Icon" Color="@IconColor" />
        @Label
    </span>

</MudElement>
  