@namespace MudBlazor
@inherits MudBaseButton
@using MudBlazor.Extensions;

<MudElement @bind-Ref="@_elementReference"
            HtmlTag="@HtmlTag"
            Class="@Classname"
            Style="@Style"
            @attributes="UserAttributes"
            @onclick="OnClickHandler"
            type="@ButtonType.ToDescriptionString()"
            href="@Href"
            target="@Target"
            rel="@GetRel()"
            disabled="@GetDisabledState()"
            title="@_iconProperties.Title"
            ClickPropagation="@ClickPropagation">
    <span class="mud-fab-label">
        @if (_iconProperties.StartIcon())
        {
            <MudIcon IconProperties="@_iconProperties" />
        }
        @Label
        @if (_iconProperties.EndIcon())
        {
            <MudIcon IconProperties="@_iconProperties" />
        }
    </span>
</MudElement>