@namespace MudBlazor
@inherits MudBaseButton


<button type="button" class="@Classname" style="@Style" @onclick="OnClickHandler" href="@Link" disabled="@Disabled">
    <span class="mud-icon-button-label">
        <MudIcon Icon="@Icon"/>
    </span>
</button>
