@namespace MudBlazor
@inherits MudBaseButton
@using MudBlazor.Extensions;

<MudElement @bind-Ref="@_elementReference"
            HtmlTag="@HtmlTag"
            Class="@Classname" 
            Style="@Style"
            @attributes="UserAttributes" 
            @onclick="OnClickHandler"
            type="@ButtonType.ToDescriptionString()" 
            href="@Href" 
            target="@Target"
            rel="@GetRel()"
            disabled="@GetDisabledState()"
            title="@_iconProperties.Title"
            ClickPropagation="@ClickPropagation">
    @if (_iconProperties.HasIcon())
    {
        <span class="mud-icon-button-label">
            <MudIcon IconProperties="@_iconProperties" />
        </span>
    }
    else
    {
        <MudText Typo="Typo.body2" Color="Color.Inherit">@ChildContent</MudText>
    }
</MudElement>