@namespace MudBlazor
@inherits MudBaseButton
@using MudBlazor.Extensions

<MudElement @bind-Ref="@_elementReference"
            HtmlTag="@HtmlTag"
            Class="@Classname" 
            Style="@Style"
            @attributes="UserAttributes" 
            @onclick="OnClickHandler"
            type="@ButtonType.ToDescriptionString()" 
            href="@Href" 
            target="@Target"
            rel="@GetRel()"
            disabled="@Disabled"
			title="@Title">
    @if (!String.IsNullOrEmpty(Icon))
    {
        <span class="mud-icon-button-label">
            <MudIcon Icon="@Icon" Size="@Size" />
        </span>
    }
    else
    {
        <MudText Typo="Typo.body2" Color="Color.Inherit">@ChildContent</MudText>
    }
</MudElement>

@code {
    private string GetRel()
    {
        var values = new List<string>(2);
        if (Target == "_blank")
            values.Add("noopener");
        if (Nofollow)
            values.Add("nofollow");
        return string.Join(' ', values);
    }
}