@namespace MudBlazor
@inherits MudBaseButton
@using MudBlazor.Extensions

<MudElement HtmlTag="@(HtmlTag ?? "button")"
            @onclick="OnClickHandler"
            @attributes="UserAttributes"
            type="@ButtonType.ToDescriptionString()"
            class="@Classname"
            style="@Style"
            href="@Link"
            target="@Target"
            disabled="@Disabled">
    @if (!String.IsNullOrEmpty(Icon))
    {
        <span class="mud-icon-button-label">
            <MudIcon Icon="@Icon" Size="@Size" />
        </span>
    }
    else
    {
        <MudText Typo="Typo.body2" Color="Color.Inherit">@ChildContent</MudText>
    }
</MudElement>
