@namespace MudBlazor.Docs.Examples

<MudStack>
    <MudText>Text Based</MudText>
    <MudToggleGroup T="string" Bordered="@_bordered">
        <MudToggleItem Value="@("One")" Text="One" />
        <MudToggleItem Value="@("Two")" Text="Two" />
        <MudToggleItem Value="@("Three")" Text="Three" />
    </MudToggleGroup>

    <MudToggleGroup T="string" Dense="true" Bordered="@_bordered">
        <MudToggleItem Value="@("Dense Item 1")" Text="Dense Item 1" />
        <MudToggleItem Value="@("Dense Item 2")" Text="Dense Item 2" />
        <MudToggleItem Value="@("Dense Item 3")" Text="Dense Item 3" />
    </MudToggleGroup>

    <MudToggleGroup T="string" Rounded="true" Bordered="@_bordered">
        <MudToggleItem Value="@("Rounded Item 1")" Text="Rounded Item 1" />
        <MudToggleItem Value="@("Rounded Item 2")" Text="Rounded Item 2" />
        <MudToggleItem Value="@("Rounded Item 3")" Text="Rounded Item 3" />
    </MudToggleGroup>

    <MudToggleGroup T="int?" ShowIconWhenSelected="false" Bordered="@_bordered">
        <MudToggleItem Value="(int?)1" Text="No-Tickmark 1" />
        <MudToggleItem Value="(int?)2" Text="No-Tickmark 2" />
        <MudToggleItem Value="(int?)3" Text="No-Tickmark 3" />
    </MudToggleGroup>

    <MudText Class="mt-4">Icon Based</MudText>
    <div class="d-flex justify-space-between">
        <div>
            <MudToggleGroup T="string" IconOnly="true" Bordered="@_bordered">
                <MudToggleItem Value="@("left")" Icon="@Icons.Material.Filled.FormatAlignLeft" />
                <MudToggleItem Value="@("center")" Icon="@Icons.Material.Filled.FormatAlignCenter" />
                <MudToggleItem Value="@("right")" Icon="@Icons.Material.Filled.FormatAlignRight" />
                <MudToggleItem Value="@("justify")" Icon="@Icons.Material.Filled.FormatAlignJustify" />
            </MudToggleGroup>

            <MudToggleGroup T="string" Rounded="true" IconOnly="true" Bordered="@_bordered">
                <MudToggleItem Value="@("left")" Icon="@Icons.Material.Filled.FormatAlignLeft" />
                <MudToggleItem Value="@("center")" Icon="@Icons.Material.Filled.FormatAlignCenter" />
                <MudToggleItem Value="@("right")" Icon="@Icons.Material.Filled.FormatAlignRight" />
                <MudToggleItem Value="@("justify")" Icon="@Icons.Material.Filled.FormatAlignJustify" />
            </MudToggleGroup>
        </div>
        

        <MudToggleGroup T="string" Vertical="true" IconOnly="true" Bordered="@_bordered">
            <MudToggleItem Value="@("left")" Icon="@Icons.Material.Filled.FormatAlignLeft" />
            <MudToggleItem Value="@("center")" Icon="@Icons.Material.Filled.FormatAlignCenter" />
            <MudToggleItem Value="@("right")" Icon="@Icons.Material.Filled.FormatAlignRight" />
            <MudToggleItem Value="@("justify")" Icon="@Icons.Material.Filled.FormatAlignJustify" />
        </MudToggleGroup>
    </div>

    <MudStack>
        <MudSwitch @bind-Checked="@_bordered" Label="Bordered" />
    </MudStack>
</MudStack>

@code{
    bool _bordered = true;
}