@page "/components/surfaces/card"

<DocsPage>
    <DocsPageHeader>
        <Title>Card</Title>
        <SubTitle></SubTitle>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Simple Card</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true">
                <Card>
                    <CardContent>
                        <Typography>Story of the day</Typography>
                        <Typography Typo="Typo.body2">The quick, brown fox jumps over a lazy dog.</Typography>
                    </CardContent>
                    <CardActions>
                        <MudButton Variant="Variant.Text">Learn More</MudButton>
                    </CardActions>
                </Card>
            </SectionContent>
            <SectionSource Code="@Markdown_Simple"></SectionSource>
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Outlined</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true">
                <Card Outlined="true">
                    <CardContent>
                        <Typography>Story of the day</Typography>
                        <Typography Typo="Typo.body2">The quick, brown fox jumps over a lazy dog.</Typography>
                    </CardContent>
                    <CardActions>
                        <MudButton Variant="Variant.Text">Learn More</MudButton>
                    </CardActions>
                </Card>
            </SectionContent>
            <SectionSource Code=@Markdown_Outlined></SectionSource>
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Header</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true">
                <Card>
                    <CardHeader>
                        <CardHeaderContent>
                            <Typography Typo="Typo.h6">The Story Book</Typography>
                        </CardHeaderContent>
                        <CardHeaderActions>
                            <MudIconButton Icon="@Icons.Material.Settings" Color="Color.Inherit" />
                        </CardHeaderActions>
                    </CardHeader>
                    <CardContent>
                        <Typography>This day everything happend.</Typography>
                        <Typography Typo="Typo.body2">The quick, brown fox jumps over a lazy dog.</Typography>
                    </CardContent>
                    <CardActions>
                        <MudButton Variant="Variant.Text">Read More</MudButton>
                    </CardActions>
                </Card>
            </SectionContent>
            <SectionSource Code="@Markdown_Header">
            </SectionSource>
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Media</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true">
                <Card>
                    <CardMedia Image="_content/MudBlazor.Docs/images/content-template-door.png" Height="200" />
                    <CardContent>
                        <Typography Typo="Typo.h5">Old Paint</Typography>
                        <Typography Typo="Typo.body2">Old paint found on a stone house door.</Typography>
                        <Typography Typo="Typo.body2">This photo was taken in a small village in Istra Croatia.</Typography>
                    </CardContent>
                    <CardActions>
                        <MudButton Variant="Variant.Text" Color="Color.Primary">Share</MudButton>
                        <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton>
                    </CardActions>
                </Card>
            </SectionContent>
            <SectionSource Code="@Markdown_Media"></SectionSource>
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Combined</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true">
                <Card>
                    <CardHeader>
                        <CardHeaderAvatar>
                            <Avatar>I</Avatar>
                        </CardHeaderAvatar>
                        <CardHeaderContent>
                            <Typography Typo="Typo.body1">Istra Croatia</Typography>
                            <Typography Typo="Typo.body2">Peninsula in Europe</Typography>
                        </CardHeaderContent>
                        <CardHeaderActions>
                            <MudIconButton Icon="@Icons.Material.Settings" Color="Color.Default" />
                        </CardHeaderActions>
                    </CardHeader>
                    <CardMedia Image="_content/MudBlazor.Docs/images/content-template-pilars.png" Height="250" />
                    <CardContent>
                        <Typography Typo="Typo.body2">This photo was taken in a small village in Istra Croatia.</Typography>
                    </CardContent>
                    <CardActions>
                        <MudIconButton Icon="@Icons.Material.Favorite" Color="Color.Default" />
                        <MudIconButton Icon="@Icons.Material.Share" Color="Color.Default" />
                    </CardActions>
                </Card>
            </SectionContent>
            <SectionSource Code="@Markdown_Combined"></SectionSource>
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>


@code {
string Markdown_Simple = @"```html
<Card>
    <CardContent>
        <Typography>Story of the day</Typography>
        <Typography Typo=""Typo.body2"">The quick, brown fox jumps over a lazy dog.</Typography>
    </CardContent>
    <CardActions>
        <MudButton Variant=""Variant.Text"">Learn More</MudButton>
    </CardActions>
</Card>
```";
string Markdown_Outlined = @"```html
<Card Outlined=""true"">
    <CardContent>
        <Typography>Story of the day</Typography>
        <Typography Typo=""Typo.body2"">The quick, brown fox jumps over a lazy dog.</Typography>
    </CardContent>
    <CardActions>
        <MudButton Variant=""Variant.Text"">Learn More</MudButton>
    </CardActions>
</Card>
```";
string Markdown_Header = @"```html
<Card>
    <CardHeader>
        <CardHeaderContent>
            <Typography Typo=""Typo.h6"">The Story Book</Typography>
        </CardHeaderContent>
        <CardHeaderActions>
            <MudIconButton Icon=""@Icons.Material_Settings"" Color=""Color.Inherit"" />
        </CardHeaderActions>
    </CardHeader>
    <CardContent>
        <Typography>This day everything happend.</Typography>
        <Typography Typo=""Typo.body2"">The quick, brown fox jumps over a lazy dog.</Typography>
    </CardContent>
    <CardActions>
        <MudButton Variant=""Variant.Text"">Read More</MudButton>
    </CardActions>
</Card>
```";
string Markdown_Media = @"```html
<Card>
    <CardMedia Image=""_content/MudBlazor.Docs/images/content-template-door.png"" Height=""200"" />
    <CardContent>
        <Typography Typo=""Typo.h5"">Old Paint</Typography>
        <Typography Typo=""Typo.body2"">Old paint found on a stone house door.</Typography>
        <Typography Typo=""Typo.body2"">This photo was taken in a small village in Istra Croatia.</Typography>
    </CardContent>
    <CardActions>
        <MudButton Variant=""Variant.Text"" Color=""Color.Primary"">Share</MudButton>
        <MudButton Variant=""Variant.Text"" Color=""Color.Primary"">Learn More</MudButton>
    </CardActions>
</Card>
```";
string Markdown_Combined = @"```html
<Card>
    <CardHeader>
        <CardHeaderAvatar>
            <Avatar>I</Avatar>
        </CardHeaderAvatar>
        <CardHeaderContent>
            <Typography Typo=""Typo.body1"">Istra Croatia</Typography>
            <Typography Typo=""Typo.body2"">Peninsula in Europe</Typography>
        </CardHeaderContent>
        <CardHeaderActions>
            <MudIconButton Icon=""@Icons.Material_Settings"" Color=""Color.Default"" />
        </CardHeaderActions>
    </CardHeader>
    <CardMedia Image=""_content/MudBlazor.Docs/images/content-template-pilars.png"" Height=""250"" />
    <CardContent>
        <Typography Typo=""Typo.body2"">This photo was taken in a small village in Istra Croatia.</Typography>
    </CardContent>
    <CardActions>
        <MudIconButton Icon=""@Icons.Material_Favorite"" Color=""Color.Default"" />
        <MudIconButton Icon=""@Icons.Material_Share"" Color=""Color.Default"" />
    </CardActions>
</Card>
```";
}
