@page "/components/surfaces/card"

<DocsPage>
    <DocsPageHeader>
        <Title>Card</Title>
        <SubTitle></SubTitle>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Simple Card</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true">
                <MudCard>
                    <MudCardContent>
                        <MudText>Story of the day</MudText>
                        <MudText Typo="Typo.body2">The quick, brown fox jumps over a lazy dog.</MudText>
                    </MudCardContent>
                    <MudCardActions>
                        <MudButton Variant="Variant.Text">Learn More</MudButton>
                    </MudCardActions>
                </MudCard>
            </SectionContent>
            <SectionSource Code="@Markdown_Simple"></SectionSource>
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader>
                <Title>Outlined</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true">
                <MudCard Outlined="true">
                    <MudCardContent>
                        <MudText>Story of the day</MudText>
                        <MudText Typo="Typo.body2">The quick, brown fox jumps over a lazy dog.</MudText>
                    </MudCardContent>
                    <MudCardActions>
                        <MudButton Variant="Variant.Text">Learn More</MudButton>
                    </MudCardActions>
                </MudCard>
            </SectionContent>
            <SectionSource Code=@Markdown_Outlined></SectionSource>
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader>
                <Title>Header</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true">
                <MudCard>
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h6">The Story Book</MudText>
                        </CardHeaderContent>
                        <CardHeaderActions>
                            <MudIconButton Icon="@Icons.Material.Settings" Color="Color.Inherit" />
                        </CardHeaderActions>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudText>This day everything happend.</MudText>
                        <MudText Typo="Typo.body2">The quick, brown fox jumps over a lazy dog.</MudText>
                    </MudCardContent>
                    <MudCardActions>
                        <MudButton Variant="Variant.Text">Read More</MudButton>
                    </MudCardActions>
                </MudCard>
            </SectionContent>
            <SectionSource Code="@Markdown_Header">
            </SectionSource>
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader>
                <Title>Media</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true">
                <MudCard>
                    <MudCardMedia Image="_content/MudBlazor.Docs/images/content-template-door.png" Height="200" />
                    <MudCardContent>
                        <MudText Typo="Typo.h5">Old Paint</MudText>
                        <MudText Typo="Typo.body2">Old paint found on a stone house door.</MudText>
                        <MudText Typo="Typo.body2">This photo was taken in a small village in Istra Croatia.</MudText>
                    </MudCardContent>
                    <MudCardActions>
                        <MudButton Variant="Variant.Text" Color="Color.Primary">Share</MudButton>
                        <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton>
                    </MudCardActions>
                </MudCard>
            </SectionContent>
            <SectionSource Code="@Markdown_Media"></SectionSource>
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader>
                <Title>Combined</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true">
                <MudCard>
                    <MudCardHeader>
                        <CardHeaderAvatar>
                            <MudAvatar>I</MudAvatar>
                        </CardHeaderAvatar>
                        <CardHeaderContent>
                            <MudText Typo="Typo.body1">Istra Croatia</MudText>
                            <MudText Typo="Typo.body2">Peninsula in Europe</MudText>
                        </CardHeaderContent>
                        <CardHeaderActions>
                            <MudIconButton Icon="@Icons.Material.Settings" Color="Color.Default" />
                        </CardHeaderActions>
                    </MudCardHeader>
                    <MudCardMedia Image="_content/MudBlazor.Docs/images/content-template-pilars.png" Height="250" />
                    <MudCardContent>
                        <MudText Typo="Typo.body2">This photo was taken in a small village in Istra Croatia.</MudText>
                    </MudCardContent>
                    <MudCardActions>
                        <MudIconButton Icon="@Icons.Material.Favorite" Color="Color.Default" />
                        <MudIconButton Icon="@Icons.Material.Share" Color="Color.Default" />
                    </MudCardActions>
                </MudCard>
            </SectionContent>
            <SectionSource Code="@Markdown_Combined"></SectionSource>
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>


@code {
string Markdown_Simple = @"```html
<MudCard>
    <MudCardContent>
        <MudText>Story of the day</MudText>
        <MudText Typo=""Typo.body2"">The quick, brown fox jumps over a lazy dog.</MudText>
    </MudCardContent>
    <MudCardActions>
        <MudButton Variant=""Variant.Text"">Learn More</MudButton>
    </MudCardActions>
</MudCard>
```";
string Markdown_Outlined = @"```html
<MudCard Outlined=""true"">
    <MudCardContent>
        <MudText>Story of the day</MudText>
        <MudText Typo=""Typo.body2"">The quick, brown fox jumps over a lazy dog.</MudText>
    </MudCardContent>
    <MudCardActions>
        <MudButton Variant=""Variant.Text"">Learn More</MudButton>
    </MudCardActions>
</MudCard>
```";
string Markdown_Header = @"```html
<MudCard>
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo=""Typo.h6"">The Story Book</MudText>
        </CardHeaderContent>
        <CardHeaderActions>
            <MudIconButton Icon=""@Icons.Material.Settings"" Color=""Color.Inherit"" />
        </CardHeaderActions>
    </MudCardHeader>
    <MudCardContent>
        <MudText>This day everything happend.</MudText>
        <MudText Typo=""Typo.body2"">The quick, brown fox jumps over a lazy dog.</MudText>
    </MudCardContent>
    <MudCardActions>
        <MudButton Variant=""Variant.Text"">Read More</MudButton>
    </MudCardActions>
</MudCard>
```";
string Markdown_Media = @"```html
<MudCard>
    <MudCardMedia Image=""_content/MudBlazor.Docs/images/content-template-door.png"" Height=""200"" />
    <MudCardContent>
        <MudText Typo=""Typo.h5"">Old Paint</MudText>
        <MudText Typo=""Typo.body2"">Old paint found on a stone house door.</MudText>
        <MudText Typo=""Typo.body2"">This photo was taken in a small village in Istra Croatia.</MudText>
    </MudCardContent>
    <MudCardActions>
        <MudButton Variant=""Variant.Text"" Color=""Color.Primary"">Share</MudButton>
        <MudButton Variant=""Variant.Text"" Color=""Color.Primary"">Learn More</MudButton>
    </MudCardActions>
</MudCard>
```";
string Markdown_Combined = @"```html
<MudCard>
<MudCardHeader>
    <CardHeaderAvatar>
        <MudAvatar>I</MudAvatar>
    </CardHeaderAvatar>
    <CardHeaderContent>
        <MudText Typo=""Typo.body1"">Istra Croatia</MudText>
        <MudText Typo=""Typo.body2"">Peninsula in Europe</MudText>
    </CardHeaderContent>
    <CardHeaderActions>
        <MudIconButton Icon=""@Icons.Material.Settings"" Color=""Color.Default"" />
    </CardHeaderActions>
</MudCardHeader>
<MudCardMedia Image=""_content/MudBlazor.Docs/images/content-template-pilars.png"" Height=""250"" />
<MudCardContent>
    <MudText Typo=""Typo.body2"">This photo was taken in a small village in Istra Croatia.</MudText>
</MudCardContent>
<MudCardActions>
    <MudIconButton Icon=""@Icons.Material.Favorite"" Color=""Color.Default"" />
    <MudIconButton Icon=""@Icons.Material.Share"" Color=""Color.Default"" />
</MudCardActions>
</MudCard>
```";
}
