@namespace MudBlazor
@inherits MudComponentBase

<div @attributes="UserAttributes" class="mud-treeview-item-arrow" @ondblclick="OnDoubleClick" @ondblclick:stopPropagation="true">
    @if (Visible) {
        <MudIconButton
                       Disabled="@Disabled"
                       OnClick="@ToggleAsync"
                       Icon="@(Loading ? LoadingIcon : ExpandedIcon)"
                       Color="@(Loading ? LoadingIconColor : ExpandedIconColor)"
                       Class="@Classname"
                       Style="@Style" 
                       />
    }
</div>

