@namespace MudBlazor
@inherits MudBaseSelectItem
@using Microsoft.AspNetCore.Components.Routing

<div @attributes="UserAttributes" class="@Classname" disabled="@Disabled" style="@Style">
    @if (!OnClick.HasDelegate) 
    { 
        <NavLink @onclick="@HandleNavigation" 
                 class="@LinkClassname" 
                 style="@Style" 
                 @attributes="@Attributes"
                 Match="@Match" 
                 ActiveClass="active">
            @if (!String.IsNullOrEmpty(Icon))
            {
                <MudIcon Icon="@Icon" Color="@IconColor" Class="@IconClassname"/>
            }
            <div Class="mud-nav-link-text">
                @ChildContent
            </div>
        </NavLink>
    }
    else
    {
        <div @onclick="HandleClick"
             class="@LinkClassname"
             style="@Style"
             ActiveClass="active">
            @if (!String.IsNullOrEmpty(Icon))
            {
                <MudIcon Icon="@Icon" Color="@IconColor" Class="@IconClassname" />
            }
            <div Class="mud-nav-link-text">
                @ChildContent
            </div>
        </div>
    }
</div>