@namespace MudBlazor
@inherits MudComponentBase

<div @attributes="UserAttributes" class="mud-nav-group" disabled="@Disabled" style="@Style">
    <button @onclick="ExpandedToggle" tabindex="0" class="@Classname">
        @if (!String.IsNullOrEmpty(Icon))
        {
            <MudIcon Icon="@Icon" Class="mud-nav-link-icon"></MudIcon>
        }
        <div Class="mud-nav-link-text">
            @Title
        </div>
        @if (!HideExpandIcon)
        {
            <MudIcon Icon="@ExpandIcon" class="@(Expanded? "mud-nav-link-expand-icon mud-transform" : "mud-nav-link-expand-icon")" />
        }
    </button>
    <MudCollapse Expanded="@Expanded" Class="mud-navgroup-collapse">
        <MudNavMenu>
            @ChildContent
        </MudNavMenu>
    </MudCollapse>
</div>