@namespace MudBlazor.UnitTests.TestComponents

<MudDataGrid Items="@_items" Filterable="true" ColumnResizeMode="@(_resizeColumn ? ResizeMode.Column : ResizeMode.Container)">
    <ColGroup>
        <col />
        <col />
        <col />
    </ColGroup>
    <Columns>
        <Column T="Model" Field="@nameof(Model.Name)" />
        <Column T="Model" Field="@nameof(Model.Age)" />
        <Column T="Model" Field="@nameof(Model.Status)" />
    </Columns>
</MudDataGrid>
<div class="d-flex flex-wrap mt-4">
    <div class="d-flex justify-start align-center">
        <p class="mud-typography mud-typography-body1 mud-inherit-text mr-2">ResizeMode.Container</p>
        <MudSwitch @bind-Checked="@_resizeColumn">ResizeMode.Column</MudSwitch>
    </div>
</div>

@code {
    private bool _resizeColumn;
    private IEnumerable<Model> _items = new List<Model>()
    {
        new Model("Sam", 56, Severity.Normal), 
        new Model("Alicia", 54, Severity.Info), 
        new Model("Ira", 27, Severity.Success),
        new Model("John", 32, Severity.Warning)
    };

    public record Model (string Name, int Age, Severity Status);
}
