<MudPaper Outlined="true">
    <MudSimpleTable Elevation="0" Hover="true">
        <thead>
        <tr>
            <th>Device</th>
            <th>Code</th>
            <th>Type</th>
            <th>Range</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <MudIcon Icon="@Icons.Material.Filled.PhoneIphone" Class="mb-n1" />
                <MudText HtmlTag="span">Extra small</MudText>
            </td>
            <td>xs</td>
            <td>Small to large phone</td>
            <td>&lt; 600px</td>
        </tr>
        <tr>
            <td>
                <MudIcon Icon="@Icons.Material.Filled.StayCurrentLandscape" Class="mb-n1 mr-1" />
                <MudText HtmlTag="span">Small</MudText>
            </td>
            <td>sm</td>
            <td>Small to medium tablet</td>
            <td>600px > &lt; 960px</td>
        </tr>
        <tr>
            <td>
                <MudIcon Icon="@Icons.Material.Filled.Laptop" Class="mb-n1 mr-1" />
                <MudText HtmlTag="span">Medium</MudText>
            </td>
            <td>md</td>
            <td>Large tablet to laptop</td>
            <td>960px > &lt; 1280px</td>
        </tr>
        <tr>
            <td>
                <MudIcon Icon="@Icons.Material.Filled.DesktopWindows" Class="mb-n1 mr-1" />
                <MudText HtmlTag="span">Large</MudText>
            </td>
            <td>lg</td>
            <td>Desktop</td>
            <td>1280px > &lt; 1920px</td>
        </tr>
        <tr>
            <td>
                <MudIcon Icon="@Icons.Material.Filled.Tv" Class="mb-n1 mr-1" />
                <MudText HtmlTag="span">Extra Large</MudText>
            </td>
            <td>xl</td>
            <td>HD and 4k</td>
            <td>1920px > &lt; 2560px</td>
        </tr>
        <tr>
            <td>
                <MudIcon Icon="@Icons.Material.Filled.Tv" Class="mb-n1 mr-1" />
                <MudText HtmlTag="span">Extra Extra Large</MudText>
            </td>
            <td>xxl</td>
            <td>4k+ and ultra-wide</td>
            <td>>= 2560px*</td>
        </tr>
        </tbody>
    </MudSimpleTable>
</MudPaper>