@inherits MudComponentBase

<div class="cc-rounded-md cc-bg-gray-100 cc-text-brand-text" @key="@($"category_{Category.Identifier}")">
    <div class="cc-w-full cc-rounded-md hover:cc-bg-gray-200">
        <div class="cc-flex cc-items-center cc-justify-between cc-items-center">
            <div class="cc-grow cc-flex cc-p-3 cc-cursor-pointer" @onclick="() => Collapsed = !Collapsed">
                @if (Collapsed)
                {
                    <svg xmlns="http://www.w3.org/2000/svg" class="cc-h-5 cc-w-5 cc-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                    </svg>
                }
                else
                {
                    <svg xmlns="http://www.w3.org/2000/svg" class="cc-h-5 cc-w-5 cc-shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7" />
                    </svg>
                }

                <h5 class="cc-font-semibold cc-text-brand-text cc-text-sm cc-ml-3">@Localizer.GetLocalization(Category.TitleText)</h5>
            </div>

            <div class="cc-pr-3 cc-shrink-0 cc-py-3">
                @if (!Category.IsRequired)
                {
                    <div class="cc-flex cc-items-center cc-justify-center cc-w-full">

                        <label class="cc-flex cc-items-center cc-cursor-pointer disabled:cc-opacity-50 disabled:cc-bg-red-100">
                            <!-- toggle -->
                            <div class="cc-relative cc-w-12">
                                <!-- input -->
                                <input type="checkbox" class="cc-sr-only cc-switch" checked="@(_selectedState.Value ? "checked" : null)" disabled="@(Category.IsRequired ? "disabled" : null)" @onchange="OnChangedAsync">
                                <!-- line -->
                                <div class="cc-block cc-bg-gray-300 @(Category.IsRequired ? "cc-opacity-25" : "") cc-dot-background cc-w-full cc-h-6 cc-rounded-full cc-transition"></div>
                                <!-- dot -->
                                <div class="cc-dot cc-absolute cc-left-1 cc-top-1 cc-bg-white cc-w-4 cc-h-4 cc-rounded-full cc-transition"></div>
                            </div>
                        </label>

                    </div>
                }
            </div>
        </div>
    </div>

    <div class="cc-text-sm @(Collapsed ? "cc-hidden" : "")" @key="@($"category_collapsible_{Category.Identifier}")">
        <div class="cc-p-3 cc-px-4">
            <p>
                @Localizer.GetLocalization(Category.DescriptionText)
            </p>

            @if (Category.Services is { Count: > 0 })
            {
                <h6 class="cc-mt-4 cc-text-brand-text cc-font-bold">@Localizer.GetLocalization(Options.Value.SettingsUsedServicesText)</h6>

                <div class="cc-mt-2 cc-space-y-2 md:cc-space-y-1">
                    @foreach (var service in Category.Services)
                    {
                        <div class="cc-flex cc-flex-col md:cc-flex-row cc-justify-between cc-gap-1">
                            <div>@Localizer.GetLocalization(service.TitleText)</div>
                            <div>
                                @if (!string.IsNullOrEmpty(service.PolicyUrl))
                                {
                                    <a class="cc-text-xs md:cc-text-sm cc-text-brand-link hover:cc-text-brand-link-highlight cc-transition-all cc-duration-100 cc-ease-in-out cc-flex cc-items-center" href="@service.PolicyUrl" target="_blank">
                                        @Localizer.GetLocalization(service.ShowPolicyText)

                                        <svg xmlns="http://www.w3.org/2000/svg" class="cc-h-4 cc-w-4 cc-ml-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
                                        </svg>
                                    </a>
                                }
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>