@namespace MudBlazor

@inherits MudComponentBase

<div @attributes="UserAttributes" role="alert" class="@Classname" Style="@Style" @onclick="EventUtil.AsNonRenderingEventHandler<MouseEventArgs>(OnClickHandler)">
<div class="@ClassPosition">
    @if (!NoIcon)
    {
        <div class="mud-alert-icon mud-alert-icon-left">
            <MudIcon Icon="@_icon" />
        </div>
    }
    <div class="mud-alert-message">
        @ChildContent
    </div>
</div>
@if (ShowCloseIcon)
{
    <div class="mud-alert-close">
        <MudToggleIconButton Icon="@CloseIcon" @onclick="OnCloseIconClickAsync" Size="Size.Small" />
    </div>
}
</div>