@namespace MudBlazor
@using MudBlazor.Utilities
@inherits MudBasePicker

<div class="@PickerClass">
    @if (PickerVariant != PickerVariant.Static)
    {
        <MudTextField Label="@Label" @bind-Value="@Value" HelperText="@HelperText" Variant="@InputVariant" ReadOnly="@(!Editable)" 
                      @onclick="@(() => { if (!Editable) ToggleOpen(); })" OnAdornmentClick="ToggleOpen" Disabled="@Disabled" Adornment="@Adornment" AdornmentIcon="@InputIcon" IconSize="@IconSize" />
    }
    <CascadingValue Value="@this" IsFixed="true">
        @if (IsOpen && PickerVariant != PickerVariant.Dialog)
        {
            <MudPaper @attributes="UserAttributes" Class="@PickerPaperClass" Elevation="@PickerElevation" Square="@PickerSquare">
                <div class="@PickerContainerClass">
                    @ChildContent
                </div>
            </MudPaper>
        }
        else if(IsOpen && PickerVariant == PickerVariant.Dialog)
        {
            <MudOverlay Visible="IsOpen" OnClick="@Close" DarkBackground="true" Class="mud-overlay-dialog">
                <MudPaper @attributes="UserAttributes" Class="@PickerPaperClass" Elevation="@PickerElevation" Square="@PickerSquare">
                    <div class="@PickerContainerClass">
                        @ChildContent
                    </div>
                </MudPaper>
            </MudOverlay>
        }
    </CascadingValue>
</div>
@if (PickerVariant == PickerVariant.Inline)
{
    <MudOverlay Visible="IsOpen" OnClick="@Close" LockScroll="false" />
}
