@page "/components/data-display/table"
@using MudBlazor.Docs.Data

<DocsPage MaxWidth="MaxWidth.Large">
    <DocsPageHeader>
        <Title>Table</Title>
        <SubTitle></SubTitle>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Table with pagination and filtering</Title>
                <Description>
                    The <CodeInline>&lt;MudTable></CodeInline> component supports pagination, sorting and filtering of rows as well as single and multiple row selection. To tell the table how to render your data, define a <CodeInline>&lt;RowTemplate></CodeInline>
                    containing a <CodeInline>&lt;MudTableCell></CodeInline> or a <CodeInline>&lt;td></CodeInline> for every column.
                    <br /><br />
                    Note: you can not fill this table in a conventional way, i.e. by defining multiple <CodeInline Code="<tr>" /> tags. See <MudLink Href="/components/data-display/simpletable">SimpleTable</MudLink> if you want that. Instead, you
                    pass the collection of items to be displayed to the table's <CodeInline>Items</CodeInline> parameter.
                </Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" FullWidth="true">
                <MudTable Items="@PeriodicTable.GetElements()" Dense="@dense" Hover="@hover" Filter="new Func<Element,bool>(FilterFunc)" @bind-SelectedItem="selected_item">
                    <ToolBarContent>
                        <MudText Typo="Typo.h6" Class="mud-flex-1-1-100">Periodic Elements</MudText>
                        <MudIcon Style="margin-top: 20px; margin-right: 8px;" Icon="@Icons.Material.Search"></MudIcon>
                        <MudTextField @bind-Value="search_string" Placeholder="Search"></MudTextField>
                    </ToolBarContent>
                    <HeaderContent>
                        <MudTableHeaderCell>Nr</MudTableHeaderCell>
                        <MudTableHeaderCell>Sign</MudTableHeaderCell>
                        <MudTableHeaderCell>Name</MudTableHeaderCell>
                        <MudTableHeaderCell>Position</MudTableHeaderCell>
                        <MudTableHeaderCell>Molar mass</MudTableHeaderCell>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTableCell>@context.Number</MudTableCell>
                        <MudTableCell>@context.Sign</MudTableCell>
                        <MudTableCell>@context.Name</MudTableCell>
                        <MudTableCell>@context.Position</MudTableCell>
                        <MudTableCell>@context.Molar</MudTableCell>
                    </RowTemplate>
                    <PagerContent>
                        <MudTablePager />
                    </PagerContent>
                </MudTable>
                <MudSwitch @bind-Checked="@hover" Color="Color.Primary">Hover</MudSwitch>
                <MudSwitch @bind-Checked="@dense" Color="Color.Secondary">Dense</MudSwitch>
                <MudText Inline="true">Selected: @selected_item?.Name</MudText>
            </SectionContent>
        </DocsPageSection>
        
        <DocsPageSection>
            <SectionHeader>
                <Title>Multi-Selection</Title>
                <Description>
                    Setting <CodeInline>MultiSelection="true"</CodeInline> will enable selection check boxes for selecting multiple lines.
                </Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" FullWidth="true">
                <MudTable Items="@PeriodicTable.GetElements()" MultiSelection="true" @bind-SelectedItems="selected_items">
                    <HeaderContent>
                        <MudTableHeaderCell>Nr</MudTableHeaderCell>
                        <MudTableHeaderCell>Sign</MudTableHeaderCell>
                        <MudTableHeaderCell>Name</MudTableHeaderCell>
                        <MudTableHeaderCell>Position</MudTableHeaderCell>
                        <MudTableHeaderCell>Molar mass</MudTableHeaderCell>
                    </HeaderContent>
                    <RowTemplate>
                        <td>@context.Number</td>
                        <td>@context.Sign</td>
                        <td>@context.Name</td>
                        <td>@context.Position</td>
                        <td>@context.Molar</td>
                    </RowTemplate>
                    <PagerContent>
                        <MudTablePager PageSizeOptions="new List<int>(){50, 100}" />
                    </PagerContent>
                </MudTable>
                <MudText Inline="true">Selected items: @(selected_items==null ? "" : string.Join(", ", selected_items.OrderBy(x=>x.Sign).Select(x=>x.Sign)))</MudText>
            </SectionContent>
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader>
                <Title>Fixed header</Title>
                <Description>
                    Obviously, something went wrong :(
                </Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" FullWidth="true">
                <MudTable Items="@PeriodicTable.GetElements()" FixedHeader="true" Height="300px">
                    <HeaderContent>
                        <MudTableHeaderCell>Nr</MudTableHeaderCell>
                        <MudTableHeaderCell>Sign</MudTableHeaderCell>
                        <MudTableHeaderCell>Name</MudTableHeaderCell>
                        <MudTableHeaderCell>Position</MudTableHeaderCell>
                        <MudTableHeaderCell>Molar mass</MudTableHeaderCell>
                    </HeaderContent>
                    <RowTemplate>
                        <td>@context.Number</td>
                        <td>@context.Sign</td>
                        <td>@context.Name</td>
                        <td>@context.Position</td>
                        <td>@context.Molar</td>
                    </RowTemplate>
                    <PagerContent>
                        <MudTablePager PageSizeOptions="new List<int>(){50, 100}" />
                    </PagerContent>
                </MudTable>
                <MudSwitch @bind-Checked="@fixed_header">Fixed Header</MudSwitch>
            </SectionContent>
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>

@code {
    bool dense = false;
    bool hover = true;
    bool fixed_header = false;
    string search_string = "";
    Element selected_item = null;
    HashSet<Element> selected_items = null;

    bool FilterFunc(Element element)
    {
        if (string.IsNullOrWhiteSpace(search_string))
            return true;
        if (element.Sign.Contains(search_string))
            return true;
        if (element.Name.Contains(search_string))
            return true;
        if ($"{element.Number} {element.Position} {element.Molar}".Contains(search_string))
            return true;
        return false;
    }

    string Markdown_Table = @"```html
// To Do
```";
}
