@page "/components/data-display/table"

<DocsPage>
    <DocsPageHeader>
        <Title>Table</Title>
        <SubTitle></SubTitle>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Table</Title>
            </SectionHeader>
            <SectionContent DarkenBackground="true" FullWidth="true">
                <MudTable Items="rows" Dense="@dense" Hover="@hover">
                    <ToolBarContent>
                        <Typography Typo="Typo.h6" GutterBottom="false" Class="mud-flex-1-1-100">Employees</Typography>
                    </ToolBarContent>
                    <HeaderContent>
                        <MudTableHeaderCell>ID</MudTableHeaderCell>
                        <MudTableHeaderCell>Name</MudTableHeaderCell>
                        <MudTableHeaderCell>Email</MudTableHeaderCell>
                        <MudTableHeaderCell>Gender</MudTableHeaderCell>
                        <MudTableHeaderCell>IP Address</MudTableHeaderCell>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTableRow>
                            @foreach (var x in @context.Split())
                            {
                                <MudTableCell>@x</MudTableCell>
                            }
                        </MudTableRow>
                    </RowTemplate>
                    <PagerContent>
                        <MudTablePager />
                    </PagerContent>
                </MudTable>
                <MudSwitch @bind-Checked="@hover" Color="Color.Primary">Hover</MudSwitch>
                <MudSwitch @bind-Checked="@dense" Color="Color.Secondary">Dense</MudSwitch>
            </SectionContent>
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>

@code {
    bool dense = false;
    bool hover = true;
    string[] headings = {"ID", "Name", "Email", "Gender", "IP Address"};

    string[] rows = {
        @"1 Krishna kpartner0@usatoday.com Male 28.25.250.202",
        @"2 Webb wstitle1@ning.com Male 237.168.134.114",
        @"3 Nathanil nneal2@cyberchimps.com Male 92.6.0.175",
        @"4 Adara alockwood3@patch.com Female 182.174.217.152",
        @"5 Cecilius cchaplin4@shinystat.com Male 195.124.144.18",
        @"6 Cicely cemerine9@soup.io Female 138.94.191.43",
    };
    string Markdown_Table = @"```html
// To Do
```";
}
