@page "/components/data-display/table"
@using MudBlazor.Docs.Data

<DocsPage>
    <DocsPageHeader>
        <Title>Table</Title>
        <SubTitle></SubTitle>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Table with pagination and filtering</Title>
            </SectionHeader>
            <SectionContent DarkenBackground="true" FullWidth="true">
                <MudTable Items="@PeriodicTable.GetElements()" Dense="@dense" Hover="@hover" Filter="new Func<Element,bool>(FilterFunc)">
                    <ToolBarContent>
                        <Typography Typo="Typo.h6" GutterBottom="false" Class="mud-flex-1-1-100">Periodic Elements</Typography>
                        <MudIcon Style="margin-top: 20px; margin-right: 8px;" Icon="@Icons.Material.Search"></MudIcon>
                        <TextField @bind-Value="search_string" Label="Search" Placeholder="Search"></TextField>
                    </ToolBarContent>
                    <HeaderContent>
                        <MudTableHeaderCell>Nr</MudTableHeaderCell>
                        <MudTableHeaderCell>Sign</MudTableHeaderCell>
                        <MudTableHeaderCell>Name</MudTableHeaderCell>
                        <MudTableHeaderCell>Position</MudTableHeaderCell>
                        <MudTableHeaderCell>Molar mass</MudTableHeaderCell>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTableRow @key="@context">
                            <MudTableCell>@context.Number</MudTableCell>
                            <MudTableCell>@context.Sign</MudTableCell>
                            <MudTableCell>@context.Name</MudTableCell>
                            <MudTableCell>@context.Position</MudTableCell>
                            <MudTableCell>@context.Molar</MudTableCell>
                        </MudTableRow>
                    </RowTemplate>
                    <PagerContent>
                        <MudTablePager />
                    </PagerContent>
                </MudTable>
                <MudSwitch @bind-Checked="@hover" Color="Color.Primary">Hover</MudSwitch>
                <MudSwitch @bind-Checked="@dense" Color="Color.Secondary">Dense</MudSwitch>
            </SectionContent>
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>

@code {
    bool dense = false;
    bool hover = true;
    string search_string = "";

    bool FilterFunc(Element element)
    {
        if (string.IsNullOrWhiteSpace(search_string))
            return true;
        if (element.Sign.Contains(search_string))
            return true;
        if (element.Name.Contains(search_string))
            return true;
        if ($"{element.Number} {element.Position} {element.Molar}".Contains(search_string))
            return true;
        return false;
    }

    string Markdown_Table = @"```html
// To Do
```";
}
