@namespace MudBlazor.Docs.Examples

<MudPaper Width="300px" Elevation="0">
    <MudTreeView @bind-SelectedValue="SelectedValue" @bind-SelectedValues="SelectedValues" @bind-SelectionMode="SelectionMode" Hover="true">
        <MudTreeViewItem @bind-Expanded="@FolderOneExpanded" Value="@(".vscode")" Icon="@(FolderOneExpanded ? Icons.Custom.Uncategorized.FolderOpen : Icons.Custom.Uncategorized.Folder)">
            <MudTreeViewItem Value="@("launch.json")" Icon="@Icons.Custom.FileFormats.FileCode" />
            <MudTreeViewItem Value="@("tasks.json")" Icon="@Icons.Custom.FileFormats.FileCode" />
        </MudTreeViewItem>
        <MudTreeViewItem @bind-Expanded="@FolderTwoExpanded" Value="@("content")" Icon="@(FolderTwoExpanded ? Icons.Custom.Uncategorized.FolderOpen : Icons.Custom.Uncategorized.Folder)">
            <MudTreeViewItem Value="@("logo.png")" Icon="@Icons.Custom.FileFormats.FileImage" />
        </MudTreeViewItem>
    </MudTreeView>
</MudPaper>

<MudPaper Width="300px" Elevation="0">
    <MudTreeView @bind-SelectedValue="SelectedValue" @bind-SelectedValues="SelectedValues" @bind-SelectionMode="SelectionMode" Hover="true">
        <MudTreeViewItem @bind-Expanded="@FolderOneExpanded" Value="@(".vscode")" Icon="@(FolderOneExpanded ? Icons.Custom.Uncategorized.FolderOpen : Icons.Custom.Uncategorized.Folder)">
            <MudTreeViewItem Value="@("launch.json")" Icon="@Icons.Custom.FileFormats.FileCode" />
            <MudTreeViewItem Value="@("tasks.json")" Icon="@Icons.Custom.FileFormats.FileCode" />
        </MudTreeViewItem>
        <MudTreeViewItem @bind-Expanded="@FolderTwoExpanded" Value="@("content")" Icon="@(FolderTwoExpanded ? Icons.Custom.Uncategorized.FolderOpen : Icons.Custom.Uncategorized.Folder)">
            <MudTreeViewItem Value="@("logo.png")" Icon="@Icons.Custom.FileFormats.FileImage" />
        </MudTreeViewItem>
    </MudTreeView>
</MudPaper>

<MudStack Row style="width:100%; justify-content: center">
    <div style="max-width: 300px">
        <MudSelect @bind-Value="SelectionMode">
            <MudSelectItem Value="SelectionMode.SingleSelection"></MudSelectItem>
            <MudSelectItem Value="SelectionMode.ToggleSelection"></MudSelectItem>
            <MudSelectItem Value="SelectionMode.MultiSelection"></MudSelectItem>
        </MudSelect>
    </div>
    <MudText Typo="@Typo.subtitle1">Selected item: @SelectedValue</MudText>
</MudStack>

@code {
    public string SelectedValue = "tasks.json";
    public IReadOnlyCollection<string> SelectedValues = ["tasks.json"];
    public bool FolderOneExpanded = true;
    public bool FolderTwoExpanded;
    public SelectionMode SelectionMode = SelectionMode.SingleSelection;
}