@page "/components/dialog"
@page "/components/MudDialog"
@page "/components/MudDialogInstance"
@page "/components/MudDialogProvider"

<DocsPage>
    <DocsPageHeader Title="Dialog">
        <Description>A dialog will overlay your current app content, providing the user with either information, a choice, or other tasks.</Description>
    </DocsPageHeader>
    <DocsPageContent>

        <DocsPageSection>
            <MudText Typo="Typo.h6" GutterBottom="true">Note</MudText>
            <MudText>The Dialog is dependant on <CodeInline Class="docs-code-tertiary">IDialogService</CodeInline> and <CodeInline>MudDialogProvider</CodeInline></MudText>
            <MudText>Check the <MudLink Href="/getting-started/installation">Installation</MudLink> page for instructions regarding default setup.</MudText>
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader Title="Usage">
                <Description>
                    Suppose you define a <CodeInline>MudDialog</CodeInline> in <CodeInline Class="docs-code-tertiary">TermsOfServiceDialog.razor</CodeInline>.
                    To show the dialog you simply call:
                    <p>
                        <CodeInline>DialogService.Show&lt;<CodeInline Class="docs-code-tertiary">TermsOfServiceDialog</CodeInline>&gt;("Terms");</CodeInline>
                    </p>
                    The advantage of having the dialog in its own Razor component is obviously the ability to reuse it throughout your code-base.
                    You can pass parameters to your dialog on show which allow you to load the dialog with custom data.
                    <br />
                    <MudAlert Class="my-3" Severity="Severity.Info">
                        Note: Even though it is technically possible to show any razor component as a dialog it is highly recommended to use a <CodeInline Tag="true">MudDialog</CodeInline> as the top-level of your dialogs!
                    </MudAlert>
                </Description>
            </SectionHeader>
            <SectionContent Codes="@(new[] {new CodeFile("Page.razor", nameof(DialogUsageExample)), new CodeFile("Dialog.razor", nameof(DialogUsageExample_Dialog))})">
                <DialogUsageExample />
            </SectionContent>
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader Title="Configuration">
                <Description>
                    The dialog's default behavior can be changed in two ways, either globally with parameters in the <CodeInline>&lt;MudDialogProvider/&gt;</CodeInline> or pass down the <CodeInline>DialogOptions</CodeInline> class when you open the dialog.
                </Description>
            </SectionHeader>
            <SectionSubGroups>

                <DocsPageSection>
                    <SectionHeader Title="Global Settings">
                        <Description>In the file where you added <CodeInline>&lt;MudDialogProvider/&gt;</CodeInline>, we can pass down different options as parameters. See <MudLink Href="/getting-started/installation">installation page</MudLink> for more information regarding this.</Description>
                    </SectionHeader>
                    <SectionContent Code="@nameof(DialogConfigurationExample)" />
                </DocsPageSection>

                <DocsPageSection>
                    <SectionHeader Title="Per Dialog">
                        <Description>
                            Below we pass along the DialogOptions class when we open the dialog, this can be done per dialog or you can predefine a bunch of them that you use for specific cases in your system.<br />
                        </Description>
                    </SectionHeader>
                    <SectionContent Codes="@(new[] {new CodeFile("Page.razor", nameof(DialogOptionsExample)), new CodeFile("Dialog.razor", nameof(DialogOptionsExample_Dialog))})">
                        <DialogOptionsExample />
                    </SectionContent>
                </DocsPageSection>

                <DocsPageSection>
                    <SectionHeader Title="From dialog">
                        <Description>
                            The title and the options can also be modified from the dialog component itself by calling <CodeInline>SetTitle</CodeInline> and <CodeInline>SetOptions</CodeInline> on the <CodeInline>MudDialogInstance</CodeInline> object.
                        </Description>
                    </SectionHeader>
                    <SectionContent Codes="@(new[] {new CodeFile("Page.razor", nameof(DialogSetOptionsExample)), new CodeFile("Dialog.razor", nameof(DialogSetOptionsExample_Dialog))})">
                        <DialogSetOptionsExample />
                    </SectionContent>
                </DocsPageSection>

            </SectionSubGroups>
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader Title="Templating and Passing Simple Data">
                <Description>In this section, we will demonstrate how you can build one dialog and reuse it for multiple purposes.</Description>
            </SectionHeader>
            <SectionContent Codes="@(new[] {new CodeFile("Page.razor", nameof(DialogTemplateExample)), new CodeFile("Dialog.razor", nameof(DialogTemplateExample_Dialog))})">
                <DialogTemplateExample />
            </SectionContent>
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader Title="Passing Data">
                <Description>Here is a little more advanced use case. We will use the same dialog but feed it with different server data and then mimic a delete operation.</Description>
            </SectionHeader>
            <SectionContent Codes="@(new[] {new CodeFile("Page.razor", nameof(DialogPassingDataExample)), new CodeFile("Dialog.razor", nameof(DialogPassingDataExample_Dialog))})">
                <DialogPassingDataExample />
            </SectionContent>
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader Title="Scrollable Dialog">
                <Description>Quick example on how content that exeeds the available height becomes scrollable.</Description>
            </SectionHeader>
            <SectionContent Codes="@(new[] {new CodeFile("Page.razor", nameof(DialogScrollableExample)), new CodeFile("Dialog.razor", nameof(DialogScrollableExample_Dialog))})">
                <DialogScrollableExample />
            </SectionContent>
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader Title="Blurry Dialog">
                <Description>Dialog background can be changed via <CodeInline>BackgroundClass</CodeInline> dialog option.</Description>
            </SectionHeader>
            <SectionContent Codes="@(new[] {new CodeFile("Page.razor", nameof(DialogBlurryExample)), new CodeFile("Dialog.razor", nameof(DialogBlurryExample_Dialog))})">
                <DialogBlurryExample />
            </SectionContent>
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader Title="Inlining Dialog">
                <Description>
                    You can inline <CodeInline>MudDialog</CodeInline> directly in another component which, of course, makes most sense for small dialogs that are not re-used somewhere else.
                    The advantage is that you can easily share code and data between dialog and owning component via bindings.
                    <br />
                    This example also shows how to override the dialog title with a render fragment.
                </Description>
            </SectionHeader>
            <SectionContent Code="@nameof(DialogInlineExample)">
                <DialogInlineExample />
            </SectionContent>
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader Title="Nested Inline Dialogs">
                <Description>
                    You can inline a <CodeInline>MudDialog</CodeInline> within another <CodeInline>MudDialog</CodeInline>, even in another inline dialog. This example shows both ways of nesting
                    an inline dialog.
                </Description>
            </SectionHeader>
            <SectionContent Codes="@(new[] {new CodeFile("Page.razor", nameof(DialogNestedInlineExample)), new CodeFile("Dialog.razor", nameof(DialogNestedInlineExample_Dialog))})">
                <DialogNestedInlineExample />
            </SectionContent>
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader Title="Nested Dialogs and Cancel All">
                <Description>
                    It is possible to open multiple dialogs at the same time.
                    <br />
                    This example also shows how to open a second dialog and cancel all dialogs at once.
                </Description>
            </SectionHeader>
            <SectionContent Codes="@(new[] {new CodeFile("Page.razor", nameof(DialogNestedExample)), new CodeFile("Dialog.razor", nameof(DialogNestedExample_Dialog)), new CodeFile("Dialog2.razor", nameof(DialogNestedExample_Dialog2))})">
                <DialogNestedExample />
            </SectionContent>
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader Title="Keyboard Navigation">
                <Description>
                    <MudText>MudDialog accepts keys to keyboard navigation.</MudText>
                    <br />
                    <MudText><CodeInline>Escape</CodeInline> key to close dialog. Closing a dialog by pressing escape has to be enabled by setting option <CodeInline>CloseOnEscapekey=true</CodeInline></MudText>
                </Description>
            </SectionHeader>
            <SectionContent Codes="@(new[] {new CodeFile("Page.razor", nameof(DialogKeyboardNavigationExample)), new CodeFile("Dialog.razor", nameof(DialogKeyboardNavigationExample_Dialog))})">
                <DialogKeyboardNavigationExample />
            </SectionContent>
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader Title="Focus Trap">
                <Description>
                    Dialog uses the FocusTrap-Component to keep the keyboard-focus within. By default, the first element is focused With <CodeInline>DefaultFocus</CodeInline> you can change the behaviour to, for example, focus the last element.
                </Description>
            </SectionHeader>
            <SectionContent Codes="@(new[] {new CodeFile("Page.razor", nameof(DialogFocusExample)), new CodeFile("Dialog.razor",nameof(DialogFocusExample_Dialog))})">
                <DialogFocusExample />
            </SectionContent>
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader Title="Custom Styling">
                <Description>
                    Classes can be applied to the title, content, and action button sections, or the dialog itself, to make customization easier.
                </Description>
            </SectionHeader>
            <SectionContent Codes="@(new[] {new CodeFile("Page.razor", nameof(DialogStylingExample)), new CodeFile("Dialog.razor", nameof(DialogStylingExample_Dialog))})">
                <DialogStylingExample />
            </SectionContent>
        </DocsPageSection>

    </DocsPageContent>
</DocsPage>
