@namespace MudBlazor.Docs.Examples

<div style="display:block">
    <MudTabs Elevation="1">
        <MudTabPanel Icon="@Icons.Material.Api" LiveData='"live"' />
        <MudTabPanel Icon="@Icons.Material.Build" LiveData='"..."' />
        <MudTabPanel Icon="@Icons.Material.BugReport" LiveData='"99+"' />
    </MudTabs>
    <br />
    <MudTabs Elevation="1">
        <MudTabPanel Icon="@Icons.Material.Api" Text="API" LiveData='"!"' />
        <MudTabPanel Icon="@Icons.Material.Build" Text="Build" LiveData="1" />
        <MudTabPanel Icon="@Icons.Material.BugReport" Text="Bugs" LiveData="0" />
    </MudTabs>
    <br />
    <MudTabs Elevation="1">
        <MudTabPanel Text="API" LiveData='"S"' />
        <MudTabPanel Text="Build" LiveData='"..."' />
        <MudTabPanel Text="Bugs" LiveData='"N"' />
    </MudTabs>
</div>
