@namespace MudBlazor
@inherits MudComponentBase


<div class="@TabsClassnames" style="@Style">
    <CascadingValue Value="this" IsFixed="true">
        <div class="@ToolbarClassnames">
            <div class="mud-tabs-toolbar-inner" style="@MaxHeightStyles">
                @if(_showScrollButtons)
                {
                    <div class="mud-tabs-scroll-button">
                        <MudIconButton Icon="@PrevIcon" Color="@ScrollIconColor" OnClick="@((e) => ScrollPrev())" Disabled="@_prevButtonDisabled" />
                    </div>
                }  
                <div @ref="@TabsContentSize" class="mud-tabs-toolbar-content">
                    <div class="@WrapperClassnames" style="@WrapperScrollStyle">
                        @foreach (MudTabPanel panel in Panels)
                        {
                            <MudTooltip Placement="@GetTooltipPlacement()" Text="@panel.ToolTip">
                                <div @ref="panel.PanelRef" class="@GetTabClass(panel)" style="@GetTabStyle(panel)" @onclick=@( e => ActivatePanel(panel, e, false) )>
                                    @if (!String.IsNullOrEmpty(panel.Text) && String.IsNullOrEmpty(panel.Icon))
                                    {
                                        @panel.Text
                                    }
                                    else if (String.IsNullOrEmpty(panel.Text) && !String.IsNullOrEmpty(panel.Icon))
                                    {
                                        <MudIcon Icon="@panel.Icon" Color="@IconColor" />
                                    }
                                    else if (!String.IsNullOrEmpty(panel.Text) && !String.IsNullOrEmpty(panel.Icon))
                                    {
                                        <MudIcon Icon="@panel.Icon" Color="@IconColor" Class="mud-tab-icon-text" />
                                        @panel.Text
                                    }
                                    @if (panel.BadgeData != null)
                                    {
                                        <MudBadge Content="@panel.BadgeData" Color="@panel.BadgeColor" Class="mud-tab-badge" />
                                    }
                                </div>
                            </MudTooltip>
                        }
                        @if (!HideSlider)
                        {
                            <div class="@SliderClass" style="@SliderStyle"></div>
                        }
                    </div>
                </div>
                @if(_showScrollButtons)
                {
                    <div class="mud-tabs-scroll-button">
                        <MudIconButton Icon="@NextIcon" Color="@ScrollIconColor" OnClick="@((e) => ScrollNext())" Disabled="@_nextButtonDisabled" />
                    </div>
                }  
            </div>
        </div>
        <div class="@PanelsClassnames">
            @ChildContent
        </div>
    </CascadingValue>
</div>


