@namespace MudBlazor
@inherits MudComponentBase


<div class="mud-tabs">
    <CascadingValue Value="this">
        <div class="@Classname">
            <div class="mud-tabs-toolbar">
                <div class="mud-tabs-toolbar-wrapper">
                    @foreach (MudTabPanel panel in Panels)
                    {
                        <div class="@GetTabClass(panel)" @onclick=@( () => ActivatePanel(panel) )>@panel.Text</div>
                    }
                    <div class="mud-tab-active-slider" style="width: calc(100% / @Panels.Count()); left: calc((100% / @Panels.Count()) * @ActivePanelIndex);"></div>
                </div>
            </div>
        </div>
        <div class="mud-tabs-panels">
            @ChildContent
        </div>
    </CascadingValue>
</div>
    

