@namespace MudBlazor
@inherits ComponentBaseInput



<div class="@Classname">
    <input type="@InputType" class="mud-input" @bind="@Value" placeholder="@Placeholder" disabled=@Disabled readonly="@ReadOnly" />
</div>