@namespace MudBlazor
@inherits ComponentBaseInput



<div class="@Classname">
    <input type="@_InputType" class="@InputClassname" @bind="@Value" placeholder="@Placeholder" disabled=@Disabled readonly="@ReadOnly" />
</div>