@namespace MudBlazor.InternalComponents.InputAdornment



<div class="@Class">
    @if (!string.IsNullOrEmpty(Text))
    {
        <MudText>@Text</MudText>
    }
    else if (!string.IsNullOrEmpty(Icon))
    {
        @if (AdornmentClick.HasDelegate)
        {
            <MudIconButton Icon="@Icon" OnClick="@AdornmentClick" Edge="@Edge" Size="Size.Medium" Color="Color.Default" />
        }
        else
        {
            <MudIcon Icon="@Icon" Size="@Size" Color="Color.Default"/>
        }
    }
</div>


@code {
    [Parameter] public string Class { get; set; }
    [Parameter] public string Text { get; set; }
    [Parameter] public string Icon { get; set; }
    [Parameter] public Edge Edge { get; set; }
    [Parameter] public Size Size { get; set; }

    [Parameter] public EventCallback<MouseEventArgs> AdornmentClick { get; set; }
}
