@namespace MudBlazor
@inherits MudBaseInputText



<div class="@Classname" style="@Style">
    <input type="@_InputType" class="@InputClassname" @bind="@Value" placeholder="@Placeholder" disabled=@Disabled readonly="@ReadOnly" />
</div>