@namespace MudBlazor.Internal

<div class="@Class">
    @if (!string.IsNullOrWhiteSpace(Text))
    {
        <MudText Color="@Color" tabindex="-1">@Text</MudText>
    }
    else if (!string.IsNullOrWhiteSpace(Icon))
    {
        <MudIconButton Icon="@Icon" OnClick="@AdornmentClick" Size="Size.Small" Color="@Color" aria-label="@AriaLabel" tabindex="-1" />
    }
</div>
