@namespace MudBlazor.Internal

<div class="@Class">
    @if (!string.IsNullOrWhiteSpace(Text))
    {
        <MudText Color="@Color" tabindex="-1">@Text</MudText>
    }
    else if (!string.IsNullOrWhiteSpace(Icon))
    {
        @if (AdornmentClick.HasDelegate)
        {
            <MudIconButton Class="mud-input-adornment-icon-button" Icon="@Icon" OnClick="@AdornmentClick" Edge="@Edge" Size="@Size" Color="@Color" aria-label="@AriaLabel" tabindex="-1" />
        }
        else
        {
            <MudIcon Class="mud-input-adornment-icon" Icon="@Icon" Size="@Size" Color="@Color" aria-label="@AriaLabel" tabindex="-1" />
        }
    }
</div>
