@namespace MudBlazor
@inherits MudBaseInputText
@using MudBlazor.InternalComponents.InputAdornment



<div class="@Classname" style="@Style">
    @if (Adornment == Adornment.Start)
    {
        <MudInputAdornment Class="@AdornmentClassname" Icon="@AdornmentIcon" Size="@IconSize" Text="@AdornmentText" Edge="@Edge.Start" AdornmentClick="@OnAdornmentClick"/>
    }
    <input @attributes="UserAttributes" type="@_InputType" class="@InputClassname" @bind-value="@Value" @bind-value:event="@((Immediate ? "oninput" : "onchange"))"
            placeholder="@Placeholder" disabled=@Disabled readonly="@ReadOnly"/>
    @if (Adornment == Adornment.End)
    {
        <MudInputAdornment Class="@AdornmentClassname" Icon="@AdornmentIcon" Size="@IconSize" Text="@AdornmentText" Edge="@Edge.End" AdornmentClick="@OnAdornmentClick" />
    }
</div>