@namespace MudBlazor
@typeparam T
@inherits MudComponentBase

<div tabindex="0" @attributes="UserAttributes" class="@Classname" style="@Style" @onclick="EventUtil.AsNonRenderingEventHandler<MouseEventArgs>(OnClickAsync)">
    @{
        if (AvatarContent is not null)
        {
            @AvatarContent
        }
        else if (!string.IsNullOrEmpty(Icon) && !ShowCheckMark)
        {
            <MudIcon Icon="@Icon" Class="mud-chip-icon" Size="Size.Small" Color="@IconColor" />
        }
        else if (ShowCheckMark)
        {
            <MudIcon Icon="@CheckedIcon" Class="mud-chip-icon" Size="Size.Small" />
        }
    }
    <span class="mud-chip-content">
        @if (ChildContent is null)
        {
            @if(Text is null) {
                @($"{Value}")
            }
            else {
                @Text
            }
        }
        else
        {
            @ChildContent
        }
        @if (OnClose.HasDelegate || ChipSet?.AllClosable == true)
        {
            <MudIconButton Class="mud-chip-close-button" Icon="@(String.IsNullOrEmpty(CloseIcon) ? $"{Icons.Material.Filled.Cancel}" : $"{CloseIcon}")" OnClick="OnCloseAsync" Size="Size.Small" />
        }
    </span>
</div>
