@namespace MudBlazor
@inherits MudComponentBase



<label class="@Classname">
    <span class="@CheckBoxClassname">
        <input @attributes="UserAttributes" type="checkbox" class="mud-checkbox-input" @bind="@Checked" disabled="@Disabled" />
        @if (Checked)
        {
            <svg class="mud-svg-icon-root" focusable="false" viewBox="0 0 24 24" role="presentation" aria-hidden="true">
                <path d="M19 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.11 0 2-.9 2-2V5c0-1.1-.89-2-2-2zm-9 14l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"></path>
            </svg> }
        else
        {
            <svg class="mud-svg-icon-root" focusable="false" viewBox="0 0 24 24" role="presentation" aria-hidden="true">
                <path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"></path>
            </svg>}
    </span>
    @if (!String.IsNullOrEmpty(Label))
    {
        <MudText>@Label</MudText>}
    @if (ChildContent != null)
    {
        <MudText>
            @ChildContent
        </MudText>}
</label>
