@namespace MudBlazor.UnitTests.TestComponents

<MudTabs KeepPanelsAlive="@KeepPanelsAlive">
    <MudTabPanel Text="Item One">
        <TabsKeepAlivePanel ComponentName="Panel 1" FirstRender="@((x)=>firstRenders.Add(x))"/>
    </MudTabPanel>
    <MudTabPanel Text="Item Two">
        <TabsKeepAlivePanel ComponentName="Panel 2" FirstRender="@((x)=>firstRenders.Add(x))" />
    </MudTabPanel>
    <MudTabPanel Text="Item Three">
        <TabsKeepAlivePanel ComponentName="Panel 3" FirstRender="@((x)=>firstRenders.Add(x))" />
    </MudTabPanel>
</MudTabs>

<p>
    @foreach (var firstRender in firstRenders)
    {
        @firstRender<br />
    }
</p>

@code {

    [Parameter]
    public bool KeepPanelsAlive { get; set; } = true;

    List<string> firstRenders = new List<string>();
}