@namespace MudBlazor
@inherits MudComponentBase

<li @attributes="UserAttributes" class="@Classname" style="@Style">
    <div class="@ContentClassname" @onclick="OnItemClicked" @onclick:stopPropagation="true">
        <div class="mud-tree-item-collapse-icon">
            @if (ChildContent != null)
            {
                <MudIconButton OnClick="OnExpandClick" Icon="@(Expanded ? Icons.Material.ArrowDropDown : Icons.Material.ArrowRight)"></MudIconButton>
            }
        </div>

        @if (MudTreeRoot.Selectable)
        {
            <MudCheckBox @bind-Checked="Selected"></MudCheckBox> 
        }

        @if (!string.IsNullOrEmpty(Icon))
        {
            <div class="mud-tree-item-icon">
                <MudIcon Icon="@Icon" Color="@IconColor" />
            </div>
        }
        else if (IconContent != null)
        {
            <div class="mud-tree-item-icon">
                @IconContent
            </div>
        }

        @if (Content != null)
        {
            <div class="mud-tree-item-label">
                @Content
            </div> 
        }
        else if (!string.IsNullOrEmpty(Text))
        {
            <MudText Typo="@TextTypo" Class="@TextClassname">
                @Text
            </MudText>            
        }

        @if (!string.IsNullOrEmpty(EndText))
        {            
            <MudText Typo="@EndTextTypo" Class="@EndTextClass">
                @EndText
            </MudText>  
        }
    </div>
        
    @if (ChildContent != null)
    {
        <MudCollapse Expanded="@Expanded">
            <CascadingValue Value="@MudTreeRoot">
                <CascadingValue Value="this">
                    <MudTree Class="mud-tree-group">
                        @ChildContent
                    </MudTree>
                </CascadingValue>
            </CascadingValue>
        </MudCollapse>
    }
</li>