@namespace MudBlazor
@using MudBlazor.Extensions
@inherits MudComponentBase

<div @attributes="UserAttributes" class="@DivClassname" style="@Style" role="progressbar" aria-valuenow="@_value" aria-valuemin="@_min" aria-valuemax="@_max">
    @if(ChildContent != null)
    {
        <div class="mud-progress-linear-content">
            @ChildContent
        </div>
    }
    <div class="absolute mud-width-full mud-height-full overflow-hidden">
        @if (Indeterminate)
        {
            <div class="@LinearClassname mud-progress-linear-1-indeterminate"></div>
            <div class="@LinearClassname mud-progress-linear-2-indeterminate"></div>
        }
        else if (Buffer)
        {
            <div class="@BufferClassname"></div>
            <div class="mud-progress-linear-bar mud-@Color.ToDescriptionString() mud-progress-linear-bar-1-buffer" style="@GetStyledBar1Transform()"></div>
            <div class="mud-progress-linear-bar mud-progress-linear-color-@Color.ToDescriptionString() mud-progress-linear-bar-2-buffer" style="@GetStyledBar2Transform()"></div>
        }
        else
        {
            <div class="@LinearClassname" style="@GetStyledBar1Transform()"></div>
        }
    </div>
</div>
