@namespace MudBlazor
@inherits MudTableBase
@using MudBlazor.Extensions
@typeparam T

<div @attributes="UserAttributes" class="@Classname" style="@Style">
    <CascadingValue Value="TableContext">
        @if (ToolBarContent != null)
        {
            <MudToolBar Class="mud-table-toolbar">
                @ToolBarContent
            </MudToolBar>
        }
        <div class="mud-table-container" style="@TableStyle">
            <table class="mud-table-root">
                @if (HeaderContent != null)
                {
                    <thead class="mud-table-head">
                        <MudTr>
                            @if (MultiSelection)
                            {
                                <MudTh>
                                    <MudCheckBox CheckedChanged="@OnHeaderCheckboxClicked"></MudCheckBox>
                                </MudTh>
                            }
                            @HeaderContent
                        </MudTr>
                    </thead>
                }
                <tbody class="mud-table-body">
                    @foreach (var item in CurrentPageItems)
                    {
                        <MudTr Item="item" @key="item" IsCheckable="MultiSelection" IsCheckedChanged="@((value) => {var x=item; OnRowCheckboxChanged(value, x); })">
                            @RowTemplate(item)
                        </MudTr>
                    }
                </tbody>
            </table>
        </div>
        @if (PagerContent != null)
        {
            <div class="mud-table-pagination">
                    @PagerContent
            </div>
        }
    </CascadingValue>
</div>


@code
{
    // note: the MudTable code is split. Everything that has nothing to do with the type parameter of MudTable<T> is in MudTableBase

    /// <summary>
    /// 
    /// </summary>
    [Parameter] public RenderFragment<T> RowTemplate { get; set; }

    [Parameter] public IEnumerable<T> Items { get; set; }

    [Parameter] public Func<T, bool> Filter { get; set; } = null;

    [Parameter]
    public T SelectedItem
    {
        get => _selectedItem;
        set
        {
            if (Object.ReferenceEquals( SelectedItem , value))
                return;
            _selectedItem = value;
            SelectedItemChanged.InvokeAsync(value);
        }
    }
    private T _selectedItem;

    [Parameter] public EventCallback<T> SelectedItemChanged { get; set; }

    [Parameter]
    public HashSet<T> SelectedItems
    {
        get
        {
            if (!MultiSelection)
                return new HashSet<T>(new T[] {_selectedItem});
            else
                return Context.Selection;
        }
        set
        {
            if (value == Context.Selection)
                return;
            if (value == null)
            {
                if (Context.Selection.Count == 0)
                    return;
                Context.Selection = new HashSet<T>();
            }
            else
                Context.Selection = value;
            SelectedItemsChanged.InvokeAsync(Context.Selection);
            InvokeAsync(StateHasChanged);
        }
    }

    [Parameter] public EventCallback<HashSet<T>> SelectedItemsChanged { get; set; }

    protected IEnumerable<T> FilteredItems
    {
        get
        {
            if (Filter == null)
                return Items;
            return Items.Where(Filter);
        }
    }

    protected IEnumerable<T> CurrentPageItems
    {
        get
        {
            if (@PagerContent == null)
                return FilteredItems; // we have no pagination
            return GetItemsOfPage(CurrentPage, RowsPerPage);
        }
    }

    protected IEnumerable<T> GetItemsOfPage(int n, int pageSize)
    {
        if (n < 0 || pageSize <=0)
            return new T[0];
        return FilteredItems.Skip(n * pageSize).Take(pageSize);
    }

    protected override int NumPages => (int)Math.Ceiling(FilteredItems.Count() / (double) RowsPerPage);

    public override int GetFilteredItemsCount() => FilteredItems.Count();

    public override void SetSelectedItem(object item)
    {
        SelectedItem = item.As<T>();
    }

    public override TableContext TableContext
    {
        get
        {
            Context.Table = this;
            return Context;
        }
    }

    // TableContext provides shared functionality between all table sub-components 
    public TableContext<T> Context { get; } = new TableContext<T>();

    private void OnRowCheckboxChanged(bool value, T item)
    {
        if (value)
            Context.Selection.Add(item);
        else
            Context.Selection.Remove(item);
        SelectedItemsChanged.InvokeAsync(SelectedItems);
    }

    private void OnHeaderCheckboxClicked(bool value)
    {
        if (!value)
            Context.Selection.Clear();
        else
        {
            foreach (var item in FilteredItems)
                Context.Selection.Add(item);
        }
        Context.UpdateRowCheckBoxes();
        SelectedItemsChanged.InvokeAsync(SelectedItems);
    }

}
