@namespace MudBlazor
@inherits MudTableBase
@using MudBlazor.Utilities
@typeparam T

<div @attributes="UserAttributes" class="@Classname" style="@Style">
    <CascadingValue Value="TableContext" IsFixed="true">
        @if (ToolBarContent != null)
        {
            <MudToolBar Class="mud-table-toolbar">
                @ToolBarContent
            </MudToolBar>
        }
        @if (Context.SortLabels.Any())
        {
            <div Class="mud-table-smalldevices-sortselect">
                <MudSelect Value="@Context.CurrentSortLabel" Label="@SortLabel" ValueChanged="@(v => Context.SetSortFunc(v, override_direction_none:true))" T="MudTableSortLabel<T>">
                    @foreach (var label in Context.SortLabels)
                    {
                        <MudSelectItem Value="@label">@label.ChildContent</MudSelectItem>
                    }
                </MudSelect>
            </div>

        }
        <div class="mud-table-container" style="@TableStyle @(GetHorizontalScrollbarStyle())">
            <table class="mud-table-root">
                @if (ColGroup != null)
                {
                    <colgroup>
                        @ColGroup
                    </colgroup>
                }
                @if (HeaderContent != null)
                {
                    <thead class="@HeadClassname">
                        @if (CustomHeader)
                        {
                            @HeaderContent
                        }
                        else
                        {
                            <MudTHeadRow IsCheckable="MultiSelection" IsExpandable="@(GroupBy?.Expandable ?? false)">
                                @HeaderContent
                            </MudTHeadRow>
                        }
                    </thead>
                }
                <tbody class="mud-table-body">
                    @if (Loading)
                    {
                        <tr>
                            <td colspan="1000" class="mud-table-loading">
                                <MudProgressLinear Color="@LoadingProgressColor" Class="mud-table-loading-progress" Indeterminate="true" />
                            </td>
                        </tr>
                    }
                    @if(GroupBy != null)
                    {
                        @foreach (var group in GroupItemsPage)
                        {
                            <MudTableGroupRow GroupDefinition="GroupBy" Items="group" IsCheckable="MultiSelection" 
                                              HeaderClass="@GroupHeaderClass" HeaderStyle="@GroupHeaderStyle" 
                                              FooterClass="@GroupFooterClass" FooterStyle="@GroupFooterStyle"
                                              HeaderTemplate="@GroupHeaderTemplate" FooterTemplate="@GroupFooterTemplate" T="T"  />
                        }
                    }
                    else
                    {
                        @if (CurrentPageItems != null && CurrentPageItems.Count() > 0)
                        {
                            var rowIndex = 0;
                            <MudVirtualize IsEnabled="@Virtualize" Items="@CurrentPageItems?.ToList()" Context="item">
                               @{ var rowClass = new CssBuilder(RowClass).AddClass(RowClassFunc?.Invoke(item, rowIndex)).Build(); }
                               @{ var rowStyle = new StyleBuilder().AddStyle(RowStyle).AddStyle(RowStyleFunc?.Invoke(item, rowIndex)).Build(); }
                               <MudTr Class="@rowClass" Style="@rowStyle" Item="item" @key="item" IsCheckable="MultiSelection" IsEditable="RowEditingTemplate != null" 
                                      IsCheckedChanged="((value) => { var x = item; OnRowCheckboxChanged(value, x); })">

                                   @if ((!ReadOnly) && RowEditingTemplate != null && object.Equals(_editingItem, item))
                                   {
                                       <CascadingValue Value="Validator" IsFixed="true">
                                           @RowEditingTemplate(item)
                                       </CascadingValue>
                                   }
                                   else
                                   {
                                       @RowTemplate(item)
                                   }
                               </MudTr>
                               @if (ChildRowContent != null)
                               {
                                   @ChildRowContent(item)
                               }   
                               @{ rowIndex++; }
                            </MudVirtualize>
                        }
                        else if(Loading ? LoadingContent != null : NoRecordsContent != null)
                        {
                            <tr>
                                <th colspan="1000" class="mud-table-empty-row">
                                    <div Class="my-3">
                                        @if(Loading)
                                        {
                                            @LoadingContent
                                        }
                                        else
                                        {
                                            @NoRecordsContent
                                        }
                                    </div>
                                </th>
                            </tr>
                        }
                    }
                </tbody>
                @if (FooterContent != null)
                {
                    <tfoot class="@FootClassname">
                        @if (CustomFooter)
                        {
                            @FooterContent
                        }
                        else
                        {
                            <MudTFootRow IsCheckable="MultiSelection" IsExpandable="@(GroupBy?.Expandable ?? false)">
                                @FooterContent
                            </MudTFootRow>
                        }
                    </tfoot>
                }
            </table>
        </div>
        @if (PagerContent != null)
        {
            <div class="mud-table-pagination">
                @PagerContent
            </div>
        }
    </CascadingValue>
</div>
@code
{
    // moved to code to avoid repeatidelly code on markup block
    internal RenderFragment RenderRows(IEnumerable<T> source, string customClass = null, bool isExpandable = false)
    {
        var rowIndex = 0;
        return
        @<text>
            @foreach (T item in source)
            {
                var rowClass = new CssBuilder(RowClass).AddClass(RowClassFunc?.Invoke(item, rowIndex)).AddClass(customClass, ! string.IsNullOrEmpty("mud-table-row-group-indented-1")).Build();
                var rowStyle = new StyleBuilder().AddStyle(RowStyle).AddStyle(RowStyleFunc?.Invoke(item, rowIndex)).Build();
                <MudTr Class="@rowClass" Style="@rowStyle" Item="item" @key="item" IsCheckable="MultiSelection" IsEditable="RowEditingTemplate != null" IsExpandable="isExpandable"
                        IsCheckedChanged="((value) => { var x = item; OnRowCheckboxChanged(value, x); })">

                    @if ((!ReadOnly) && RowEditingTemplate != null && object.Equals(_editingItem, item))
                    {
                        <CascadingValue Value="Validator" IsFixed="true">
                            @RowEditingTemplate(item)
                        </CascadingValue>
                    }
                    else
                    {
                        @RowTemplate(item)
                    }
                </MudTr>
                @if (ChildRowContent != null)
                {
                    @ChildRowContent(item)
                }
                rowIndex++;
            }
        </text>;
     }
}