@namespace MudBlazor


<ToolBar Class="mud-table-pagination-toolbar">
    <div class="mud-table-pagination-spacer"></div>
    @if (!DisabelRowsPerPage)
    {
        <Typography Typo="Typo.body2" Class="mud-table-pagination-caption" GutterBottom="false">
            Rows per page:
        </Typography>
        <MudSelect SelectedValue="SetRowsPerPage">
            @foreach (int rows in RowsPerPage)
            {
                <MudSelectItem Value="@rows.ToString()">@rows.ToString().ToUpper();</MudSelectItem>
            }
        </MudSelect>
    }
    <Typography Typo="Typo.body2" Class="mud-table-pagination-caption" GutterBottom="false">
        1-5 of 13
    </Typography>
    <div class="mud-table-pagination-actions">
        <MudIconButton Icon="@Icons.Material.FirstPage" @onclick="@(() => Table.NavigateTo(Page.First))" />
        <MudIconButton Icon="@Icons.Material.NavigateBefore" @onclick="@(() => Table.NavigateTo(Page.Previous))" />
        <MudIconButton Icon="@Icons.Material.NavigateNext" @onclick="@(() => Table.NavigateTo(Page.Next))" />
        <MudIconButton Icon="@Icons.Material.LastPage" @onclick="@(() => Table.NavigateTo(Page.Last))" />
    </div>
</ToolBar>

