@namespace MudBlazor
@inherits MudComponentBase
@using MudBlazor.Extensions

@if(AvatarGroup == null || AvatarGroup.MaxGroupReached(this))
{
    <div @attributes="UserAttributes" class="@Classname" style="@Stylesname">
        @if (!String.IsNullOrEmpty(Image))
        {
            <img src="@Image" alt="@Alt" class="mud-avatar-img" loading="@Loading.ToDescriptionString()"/>
        }
        else
        {
            @ChildContent
        }
    </div>
}