@namespace MudBlazor
@inherits MudComponentBase

@if(AvatarGroup == null || AvatarGroup.MaxGroupReached(this))
{
    <div @attributes="UserAttributes" class="@Classname" style="@Stylesname">
        @if (!String.IsNullOrEmpty(Image))
        {
            if (!String.IsNullOrEmpty(Alt))
            {
                <img src="@Image" alt="@Alt" class="mud-avatar-img" />
            }
            else
            {
                <img src="@Image" class="mud-avatar-img" />
            }
        }
        else
        {
            @ChildContent
        }
    </div>
}