@page "/"
@layout MainLayout

@using BlazorFiddlePoC.Shared;
@using Microsoft.CodeAnalysis;

@inject ComponentCompilationService CompilationService
@inject IJSRuntime JsRuntime

<h1 class="text-center" style="padding-bottom: 20px">Repl for your Blazor component</h1>

<button class="btn btn-primary" @onclick="@Compile" disabled="@Loading">Compile</button>

<div class="row" style="margin-top: 10px; margin-bottom: 10px">
    <div class="col-md-6">
        <div id="user-code-editor" style="height: 500px; border: 1px solid #ccc"></div>
    </div>

    <div class="col-md-6 user-page-container">
        @if (Loading)
        {
            <div class="user-page-overlay"></div>
            <div class="d-flex justify-content-center user-page-loader">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div class="text-center user-page-loader-text">@LoaderText</div>
        }

        <iframe id="user-page-window" src="/user-page" style="width: 100%; height: 100%"></iframe>
    </div>
</div>

<div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
        <strong class="mr-auto">Error List</strong>
        <small>@ErrorsCount errors / @WarningsCount warnings</small>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Switch Visibility" @onclick="@ToggleDiagnostics">
            @if (AreDiagnosticsShown)
            {
                <span class="oi oi-chevron-bottom"></span>
            }
            else
            {
                <span class="oi oi-chevron-top"></span>
            }
        </button>
    </div>
    @if (AreDiagnosticsShown && Diagnostics.Any())
    {
        <div class="toast-body">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th scope="col">Severity</th>
                        <th scope="col">Code</th>
                        <th scope="col">Description</th>
                        @*<th scope="col">File</th>*@
                        <th scope="col">Line</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var diagnostic in Diagnostics)
                    {
                        <tr>
                            <td>@diagnostic.Severity</td>
                            <td>@diagnostic.Descriptor?.Id</td>
                            <td>@diagnostic.GetMessage()</td>
                            @*<td>@diagnostic.Descriptor</td>*@
                            <td>@(diagnostic.Location?.GetMappedLineSpan().StartLinePosition.Line - UserComponentCodeStartLine + 1)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>

@code {
    private const string UserComponentCodePrefix =
    @"@page ""/user-page""
@using System.Linq
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.JSInterop
@using Telerik.Blazor
@using Telerik.DataSource.Extensions
@using Telerik.Blazor.Components
";

    public IReadOnlyCollection<Diagnostic> Diagnostics { get; set; } = new List<Diagnostic>();
    public int ErrorsCount { get; set; }
    public int WarningsCount { get; set; }

    public bool AreDiagnosticsShown { get; set; }

    public string LoaderText { get; set; }

    public bool Loading { get; set; }

    public int UserComponentCodeStartLine { get; set; }

    public void ToggleDiagnostics() => AreDiagnosticsShown = !AreDiagnosticsShown;

    public async Task UpdateLoaderText(string loaderText)
    {
        LoaderText = loaderText;
        StateHasChanged();
        await Task.Delay(10); // Ensure rendering has time to be called
    }

    public async Task Compile()
    {
        Loading = true;
        LoaderText = "Processing";
        await Task.Delay(10); // Ensure rendering has time to be called

        var code = await JsRuntime.InvokeAsync<string>("window.editor.getValue");

        var result = await CompilationService.CompileToAssembly("UserPage.razor", UserComponentCodePrefix + code, UpdateLoaderText);

        Diagnostics = result.Diagnostics.OrderByDescending(x => x.Severity).ThenBy(x => x.Descriptor?.Id).ToList();

        ErrorsCount = Diagnostics.Count(d => d.Severity == DiagnosticSeverity.Error);
        WarningsCount = Diagnostics.Count(d => d.Severity == DiagnosticSeverity.Warning);

        AreDiagnosticsShown = true;
        Loading = false;

        if (result.AssemblyBytes != null && result.AssemblyBytes.Length > 0)
        {
            await JsRuntime.InvokeVoidAsync("window.readFile", result.AssemblyBytes);

            // TODO: Add error page in iframe
            await JsRuntime.InvokeVoidAsync("window.reloadIFrame", "user-page-window");
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JsRuntime.InvokeVoidAsync("window.initEditor", "user-code-editor");

            UserComponentCodeStartLine = UserComponentCodePrefix.Count(ch => ch == '\n');
        }

        await base.OnAfterRenderAsync(firstRender);
    }
}
