@page "/repl/{demoId:int}"
@page "/repl/"

@layout MainLayout

<nav class="navbar repl-navbar">
    <div class="container-fluid">
        <div class="navbar-header" style="color: #303133">
            <a href="/" class="navbar-brand">Blazor REPL</a>
            <button href="/" class="btn btn-link nav-action" @onclick="@Compile" disabled="@Loading" title="Run (Ctrl + S)">
                <i class="icon-play4"></i> RUN
            </button>
        </div>
    </div>
</nav>

<div class="row flex" style="margin: 0">
    <ReplLoader Show="@Loading" Message="@LoaderText"></ReplLoader>

    <div id="user-code-editor-container">
        <CodeEditor @ref="@CodeEditor" DefaultCode="@DemoCode"></CodeEditor>
    </div>
    <div id="user-page-window-container">
        <iframe id="user-page-window" src="/user-page" style="width: 100%; height: 100%"></iframe>
    </div>
</div>

<ErrorList @bind-Show="AreDiagnosticsShown"
           Diagnostics="Diagnostics"
           UserComponentCodeStartLine="UserComponentCodeStartLine"></ErrorList>
