@page "/repl/{snippetId}"
@page "/repl/"

@layout MainLayout

<nav class="navbar repl-navbar">
    <div class="container-fluid">
        <div class="navbar-header" style="color: #303133">
            <a href="/" class="navbar-brand">Blazor REPL</a>
            <button class="btn btn-link nav-action" @onclick="@CompileAsync" disabled="@Loading" title="Run (Ctrl + S)">
                <i class="icon-play4"></i> RUN
            </button>
            <button @onclick="@ShowSaveSnippetPopup" class="btn btn-link nav-action" id="save-snippet-btn" title="Save public snippet">
                <i class="icon-floppy-disk"></i> SAVE
            </button>
        </div>
    </div>
</nav>

<SaveSnippetPopup @bind-Visible="@SaveSnippetPopupVisible"
                  InvokerId="save-snippet-btn"
                  CodeFiles="@CodeFiles.Values"
                  UpdateActiveCodeFileContentFunc="UpdateActiveCodeFileContentAsync"></SaveSnippetPopup>

<div class="row flex" style="margin: 0">
    <ReplLoader Show="@Loading"
                Message="@LoaderText"></ReplLoader>

    <div id="user-code-editor-container">
        <TabManager Tabs="@CodeFileNames"
                    OnTabActivate="@HandleTabActivateAsync"
                    OnTabClose="@HandleTabClose"
                    OnTabCreate="@HandleTabCreate"></TabManager>

        <CodeEditor @ref="@CodeEditorComponent"
                    Code="@CodeEditorContent"></CodeEditor>
    </div>
    <div id="user-page-window-container">
        <iframe id="user-page-window" src="@MainUserPagePath" style="width: 100%; height: 100%"></iframe>
    </div>
</div>

<ErrorList @bind-Show="@AreDiagnosticsShown"
           Diagnostics="@Diagnostics"></ErrorList>
