@namespace MudBlazor
@inherits MudComponentBase

<span tabindex="@(Disabled?-1:0)" @onkeydown="HandleKeyDownAsync" @attributes="UserAttributes" class="@ClassName" style="@Style" >
    <CascadingValue Value="this" >
        @for (int i = 1; i <= MaxValue; i++)
        {
            var currentValue = i;
            <MudRatingItem Class="@RatingItemsClass" Style="@RatingItemsStyle" ItemValue="@currentValue"
                           Ripple="@Ripple" Disabled="Disabled" ReadOnly="ReadOnly" Color="Color"
                           Size="Size" ItemClicked="HandleItemClickedAsync" ItemHovered="HandleItemHoveredAsync" />
        }
    </CascadingValue>
</span>