@page "/components/inputs/button"

<DocsPage>
    <DocsPageHeader>
        <Title>Button</Title>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Filled Buttons</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <Button Variant="Variant.Filled">Default</Button>
                <Button Variant="Variant.Filled" Color="Color.Primary">Primary</Button>
                <Button Variant="Variant.Filled" Color="Color.Secondary">Secondary</Button>
                <Button Variant="Variant.Filled" Disabled="true">Disabled</Button>
            </SectionContent>
            <SectionSource Code="@Markdown_Filled"></SectionSource>
            <Typography>Elevation can be removed with the DisableElevation bool.</Typography>
            <SectionContent Outlined="true">
                <Button Variant="Variant.Filled" DisableElevation="true" Color="Color.Primary">Disable elevation</Button>
            </SectionContent>
            <SectionSource Code="@Markdown_DisabledElevation"></SectionSource>
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader>
                <Title>Text Buttons</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <Button Variant="Variant.Text">Default</Button>
                <Button Variant="Variant.Text" Color="Color.Primary">Primary</Button>
                <Button Variant="Variant.Text" Color="Color.Secondary">Secondary</Button>
                <Button Variant="Variant.Text" Disabled="true">Disabled</Button>
            </SectionContent>
            <SectionSource Code="@Markdown_Text"></SectionSource>
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader>
                <Title>Outlined Buttons</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <Button Variant="Variant.Outlined">Default</Button>
                <Button Variant="Variant.Outlined" Color="Color.Primary">Primary</Button>
                <Button Variant="Variant.Outlined" Color="Color.Secondary">Secondary</Button>
                <Button Variant="Variant.Outlined" Disabled="true">Disabled</Button>
            </SectionContent>
            <SectionSource Code="@Markdown_Outlined"></SectionSource>
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader>
                <Title>Sizes</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <SectionContentRow>
                    <Button Variant="Variant.Text" Size="Size.Small">Small</Button>
                    <Button Variant="Variant.Text" Size="Size.Medium">Medium</Button>
                    <Button Variant="Variant.Text" Size="Size.Large">Large</Button>
                </SectionContentRow>
                <SectionContentRow>
                    <Button Variant="Variant.Outlined" Size="Size.Small" Color="Color.Secondary">Small</Button>
                    <Button Variant="Variant.Outlined" Size="Size.Medium" Color="Color.Secondary">Medium</Button>
                    <Button Variant="Variant.Outlined" Size="Size.Large" Color="Color.Secondary">Large</Button>
                </SectionContentRow>
                <SectionContentRow>
                    <Button Variant="Variant.Filled" Size="Size.Small" Color="Color.Primary">Small</Button>
                    <Button Variant="Variant.Filled" Size="Size.Medium" Color="Color.Primary">Medium</Button>
                    <Button Variant="Variant.Filled" Size="Size.Large" Color="Color.Primary">Large</Button>
                </SectionContentRow>
                <SectionContentRow>
                    <IconButton Icon="@Icons.Material.Delete" Size="Size.Small"></IconButton>
                    <IconButton Icon="@Icons.Material.Delete" Size="Size.Medium"></IconButton>
                    <IconButton Icon="@Icons.Material.Delete" Size="Size.Large"></IconButton>
                </SectionContentRow>
            </SectionContent>
            <SectionSource Code="@Markdown_Sizes"></SectionSource>
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader>
                <Title>Buttons with icons and label</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <Button Variant="Variant.Filled" StartIcon="@Icons.Material.Delete" Color="Color.Secondary">Delete</Button>
                <Button Variant="Variant.Filled" EndIcon="@Icons.Material.Send" Color="Color.Primary">Send</Button>
                <Button Variant="Variant.Filled" StartIcon="@Icons.Material.CloudUpload">Upload</Button>
                <Button Variant="Variant.Filled" StartIcon="@Icons.Material.Mic" Disabled="true">Talk</Button>
                <Button Variant="Variant.Filled" StartIcon="@Icons.Material.Save" Color="Color.Primary" Size="Size.Small">Save</Button>
                <Button Variant="Variant.Filled" StartIcon="@Icons.Material.Save" Color="Color.Primary" Size="Size.Large">Save</Button>
            </SectionContent>
            <SectionSource Code="@Markdown_ButtonsWithIcons"></SectionSource>
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader>
                <Title>Customized Buttons</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <Button Variant="Variant.Filled"
                        EndIcon="@Icons.Material.ArrowDownward"
                        Style="background-color: yellowgreen; color: white; width: 200px; height: 60px;">
                    Download Now
                </Button>
            </SectionContent>
            <SectionSource Code="@Mardown_ButtonsCustomStyle"></SectionSource>
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>



@code { string Markdown_Filled = @"```html
<Button Variant=""Variant.Filled"">Default</Button>
<Button Variant=""Variant.Filled"" Color=""Color.Primary"">Primary</Button>
<Button Variant=""Variant.Filled"" Color=""Color.Secondary"">Secondary</Button>
<Button Variant=""Variant.Filled"" Disabled=""true"">Disabled</Button>
```";
    string Markdown_DisabledElevation = @"```html
<Button Variant=""Variant.Filled"" DisableElevation=""true"" Color=""Color.Primary"">Disable elevation</Button>
```";
    string Markdown_Text = @"```html
<Button Variant=""Variant.Text"">Default</Button>
<Button Variant=""Variant.Text"" Color=""Color.Primary"">Primary</Button>
<Button Variant=""Variant.Text"" Color=""Color.Secondary"">Secondary</Button>
<Button Variant=""Variant.Text"" Disabled=""true"">Disabled</Button>
```";
    string Markdown_Outlined = @"```html
<Button Variant=""Variant.Outlined"">Default</Button>
<Button Variant=""Variant.Outlined"" Color=""Color.Primary"">Primary</Button>
<Button Variant=""Variant.Outlined"" Color=""Color.Secondary"">Secondary</Button>
<Button Variant=""Variant.Outlined"" Disabled=""true"">Disabled</Button>
```";
    string Markdown_Sizes = @"```html
<Button Variant=""Variant.Text"" Size=""Size.Small"">Small</Button>
<Button Variant=""Variant.Text"" Size=""Size.Medium"">Medium</Button>
<Button Variant=""Variant.Text"" Size=""Size.Large"">Large</Button>
<Button Variant=""Variant.Outlined"" Size=""Size.Small"" Color=""Color.Secondary"">Small</Button>
<Button Variant=""Variant.Outlined"" Size=""Size.Medium"" Color=""Color.Secondary"">Medium</Button>
<Button Variant=""Variant.Outlined"" Size=""Size.Large"" Color=""Color.Secondary"">Large</Button>
<Button Variant=""Variant.Filled"" Size=""Size.Small"" Color=""Color.Primary"">Small</Button>
<Button Variant=""Variant.Filled"" Size=""Size.Medium"" Color=""Color.Primary"">Medium</Button>
<Button Variant=""Variant.Filled"" Size=""Size.Large"" Color=""Color.Primary"">Large</Button>
<IconButton Icon=""@Icons.Material.Delete"" Size=""Size.Small""></IconButton>
<IconButton Icon=""@Icons.Material.Delete"" Size=""Size.Medium""></IconButton>
<IconButton Icon=""@Icons.Material.Delete"" Size=""Size.Large""></IconButton>
```";
    string Markdown_ButtonsWithIcons = @"```html
<Button Variant=""Variant.Filled"" StartIcon=""@Icons.Material.Delete"" Color=""Color.Secondary"">Delete</Button>
<Button Variant=""Variant.Filled"" EndIcon=""@Icons.Material.Send"" Color=""Color.Primary"">Send</Button>
<Button Variant=""Variant.Filled"" StartIcon=""@Icons.Material.CloudUpload"">Upload</Button>
<Button Variant=""Variant.Filled"" StartIcon=""@Icons.Material.Mic"" Disabled=""true"">Talk</Button>
<Button Variant=""Variant.Filled"" StartIcon=""@Icons.Material.Save"" Color=""Color.Primary"" Size=""Size.Small"">Save</Button>
<Button Variant=""Variant.Filled"" StartIcon=""@Icons.Material.Save"" Color=""Color.Primary"" Size=""Size.Large"">Save</Button>
```";
    string Mardown_ButtonsCustomStyle = @"```html
<Button Variant=""Variant.Filled"" 
            EndIcon=""@Icons.Material.ArrowDownward"" 
            Style=""background-color: yellowgreen; color: white; width: 200px; height: 60px;"">
    Download Now
</Button>
```";

}

