@page "/components/inputs/button"


<DocsPage>
    <Container>
        <Typography Typo="Typo.h3">Button</Typography>
        <Typography Typo="Typo.h4">Contained Buttons</Typography>
        <DocsShowcase Outlined="true">
            <Button Variant="Variant.Contained">Default</Button>
            <Button Variant="Variant.Contained" Color="Color.Primary">Primary</Button>
            <Button Variant="Variant.Contained" Color="Color.Secondary">Secondary</Button>
            <Button Variant="Variant.Contained" Disabled="true">Disabled</Button>
        </DocsShowcase>
        <MarkdownSegment Text="@Markdown_Contained" />
        <Typography>You can remove the elevation with the disableElevation prop.</Typography>
        <DocsShowcase Outlined="true">
            <Button Variant="Variant.Contained" Color="Color.Primary" DisableElevation="true">Primary</Button>
        </DocsShowcase>
        <MarkdownSegment Text="@Markdown_DisabledElevation" />
    </Container>
    <Container>
        <Typography Typo="Typo.h4">Text Buttons</Typography>
        <DocsShowcase Outlined="true">
            <Button Variant="Variant.Text">Default</Button>
            <Button Variant="Variant.Text" Color="Color.Primary">Primary</Button>
            <Button Variant="Variant.Text" Color="Color.Secondary">Secondary</Button>
            <Button Variant="Variant.Text" Disabled="true">Disabled</Button>
        </DocsShowcase>
        <MarkdownSegment Text="@Markdown_Text" />
    </Container>
    <Container>
        <Typography Typo="Typo.h4">Outlined Buttons</Typography>
        <DocsShowcase Outlined="true">
            <Button Variant="Variant.Outlined">Default</Button>
            <Button Variant="Variant.Outlined" Color="Color.Primary">Primary</Button>
            <Button Variant="Variant.Outlined" Color="Color.Secondary">Secondary</Button>
            <Button Variant="Variant.Outlined" Disabled="true">Disabled</Button>
        </DocsShowcase>
        <MarkdownSegment Text="@Markdown_Outlined" />
    </Container>
    <Container>
        <Typography Typo="Typo.h4">Sizes</Typography>
        <DocsShowcase Outlined="true">
            <Grid>
                <Item GridSize="12">
                    <Grid Spacing="2" Justify="Justify.Center">
                        <Item>
                            <Button Variant="Variant.Text" Size="Size.Small">Small</Button>
                        </Item>
                        <Item>
                            <Button Variant="Variant.Text" Size="Size.Medium">Medium</Button>
                        </Item>
                        <Item>
                            <Button Variant="Variant.Text" Size="Size.Large">Large</Button>
                        </Item>
                    </Grid>
                </Item>
                <Item GridSize="12">
                    <Grid Spacing="2" Justify="Justify.Center">
                        <Item>
                            <Button Variant="Variant.Outlined" Size="Size.Small" Color="Color.Secondary">Small</Button>
                        </Item>
                        <Item>
                            <Button Variant="Variant.Outlined" Size="Size.Medium" Color="Color.Secondary">Medium</Button>
                        </Item>
                        <Item>
                            <Button Variant="Variant.Outlined" Size="Size.Large" Color="Color.Secondary">Large</Button>
                        </Item>
                    </Grid>
                </Item>
                <Item GridSize="12">
                    <Grid Spacing="2" Justify="Justify.Center">
                        <Item>
                            <Button Variant="Variant.Contained" Size="Size.Small" Color="Color.Primary">Small</Button>
                        </Item>
                        <Item>
                            <Button Variant="Variant.Contained" Size="Size.Medium" Color="Color.Primary">Medium</Button>
                        </Item>
                        <Item>
                            <Button Variant="Variant.Contained" Size="Size.Large" Color="Color.Primary">Large</Button>
                        </Item>
                    </Grid>
                </Item>
                <Item GridSize="12">
                    <Grid Spacing="2" Justify="Justify.Center">
                        <Item>
                            <IconButton Icon="@Icons.Material.Delete" Size="Size.Small"></IconButton>
                        </Item>
                        <Item>
                            <IconButton Icon="@Icons.Material.Delete" Size="Size.Medium"></IconButton>
                        </Item>
                        <Item>
                            <IconButton Icon="@Icons.Material.Delete" Size="Size.Large"></IconButton>
                        </Item>
                    </Grid>
                </Item>
            </Grid>
        </DocsShowcase>
        <MarkdownSegment Text="@Markdown_Sizes" />
    </Container>
    <Container>
        <Typography Typo="Typo.h4">Buttons with icons and label</Typography>
        <DocsShowcase Outlined="true">
            <div>
                <Button Variant="Variant.Contained" StartIcon="@Icons.Material.Delete" Color="Color.Secondary">Delete</Button>
                <Button Variant="Variant.Contained" EndIcon="@Icons.Material.Send" Color="Color.Primary">Send</Button>
                <Button Variant="Variant.Contained" StartIcon="@Icons.Material.CloudUpload">Upload</Button>
                <Button Variant="Variant.Contained" StartIcon="@Icons.Material.Mic" Disabled="true">Talk</Button>
                <Button Variant="Variant.Contained" StartIcon="@Icons.Material.Save" Color="Color.Primary" Size="Size.Small">Save</Button>
                <Button Variant="Variant.Contained" StartIcon="@Icons.Material.Save" Color="Color.Primary" Size="Size.Large">Save</Button>
            </div>
        </DocsShowcase>
        @*<MarkdownSegment Text="@Markdown_ButtonsWithIcons" />*@
    </Container>

</DocsPage>


@code { string Markdown_Contained = @"```html
<Button Variant=""Variant.Contained"">Default</Button>
<Button Variant=""Variant.Contained"" Color=""Color.Primary"">Primary</Button>
<Button Variant=""Variant.Contained"" Color=""Color.Secondary"">Secondary</Button>
<Button Variant=""Variant.Contained"" Disabled=""true"">Disabled</Button>
```";
            string Markdown_DisabledElevation = @"```html
<Button Variant=""Variant.Contained"" Color=""Color.Primary"" DisableElevation=""true"">Primary</Button>
```";
            string Markdown_Text = @"```html
<Button Variant=""Variant.Text"">Default</Button>
<Button Variant=""Variant.Text"" Color=""Color.Primary"">Primary</Button>
<Button Variant=""Variant.Text"" Color=""Color.Secondary"">Secondary</Button>
<Button Variant=""Variant.Text"" Disabled=""true"">Disabled</Button>
```";
            string Markdown_Outlined = @"```html
<Button Variant=""Variant.Outlined"">Default</Button>
<Button Variant=""Variant.Outlined"" Color=""Color.Primary"">Primary</Button>
<Button Variant=""Variant.Outlined"" Color=""Color.Secondary"">Secondary</Button>
<Button Variant=""Variant.Outlined"" Disabled=""true"">Disabled</Button>
```";
            string Markdown_Sizes = @"```html
<Grid>
    <Item GridSize=""12"">
        <Grid Spacing=""2"" Justify=""Justify.Center"">
            <Item>
                <Button Variant=""Variant.Text"" Size=""Size.Small"">Small</Button>
            </Item>
            <Item>
                <Button Variant=""Variant.Text"" Size=""Size.Medium"">Medium</Button>
            </Item>
            <Item>
                <Button Variant=""Variant.Text"" Size=""Size.Large"">Large</Button>
            </Item>
        </Grid>
    </Item>
    <Item GridSize=""12"">
        <Grid Spacing=""2"" Justify=""Justify.Center"">
            <Item>
                <Button Variant=""Variant.Outlined"" Size=""Size.Small"" Color=""Color.Secondary"">Small</Button>
            </Item>
            <Item>
                <Button Variant=""Variant.Outlined"" Size=""Size.Medium"" Color=""Color.Secondary"">Medium</Button>
            </Item>
            <Item>
                <Button Variant=""Variant.Outlined"" Size=""Size.Large"" Color=""Color.Secondary"">Large</Button>
            </Item>
        </Grid>
    </Item>
    <Item GridSize=""12"">
        <Grid Spacing=""2"" Justify=""Justify.Center"">
            <Item>
                <Button Variant=""Variant.Contained"" Size=""Size.Small"" Color=""Color.Primary"">Small</Button>
            </Item>
            <Item>
                <Button Variant=""Variant.Contained"" Size=""Size.Medium"" Color=""Color.Primary"">Medium</Button>
            </Item>
            <Item>
                <Button Variant=""Variant.Contained"" Size=""Size.Large"" Color=""Color.Primary"">Large</Button>
            </Item>
        </Grid>
    </Item>
    <Item GridSize=""12"">
        <Grid Spacing=""2"" Justify=""Justify.Center"">
            <Item>
                <IconButton Icon=""@Icons.Material.Delete"" Size=""Size.Small""></IconButton>
            </Item>
            <Item>
                <IconButton Icon=""@Icons.Material.Delete"" Size=""Size.Medium""></IconButton>
            </Item>
            <Item>
                <IconButton Icon=""@Icons.Material.Delete"" Size=""Size.Large""></IconButton>
            </Item>
        </Grid>
    </Item>
</Grid>
```"; }
