@page "/components/inputs/checkbox"

<DocsPage>
    <DocsPageHeader>
        <Title>Checkbox</Title>
        <SubTitle></SubTitle>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Basic checkboxes</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <MudCheckBox @bind-Checked="@Basic_CheckBox1"></MudCheckBox>
                <MudCheckBox @bind-Checked="@Basic_CheckBox2" Color="Color.Primary"></MudCheckBox>
                <MudCheckBox @bind-Checked="@Basic_CheckBox3" Color="Color.Secondary"></MudCheckBox>
                <MudCheckBox @bind-Checked="@Basic_CheckBox1" Disabled="true"></MudCheckBox>
            </SectionContent>
            <SectionSource Code="@Markdown_Basic"></SectionSource>
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Checkbox with label</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <MudCheckBox @bind-Checked="@Basic_CheckBox1" Label="Default"></MudCheckBox>
                <MudCheckBox @bind-Checked="@Basic_CheckBox2" Label="Primary" Color="Color.Primary"></MudCheckBox>
                <MudCheckBox @bind-Checked="@Basic_CheckBox3" Label="Secondary" Color="Color.Secondary"></MudCheckBox>
                <MudCheckBox @bind-Checked="@Basic_CheckBox1" Disabled="true" Label="Disabled"></MudCheckBox>
            </SectionContent>
            <SectionSource Code="@Markdown_Label"></SectionSource>
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>


@code {
    public bool Basic_CheckBox1 { get; set; } = true;
    public bool Basic_CheckBox2 { get; set; } = false;
    public bool Basic_CheckBox3 { get; set; } = false;

string Markdown_Basic = @"```html
<MudCheckBox @bind-Checked=""@Basic_CheckBox1""></MudCheckBox>
<MudCheckBox @bind-Checked=""@Basic_CheckBox2"" Color=""Color.Primary""></MudCheckBox>
<MudCheckBox @bind-Checked=""@Basic_CheckBox1"" Color=""Color.Secondary""></MudCheckBox>
<MudCheckBox @bind-Checked=""@Basic_CheckBox1"" Disabled=""true""></MudCheckBox>
```";

string Markdown_Label = @"```html
<MudCheckBox @bind-Checked=""@Basic_CheckBox1""></MudCheckBox>
<MudCheckBox @bind-Checked=""@Basic_CheckBox2"" Color=""Color.Primary""></MudCheckBox>
<MudCheckBox @bind-Checked=""@Basic_CheckBox1"" Color=""Color.Secondary""></MudCheckBox>
<MudCheckBox @bind-Checked=""@Basic_CheckBox1"" Disabled=""true""></MudCheckBox>
```";
}
