@page "/components/inputs/fab"

<DocsPage>
    <DocsPageHeader>
        <Title>Floating action button</Title>
        <SubTitle>A floating action button (FAB)</SubTitle>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Simple FAB</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <MudFab Color="Color.Primary" Icon="@Icons.Material.Add" />
                <MudFab Color="Color.Secondary" Icon="@Icons.Material.Edit" />
                <MudFab Icon="@Icons.Material.Navigation" Label="Navigation" />
                <MudFab Icon="@Icons.Material.Save" Disabled="true" />
            </SectionContent>
            <SectionSource Code="@Markdown_Simple"></SectionSource>
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Size</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <SectionContentRow>
                    <MudFab Color="Color.Secondary" Icon="@Icons.Material.Add" Size="Size.Small" />
                    <MudFab Color="Color.Secondary" Icon="@Icons.Material.Add" Size="Size.Medium" />
                    <MudFab Color="Color.Secondary" Icon="@Icons.Material.Add" Size="Size.Large" />
                </SectionContentRow>
                <SectionContentRow>
                    <MudFab Color="Color.Primary" Icon="@Icons.Material.ShoppingCart" Size="Size.Small" Label="To cart" />
                    <MudFab Color="Color.Primary" Icon="@Icons.Material.ShoppingCart" Size="Size.Medium" Label="To cart" />
                    <MudFab Color="Color.Primary" Icon="@Icons.Material.ShoppingCart" Size="Size.Large" Label="To cart" />
                </SectionContentRow>
            </SectionContent>
            <SectionSource Code="@Markdown_Size"></SectionSource>
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>

@code {
    string Markdown_Simple = @"```html
<MudFab Color=""Color.Primary"" Icon=""@Icons.Material.Add""/>
<MudFab Color=""Color.Secondary"" Icon=""@Icons.Material.Edit""/>
<MudFab Icon=""@Icons.Material.Navigation"" Extended=""true"">Navigation</MudFab>
<MudFab Icon=""@Icons.Material.Save"" Disabled=""true""></MudFab>
```";
    string Markdown_Size = @"```html
<MudFab Color=""Color.Secondary"" Icon=""@Icons.Material.Add"" Size=""Size.Small"" />
<MudFab Color=""Color.Secondary"" Icon=""@Icons.Material.Add"" Size=""Size.Medium"" />
<MudFab Color=""Color.Secondary"" Icon=""@Icons.Material.Add"" Size=""Size.Large"" />

<MudFab Color=""Color.Primary"" Icon=""@Icons.Material.ShoppingCart"" Size=""Size.Small"" Label=""Go to cart"" />
<MudFab Color=""Color.Primary"" Icon=""@Icons.Material.ShoppingCart"" Size=""Size.Medium"" Label=""Go to cart"" />
<MudFab Color=""Color.Primary"" Icon=""@Icons.Material.ShoppingCart"" Size=""Size.Large"" Label=""Go to cart"" />
```";
}