@page "/components/inputs/iconbutton"

<DocsPage>
    <DocsPageHeader>
        <Title>Icon Button</Title>
        <SubTitle></SubTitle>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Simple Icon Buttons</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <IconButton Icon="@Icons.Material.Delete"></IconButton>
                <IconButton Icon="@Icons.Custom.GitHub" Color="Color.Primary"></IconButton>
                <IconButton Icon="@Icons.Material.Favorite" Color="Color.Secondary"></IconButton>
                <IconButton Icon="@Icons.Material.Share" Disabled="true"></IconButton>
            </SectionContent>
            <SectionSource Code="@Markdown_Simple"></SectionSource>
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Toggle Icon Button</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <IconButton Icon="@Icons.Material.Delete"></IconButton>
                <IconButton Icon="@Icons.Custom.GitHub" Color="Color.Primary"></IconButton>
                <IconButton Icon="@Icons.Material.Favorite" Color="Color.Secondary"></IconButton>
                <IconButton Icon="@Icons.Material.Share" Disabled="true"></IconButton>
            </SectionContent>
            <SectionSource Code="@Markdown_Toggle"></SectionSource>
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>

@code {
string Markdown_Simple = @"```html
<IconButton Icon=""@Icons.Material.Delete""></IconButton>
<IconButton Icon=""@Icons.Custom.GitHub"" Color=""Color.Primary""></IconButton>
<IconButton Icon=""@Icons.Material.Favorite"" Color=""Color.Secondary""></IconButton>
<IconButton Icon=""@Icons.Material.Share"" Disabled=""true""></IconButton>
```";
string Markdown_Toggle = @"```html
<IconButton Icon=""@Icons.Material.Delete""></IconButton>
<IconButton Icon=""@Icons.Brand.GitHub"" Color=""Color.Primary""></IconButton>
<IconButton Icon=""@Icons.Material.Favorite"" Color=""Color.Secondary""></IconButton>
<IconButton Icon=""@Icons.Material.Share"" Disabled=""true""></IconButton>
```";
}
