@page "/components/inputs/radio"

<DocsPage>
    <DocsPageHeader>
        <Title>Radio</Title>
        <SubTitle>Radio buttons.</SubTitle>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>xxxxxxxx</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <MudRadioGroup @bind-SelectedLabel="@SelectedLabel" @bind-SelectedOption="@SelectedOption">
                    <MudRadio @bind-Checked="@Basic_CheckBox1" Color="Color.Primary" Label="Primary" Option="Radio 1"/>
                    <MudRadio @bind-Checked="@Basic_CheckBox2" Color="Color.Secondary" Label="Secondary"  Option="Radio 2"/>
                    <MudRadio @bind-Checked="@Basic_CheckBox3" Label="Normal"  Option="Radio 3"/>
                    <MudRadio @bind-Checked="@Basic_CheckBox1" Label="Disabled" Disabled="true"  Option="Radio 4"/>
                </MudRadioGroup>
                <div>
                    Selected label: @SelectedLabel, Selected option: @SelectedOption
                </div>
                <div>
                    <MudCheckBox @bind-Checked="@Basic_CheckBox1"></MudCheckBox>
                    <MudCheckBox @bind-Checked="@Basic_CheckBox2" Color="Color.Primary"></MudCheckBox>
                    <MudCheckBox @bind-Checked="@Basic_CheckBox3" Color="Color.Secondary"></MudCheckBox>
                    <MudCheckBox @bind-Checked="@Basic_CheckBox1" Disabled="true"></MudCheckBox>
                </div>
            </SectionContent>
            <SectionSource Code="@Markdown_Simple"></SectionSource>
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>xxxxxxxxx</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <MudRadioGroup>
                    <MudRadio Color="Color.Primary">Radio 1</MudRadio>
                    <MudRadio Color="Color.Secondary">Radio 2</MudRadio>
                    <MudRadio>Radio 3</MudRadio>
                    <MudRadio Disabled="true">Radio 4</MudRadio>
                </MudRadioGroup>
            </SectionContent>
            <SectionSource Code="@Markdown_Simple"></SectionSource>
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>

@code {

    public string SelectedLabel { get; set; } = "Primary";
    public string SelectedOption { get; set; }
    public bool Basic_CheckBox1 { get; set; } = true;
    public bool Basic_CheckBox2 { get; set; } = false;
    public bool Basic_CheckBox3 { get; set; } = false;

    string Markdown_Simple = @"```html

```";
    string Markdown_Toggle = @"```html

```";
}
