@page "/components/inputs/switch"

<DocsPage>
    <DocsPageHeader>
        <Title>Switch</Title>
        <SubTitle></SubTitle>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Basic switches</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <MudSwitch @bind-Checked="@Basic_Switch1" />
                <MudSwitch @bind-Checked="@Basic_Switch2" Color="Color.Primary" />
                <MudSwitch @bind-Checked="@Basic_Switch2" Color="Color.Secondary" />
                <MudSwitch Disabled="true" />
            </SectionContent>
            <SectionSource Code="@Markdown_Basic"></SectionSource>
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Switch with label</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <MudSwitch @bind-Checked="@Basic_Switch1" Label="Default" />
                <MudSwitch @bind-Checked="@Basic_Switch2" Label="Primary" Color="Color.Primary" />
                <MudSwitch @bind-Checked="@Basic_Switch2" Label="Secondary" Color="Color.Secondary" />
                <MudSwitch Disabled="true" Label="Disabled" />
            </SectionContent>
            <SectionSource Code="@Markdown_Label"></SectionSource>
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>


@code {
    public bool Basic_Switch1 { get; set; } = false;
    public bool Basic_Switch2 { get; set; } = true;
    public bool Basic_Switch3 { get; set; } = true;

string Markdown_Basic = @"```html
<MudSwitch @bind-Checked=""@Basic_CheckBox1""></MudSwitch>
<MudSwitch @bind-Checked=""@Basic_CheckBox2"" Color=""Color.Primary""></MudSwitch>
<MudSwitch @bind-Checked=""@Basic_CheckBox1"" Color=""Color.Secondary""></MudSwitch>
<MudSwitch @bind-Checked=""@Basic_CheckBox1"" Disabled=""true""></MudSwitch>
```";

string Markdown_Label = @"```html
<MudSwitch @bind-Checked=""@Basic_CheckBox1""></MudSwitch>
<MudSwitch @bind-Checked=""@Basic_CheckBox2"" Color=""Color.Primary""></MudSwitch>
<MudSwitch @bind-Checked=""@Basic_CheckBox1"" Color=""Color.Secondary""></MudSwitch>
<MudSwitch @bind-Checked=""@Basic_CheckBox1"" Disabled=""true""></MudSwitch>
```";
}
