@namespace MudBlazor
@inherits ComponentBaseMudMenu


<div class="@Classname">
    @if (String.IsNullOrEmpty(Icon))
    {
        <MudButton StartIcon="@StartIcon"
            EndIcon="@EndIcon"
            Color="@Color"
            Size="@Size"
            Variant="@Variant"
            Disabled="@Disabled"
            DisableRipple="@DisableRipple"
            DisableElevation="@DisableElevation"
            @onclick="@ShowMenu">
            @Label
        </MudButton>
    }
    else
    {
        <MudIconButton Icon="@Icon" Color="@Color" Size="@Size" Disabled="@Disabled" DisableRipple="@DisableRipple" @onclick="@ShowMenu"/>
    }
    <CascadingValue Value="@this">
        <div class="mud-menu-list @(isMenuOpen? "mud-open" : "")">
            <MudList Clickable="true">
                @ChildContent
            </MudList>
        </div>
    </CascadingValue>
</div>

@if (isMenuOpen)
{
    <div class="mud-menu-overlay" @onclick="@ShowMenu"></div>
}
