@using MudBlazor.Utilities

<div @ref="@SectionReference" id="@Section.Id" class="@Classname">
    <MudText Typo="Typo.h4">@Title</MudText>
    <MudText Typo="Typo.h6">@SubTitle</MudText>
    <MudText>@Description</MudText>
</div>

@code {

    [CascadingParameter] private DocsPage DocsPage { get; set; }

    protected string Classname =>
    new CssBuilder("docs-section-header")
    .AddClass(Class)
    .Build();

    [Parameter] public string Class { get; set; }

    [Parameter] public string Title { get; set; }
    [Parameter] public RenderFragment SubTitle { get; set; }
    [Parameter] public RenderFragment Description { get; set; }

    private ElementReference SectionReference;

    private DocsSectionLink Section { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        if (DocsPage != null && !String.IsNullOrEmpty(Title))
        {
            Section = new DocsSectionLink
            {
                Id = Title.Replace(" ", "-").ToLower(),
                Title = Title,
            };
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender == true && DocsPage != null && !String.IsNullOrEmpty(Title))
        {
            Section.Reference = SectionReference;
            DocsPage.AddSection(Section);
        }
    }
}