@namespace MudBlazor
@inherits MudBaseInput<T>
@typeparam T

<CascadingValue Name="Standalone" Value="false" IsFixed="true">
    <div class="mud-select">
        <MudInputControl Label="@Label" Variant="@Variant" HelperText="@HelperText" FullWidth="@FullWidth" Margin="@Margin" Class="@Classname" Style="@Style"
                         Error="@Error" ErrorText="@ErrorText" Disabled="@Disabled" @onclick="@ToggleMenu">
            <InputContent>
                <MudInput InputType="InputType.Text" Variant="@Variant" @bind-Value="@Text" DisableUnderLine="@DisableUnderLine" Placeholder="@Placeholder" Disabled=@Disabled ReadOnly="@ReadOnly"
                          Immediate="true" Class="mud-select-input" Error="@Error" AdornmentIcon="@CurrentIcon" Adornment="Adornment.End" IconSize="Size.Medium" OnKeyDown="@this.OnInputKeyDown"
                          OnBlur="@OnInputBlurred" OnKeyUp="@base.onKeyUp" OnKeyPress="@base.onKeyPress" />
            </InputContent>
        </MudInputControl>
        <MudPopover Open="@IsOpen" MaxHeight="@MaxHeight" OffsetY="true">
            <MudList Clickable="true" Dense="@Dense">
                @if (Items != null && Items.Any())
                {
                    int i = 0;
                    @foreach (T item in Items)
                    {
                        bool is_selected = i == SelectedListItemIndex;
                        <MudListItem id="@GetListItemId(i)" OnClick="@(() => SelectOption(item))" Class="@(is_selected ? "mud-selected-item" : "")">
                            @if (ItemTemplate == null)
                            {
                                @GetItemString(item)
                            }
                            else if (is_selected)
                            {
                                @if (ItemSelectedTemplate == null)
                                    @ItemTemplate(item)
                                    else
                                        @ItemSelectedTemplate(item)
                            }
                            else
                            {
                                @ItemTemplate(item)
                            }
                        </MudListItem>
                        i++;
                    }
                }
            </MudList>
        </MudPopover>
    </div>
</CascadingValue>

@if (IsOpen)
{
    <MudOverlay OnClick="@ToggleMenu" />
}

