@namespace MudBlazor
@inherits MudBaseInput<T>
@typeparam T

<CascadingValue Name="Standalone" Value="false" IsFixed="true">
    <MudInputControl HelperText="@HelperText" FullWidth="@FullWidth" Margin="@Margin" Class="@Classname" Style="@Style">
        <MudInput InputType="InputType.Text" Variant="@Variant" @bind-Value="@Text" DisableUnderLine="@DisableUnderLine" Placeholder="@Placeholder" Disabled=@Disabled ReadOnly="@ReadOnly"
                  Immediate="true" Class="mud-select-input" Error="@Error" AdornmentIcon="@CurrentIcon" Adornment="Adornment.End" IconSize="Size.Medium" OnKeyDown="@OnInputKeyDown"
                  @onclick="@ToggleMenu" OnBlur="@OnAutoCompleteBlurred" />
        <MudInputLabel Class="mud-input-label-inputcontrol" Variant="@Variant">
            @Label
        </MudInputLabel>
        <MudPopover Open="@IsOpen" MaxHeight="@MaxHeight" OffsetY="true">
            <MudList Clickable="true" Dense="@Dense">
                @if (Items != null && Items.Any())
                {
                    int i = 0;
                    @foreach (T item in Items)
                    {
                        <MudListItem id="@GetListItemId(i)" OnClick="@(() => SelectOption(item))" Class="@(i==SelectedListItemIndex ? "mud-selected-item" : "")">
                            @GetItemString(item)
                        </MudListItem>
                        i++;
                    }
                }
            </MudList>
        </MudPopover>
    </MudInputControl>
</CascadingValue>

@if (IsOpen)
{
    <div class="mud-popover-overlay" @onclick="@ToggleMenu"></div>
}

@code{

    private void OnAutoCompleteBlurred()
    {
        if (IsOpen == true)
            IsOpen = false;

        if (Value == null)
        {
            Text = null;
            return;
        }
        string actualvalueStr = Value.ToString();
        if (!object.Equals(actualvalueStr, Text))
            Text = Converter.Set(Value);

    }

}
