@page "/components/feedback/dialog"
@using MudBlazor.Docs.Pages.Components.Feedback.Dialogs

@inject IDialogService Dialog

<DocsPage>
    <DocsPageHeader>
        <Title>Dialog</Title>
        <SubTitle></SubTitle>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Simple Dialogs</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <MudText Align="Align.Center" Typo="Typo.subtitle1">Selected User</MudText>
                <MudText Align="Align.Center" Typo="Typo.subtitle2">@selectedUser</MudText>
                <MudButton Variant="Variant.Outlined" Color="Color.Primary" @onclick="OpenSimpleDialog">Open Simple Dialog</MudButton>
            </SectionContent>
            <SectionSource Code="@Markdown_SimpleDialog" FullCode="@Markdown_SimpleDialog_Full"/>
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Form Dialogs</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <MudButton Variant="Variant.Outlined" Color="Color.Primary" @onclick="OpenFormDialog">Open Form Dialog</MudButton>
            </SectionContent>
            @*<SectionSource Code="@Markdown_FormDialog"></SectionSource>*@
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>


@code {

    bool HideSourceSimpleDialog = true;

    public void ShowSimpleDialogSource()
    {
        HideSourceSimpleDialog = !HideSourceSimpleDialog;
    }


    string selectedUser = "No user selected";

    async Task OpenSimpleDialog()
    {
        var userSelect = Dialog.Show<SimpleDialog>("Choose Account");
        var result = await userSelect.Result;

        if(!result.Cancelled)
        {
            selectedUser = result.Data.ToString() ?? string.Empty;
        }
    }
    void OpenFormDialog()
    {
        Dialog.Show<FormDialog>("Create SQL Database");
    }


    string Markdown_SimpleDialog = @"
```html
<MudButton Variant=""Variant.Outlined"" Color=""Color.Primary"" @onclick=""OpenSimpleDialog"">
    Open Simple Dialog
</MudButton>
```
```csharp
@code {
    string selectedUser = ""No user selected"";

    async Task OpenSimpleDialog()
    {
        var userSelect = Dialog.Show<SimpleDialog>(""Choose Account"");
        var result = await userSelect.Result;

        if(!result.Cancelled)
        {
            selectedUser = result.Data.ToString() ?? string.Empty;
        }
    }
}
```";
    string Markdown_SimpleDialog_Full = @"
```html
<MudButton Variant=""Variant.Outlined"" Color=""Color.Primary"" @onclick=""OpenSimpleDialog"">
    Open Simple Dialog
</MudButton>
```
```csharp
@code {
    string selectedUser = ""No user selected"";

    async Task OpenSimpleDialog()
    {
        var userSelect = Dialog.Show<SimpleDialog>(""Choose Account"");
        var result = await userSelect.Result;

        if(!result.Cancelled)
        {
            selectedUser = result.Data.ToString() ?? string.Empty;
        }
    }
}
```
```html
<MudDialog DisableSidePadding=""true"">
    <DialogContent>
        <MudList>
            <MudListItem @onclick=""@(() => SelectUser(""notsocool@gmail.com""))"">
                <MudAvatar>
                    <MudIcon Icon=""@Icons.Material.Person"" />
                </MudAvatar>
                <MudText>
                    coolusername@gmail.com
                </MudText>
            </MudListItem>
            <MudListItem @onclick=""@(() => SelectUser(""notsocool@gmail.com""))"">
                <MudAvatar>
                    <MudIcon Icon=""@Icons.Material.Person"" />
                </MudAvatar>
                <MudText>
                    notsocool@gmail.com
                </MudText>
            </MudListItem>
            <MudListItem @onclick=""@(() => SelectUser(""strelok@gmail.com""))"">
                <MudAvatar>
                    <MudIcon Icon=""@Icons.Custom.Radioactive"" />
                </MudAvatar>
                <MudText>
                    strelok@gmail.com
                </MudText>
            </MudListItem>
        </MudList>
    </DialogContent>
</MudDialog>
```
```csharp
@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    void SelectUser(string user)
    {
        MudDialog.Close(DialogResult.Ok(user));
    }
}

```";
    string Markdown_CodeTwo = @"```html

```";
}

