@page "/components/feedback/dialog"
@using MudBlazor.Docs.Pages.Components.Feedback.Dialogs

@inject IDialogService Dialog

<DocsPage>
    <DocsPageHeader>
        <Title>Dialog</Title>
        <SubTitle></SubTitle>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Simple Dialogs</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <MudButton Variant="Variant.Outlined" Color="Color.Primary" @onclick="OpenSimpleDialog">Open Simple Dialog</MudButton>
            </SectionContent>
            @*<SectionSource Code="@Markdown_SimpleDialog"></SectionSource>*@
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Form Dialogs</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent Outlined="true">
                <MudButton Variant="Variant.Outlined" Color="Color.Primary" @onclick="OpenFormDialog">Open Form Dialog</MudButton>
            </SectionContent>
            @*<SectionSource Code="@Markdown_FormDialog"></SectionSource>*@
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>


@code {

    void OpenSimpleDialog()
    {
        Dialog.Show<SimpleDialog>("Choose Account");
    }
    void OpenFormDialog()
    {
        Dialog.Show<FormDialog>("Sign in to MudBlazor");
    }


    string Markdown_SimpleDialog = @"```html
<MudDialog DisableSidePadding=""true"">
    <DialogContent>
        <MudList>
            <MudListItem @onclick=""Close"">
                <MudAvatar>
                    <Icon Icon=""@Icons.Material.Person"" />
                </MudAvatar>
                <Typography GutterBottom=""false"">
                    coolusername@gmail.com
                </Typography>
            </MudListItem>
            <MudListItem @onclick=""Close"">
                <MudAvatar>
                    <Icon Icon=""@Icons.Material.Person"" />
                </MudAvatar>
                <Typography GutterBottom=""false"">
                    notsocool@gmail.com
                </Typography>
            </MudListItem>
            <MudListItem @onclick=""Close"">
                <MudAvatar>
                    <Icon Icon=""@Icons.Material.Add"" />
                </MudAvatar>
                <Typography GutterBottom=""false"">
                    Add account
                </Typography>
            </MudListItem>
        </MudList>
    </DialogContent>
</MudDialog>


void OpenSimpleDialog()
{
    Dialog.Show<SimpleDialog>(""Choose Account"");
}
```";
    string Markdown_CodeTwo = @"```html

```";
}

