@namespace MudBlazor
@inherits MudComponentBase




<div @attributes="UserAttributes" class="@Classname" style="@Style">
    <div class="mud-input-control-input-container">
        @InputContent
        @if (!String.IsNullOrEmpty(Label))
        {
            <MudInputLabel Class="mud-input-label-inputcontrol" Variant="@Variant" Disabled=@Disabled Error="@Error" Margin="@Margin">
                @Label
            </MudInputLabel>
        }
    </div>
    @if (Error || !String.IsNullOrEmpty(HelperText) || CharacterCount)
    {
        <div class="mud-input-control-helper-container">
            <p class="@HelperClass">
                <div class="d-flex justify-space-between">
                    @if (Error)
                    {
                        <div>
                            @ErrorText
                        </div>
                        @if (CharacterCount)
                        {
                            <div>
                                @CharacterCountText
                            </div>            
                        }
                    }
                    else
                    {
                        <div>
                            @if (!String.IsNullOrEmpty(HelperText))
                            {

                                @HelperText
                            }
                        </div>
                        @if (CharacterCount)
                        {
                            <div>
                                @CharacterCountText
                            </div>            
                        }
                    }
                </div>
            </p>
        </div>
    }
    @ChildContent
</div>

