@namespace MudBlazor
@inherits MudComponentBase




<div @attributes="UserAttributes" class="@Classname" style="@Style">
    <div class="mud-input-control-input-container">
        @InputContent
        @if (!string.IsNullOrEmpty(Label))
        {
            <MudInputLabel Class="mud-input-label-inputcontrol" Variant="@Variant" Disabled=@Disabled Error="@Error" Margin="@Margin">
                @Label
            </MudInputLabel>
        }
    </div>
    @if (Error || !string.IsNullOrEmpty(HelperText))
    {
        <div class="mud-input-control-helper-container">
            <p class="@HelperClass">
                @if (Error)
                {
                    @ErrorText
                }
                else if (!string.IsNullOrEmpty(HelperText))
                {
                    @HelperText
                }
            </p>
        </div>
    }
    @ChildContent
</div>

