@namespace MudBlazor.Docs.Components.LandingPage
@layout MiniAppLayout


<div class="lp-app-grid">
    <MudPaper Class="py-4 px-6 rounded-lg d-flex align-center">
        <div class="flex-grow-1">
            <MudText Typo="Typo.h6">Graphite on roof</MudText>
            <div class="d-flex align-center my-1">
                <MudAvatar Class="mr-2 pa-4" Style="background-color:var(--mud-palette-primary-hover);" Size="Size.Small">
                    <MudIcon Color="Color.Primary" Icon="@Icons.Material.Filled.TrendingDown" Size="Size.Small" />
                </MudAvatar>
                <MudText Typo="Typo.subtitle2">+2.6%</MudText>
            </div>
            <MudText Typo="Typo.h4">149,567</MudText>
        </div>
        <div class="d-flex align-end justify-end mud-height-full py-8">
            <MudPaper Height="80%" Width="6px" Square="true" Class="mud-primary mr-1 rounded-t" />
            <MudPaper Height="95%" Width="6px" Square="true" Class="mud-primary mr-1 rounded-t" />
            <MudPaper Height="90%" Width="6px" Square="true" Class="mud-primary mr-1 rounded-t" />
            <MudPaper Height="85%" Width="6px" Square="true" Class="mud-primary mr-1 rounded-t" />
            <MudPaper Height="65%" Width="6px" Square="true" Class="mud-primary mr-1 rounded-t" />
            <MudPaper Height="52%" Width="6px" Square="true" Class="mud-primary mr-1 rounded-t" />
            <MudPaper Height="40%" Width="6px" Square="true" Class="mud-primary mr-1 rounded-t" />
            <MudPaper Height="38%" Width="6px" Square="true" Class="mud-primary mr-1 rounded-t" />
            <MudPaper Height="36%" Width="6px" Square="true" Class="mud-primary mr-1 rounded-t" />
            <MudPaper Height="20%" Width="6px" Square="true" Class="mud-primary mr-1 rounded-t" />
        </div>
    </MudPaper>
    <MudPaper Class="py-4 px-6 rounded-lg d-flex align-center">
        <div class="flex-grow-1">
            <MudText Typo="Typo.h6">Global Spread</MudText>
            <div class="d-flex align-center my-1">
                <MudAvatar Class="mr-2 pa-4" Style="background-color:var(--mud-palette-secondary-hover);" Size="Size.Small">
                    <MudIcon Color="Color.Secondary" Icon="@Icons.Material.Filled.TrendingUp" Size="Size.Small" />
                </MudAvatar>
                <MudText Typo="Typo.subtitle2">+9.6%</MudText>
            </div>
            <MudText Typo="Typo.h4">12%</MudText>
        </div>
        <div class="d-flex align-end justify-end mud-height-full py-8">
            <MudPaper Height="15%" Width="6px" Square="true" Class="mud-secondary mr-1 rounded-t" />
            <MudPaper Height="20%" Width="6px" Square="true" Class="mud-secondary mr-1 rounded-t" />
            <MudPaper Height="53%" Width="6px" Square="true" Class="mud-secondary mr-1 rounded-t" />
            <MudPaper Height="35%" Width="6px" Square="true" Class="mud-secondary mr-1 rounded-t" />
            <MudPaper Height="45%" Width="6px" Square="true" Class="mud-secondary mr-1 rounded-t" />
            <MudPaper Height="70%" Width="6px" Square="true" Class="mud-secondary mr-1 rounded-t" />
            <MudPaper Height="58%" Width="6px" Square="true" Class="mud-secondary mr-1 rounded-t" />
            <MudPaper Height="76%" Width="6px" Square="true" Class="mud-secondary mr-1 rounded-t" />
            <MudPaper Height="85%" Width="6px" Square="true" Class="mud-secondary mr-1 rounded-t" />
            <MudPaper Height="61%" Width="6px" Square="true" Class="mud-secondary mr-1 rounded-t" />
        </div>
    </MudPaper>
    <MudPaper Class="py-4 px-6 rounded-lg d-flex align-center">
        <div class="flex-grow-1">
            <MudText Typo="Typo.h6">Roentgen</MudText>
            <div class="d-flex align-center my-1">
                <MudAvatar Class="mr-2 pa-4" Style="background-color:var(--mud-palette-tertiary-hover);" Size="Size.Small">
                    <MudIcon Color="Color.Tertiary" Icon="@Icons.Material.Filled.TrendingFlat" Size="Size.Small" />
                </MudAvatar>
                <MudText Typo="Typo.subtitle2">~0.0%</MudText>
            </div>
            <MudText Typo="Typo.h4">3,6</MudText>
        </div>
        <div class="d-flex align-end justify-end mud-height-full py-8">
            <MudPaper Height="10%" Width="6px" Square="true" Class="mud-tertiary mr-1 rounded-t" />
            <MudPaper Height="16%" Width="6px" Square="true" Class="mud-tertiary mr-1 rounded-t" />
            <MudPaper Height="26%" Width="6px" Square="true" Class="mud-tertiary mr-1 rounded-t" />
            <MudPaper Height="36%" Width="6px" Square="true" Class="mud-tertiary mr-1 rounded-t" />
            <MudPaper Height="36%" Width="6px" Square="true" Class="mud-tertiary mr-1 rounded-t" />
            <MudPaper Height="28%" Width="6px" Square="true" Class="mud-tertiary mr-1 rounded-t" />
            <MudPaper Height="36%" Width="6px" Square="true" Class="mud-tertiary mr-1 rounded-t" />
            <MudPaper Height="36%" Width="6px" Square="true" Class="mud-tertiary mr-1 rounded-t" />
            <MudPaper Height="28%" Width="6px" Square="true" Class="mud-tertiary mr-1 rounded-t" />
            <MudPaper Height="36%" Width="6px" Square="true" Class="mud-tertiary mr-1 rounded-t" />
        </div>
    </MudPaper>
</div>

@*<MudPaper Class="pa-4 rounded-lg d-flex align-center">
        <div class="flex-grow-1">
            <MudText Typo="Typo.subtitle1">Graphite on roof</MudText>
            <MudText Typo="Typo.h4">150,000</MudText>
        </div>
        <MudAvatar Rounded="true" Color="Color.Primary" Size="Size.Large">
            <MudIcon Icon="@Icons.Filled.Token" Size="Size.Large" />
        </MudAvatar>
    </MudPaper>
    <MudPaper Class="pa-4 rounded-lg d-flex align-center">
        <div class="flex-grow-1">
            <MudText Typo="Typo.subtitle1">Global Spread</MudText>
            <MudText Typo="Typo.h4">12%</MudText>
        </div>
        <MudAvatar Rounded="true" Color="Color.Success" Size="Size.Large">
            <MudIcon Icon="@Icons.Outlined.Public" Size="Size.Large" />
        </MudAvatar>
    </MudPaper>
    <MudPaper Class="pa-4 rounded-lg d-flex align-center">
        <div class="flex-grow-1">
            <MudText Typo="Typo.subtitle1">Roentgen</MudText>
        <MudText Typo="Typo.h4">3,6</MudText>
        </div>
        <MudAvatar Rounded="true" Color="Color.Warning" Size="Size.Large">
            <MudIcon Icon="@Icons.Custom.Uncategorized.Radioactive" Color="Color.Dark" Size="Size.Large" />
        </MudAvatar>
    </MudPaper>*@

@code {

}
