@namespace MudBlazor
@inherits MudComponentBase

<li @attributes="UserAttributes" class="@Classname" disabled="@Disabled" style="@Style">
    <button @onclick="ExpandedToggle" tabindex="0" class="@ClassnameItem">
        @Title
    </button>
    <MudCollapse Expanded="@Expanded">
        <MudList>
            @ChildContent
        </MudList>
    </MudCollapse>
</li>