@namespace MudBlazor
@inherits MudBaseSelectItem
@using Microsoft.AspNetCore.Components.Routing


<li @attributes="UserAttributes" class="@Classname" disabled="@Disabled" style="@Style">
    <NavLink class="@Classname"  style="@Style" href="@Href" Match="@Match" ActiveClass="active">
        @ChildContent
    </NavLink>
</li>