@namespace MudBlazor
@inherits MudComponentBase

<div @attributes="UserAttributes" class="@Classname" @onclick="OnClickHandler" @onclick:stopPropagation="true" style="@Style" onpointerdown="ripplet(arguments[0])">
    @if (!String.IsNullOrEmpty(Avatar))
    {
        <div class="mud-list-item-avatar">
            <MudAvatar Class="@AvatarClass">
                <MudIcon Icon="@Avatar"></MudIcon>
            </MudAvatar>
        </div>
    }
    else if (!String.IsNullOrEmpty(Icon))
    {
        <div class="mud-list-item-icon">
            <MudIcon Icon="@Icon"></MudIcon>
        </div>
    }
    <div class="mud-list-item-text @(Inset? "mud-list-item-text-inset" : "")">
        <MudText Typo="@textTypo">
            @if (String.IsNullOrEmpty(Text))
            {
                @ChildContent
            }
            else
            {
                @Text
            }
        </MudText>
    </div>
    @if (NestedList != null)
    {
        @if (Expanded)
        {
            <MudIcon Icon="@Icons.Material.ExpandLess"/>
        }
        else
        {
            <MudIcon Icon="@Icons.Material.ExpandMore"/>
        }
    }
</div>
@if (NestedList != null)
{
    <MudCollapse Expanded="@Expanded">
        <MudList Clickable="@MudList.Clickable" DisablePadding="true" Class="mud-nested-list">
            @NestedList
        </MudList>
    </MudCollapse>
}