@page "/components/layout/grid"

<DocsPage>
    <DocsPageHeader>
        <Title>Grid</Title>
        <SubTitle></SubTitle>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Spacing</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" FullWidth="true" Class="demo-grid-spacing">
                <MudGrid>
                    <MudItem xs="12">
                        <MudGrid Spacing="@spacing" Justify="Justify.Center">
                            <MudItem>
                                <MudPaper />
                            </MudItem>
                            <MudItem>
                                <MudPaper />
                            </MudItem>
                            <MudItem>
                                <MudPaper />
                            </MudItem>
                        </MudGrid>
                    </MudItem>
                </MudGrid>
                <MudPaper Class="demo-grid-paper" Elevation="0">
                    <MudButton Color="Color.Primary" OnClick="@AddSpacing">Change Spacing</MudButton>
                    <MudAppBarSpacer></MudAppBarSpacer>
                    <MudText GutterBottom="false">Spacing: @spacing</MudText>
                </MudPaper>
            </SectionContent>
            <SectionSource Code="@Markdown_Spacing"></SectionSource>
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Basic grid</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" FullWidth="true" Class="demo-grid-basic">
                <MudGrid>
                    <MudItem xs="12">
                        <MudPaper>12</MudPaper>
                    </MudItem>
                    <MudItem xs="6">
                        <MudPaper>6</MudPaper>
                    </MudItem>
                    <MudItem xs="6">
                        <MudPaper>6</MudPaper>
                    </MudItem>
                    <MudItem xs="3">
                        <MudPaper>3</MudPaper>
                    </MudItem>
                    <MudItem xs="3">
                        <MudPaper>3</MudPaper>
                    </MudItem>
                    <MudItem xs="3">
                        <MudPaper>3</MudPaper>
                    </MudItem>
                    <MudItem xs="3">
                        <MudPaper>3</MudPaper>
                    </MudItem>
                </MudGrid>
            </SectionContent>
            <SectionSource Code="@Markdown_BasicGrid"></SectionSource>
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>

@code {

    public int spacing {get; set;} = 2;
    void AddSpacing()
    {
        if (spacing >= 10)
        {
            spacing = 0;
        }
        else
        {
            spacing += 1;
        }
        StateHasChanged();
    }

string Markdown_Spacing = @"```html
<MudGrid>
    <MudItem xs=""12"">
        <MudGrid Spacing=""@spacing"" Justify=""Justify.Center"">
            <MudItem>
                <MudPaper />
            </MudItem>
            <MudItem>
                <MudPaper />
            </MudItem>
            <MudItem>
                <MudPaper />
            </MudItem>
        </MudGrid>
    </MudItem>
    <MudItem xs=""12"">
        <MudPaper Class=""docs-spacing"">
            <MudText>Spacing: @spacing</MudText>
            <MudButton Color=""Color.Primary"" OnClick=""@AddSpacing"">Change Spacing</MudButton>
        </MudPaper>
    </MudItem>
</MudGrid>
```";
string Markdown_BasicGrid = @"```html
<MudGrid>
    <MudItem xs=""12"">
        <MudPaper>12</MudPaper>
    </MudItem>
    <MudItem xs=""6"">
        <MudPaper>6</MudPaper>
    </MudItem>
    <MudItem xs=""6"">
        <MudPaper>6</MudPaper>
    </MudItem>
    <MudItem xs=""3"">
        <MudPaper>3</MudPaper>
    </MudItem>
    <MudItem xs=""3"">
        <MudPaper>3</MudPaper>
    </MudItem>
    <MudItem xs=""3"">
        <MudPaper>3</MudPaper>
    </MudItem>
    <MudItem xs=""3"">
        <MudPaper>3</MudPaper>
    </MudItem>
</MudGrid>
```";
}
