@namespace MudBlazor
@inherits MudBaseInput<string>
@using Microsoft.JSInterop;
@using MudBlazor.Interop



<div @attributes="UserAttributes" class="@Classname" >
    <div class="mud-input-control-input-container">
       
        <div class="@InputClassname" style="@Style">
            
            @if (!BottomToolbar)
            {
                <div class="@ToolbarCSSClass" id="QuillToolBar" @ref="@ToolBar" style="@ToolbarCssStyle">
                    @ToolbarContent
                </div>
            }
            <div class="@EditorCssClass" id="@("QuillEditor_" + UniqueID)" @ref="@QuillElement" style="@Style">
                @EditorContent
            </div>
            @if (BottomToolbar)
            {
                <div class="@ToolbarCSSClass" id="QuillBottomToolbar" @ref="@ToolBar" style="@ToolbarCssStyle">
                    @ToolbarContent
                </div>
            }
            <div class="mud-input-slot mud-input-root mud-input-root-outlined" style="display:none"
                 tabindex="-1" ></div><!--!-->
            @if (Variant == Variant.Outlined)
            {
                <div class="mud-input-outlined-border"></div>
            }
        </div><!--!-->
        @if (!string.IsNullOrEmpty(Label))
        {
            <MudInputLabel Class="mud-input-label-inputcontrol" Variant="@Variant" Disabled=@Disabled Error="@Error"
                           Margin="@Margin" >
                @Label
            </MudInputLabel>
        }
    </div>
</div>



