@namespace MudBlazor.Docs.Examples


<MudGrid>
    <MudItem xs="12" sm="6" md="3">
        <MudTextField @bind-Value="@element.Name" Label="Name"/>
    </MudItem>
    <MudItem xs="12" sm="6" md="3">
        <MudTextField @bind-Value="@element.Molar" Label="Molar"/>
    </MudItem>
    <MudItem xs="12" sm="6" md="3">
        <MudTextField @bind-Value="@element.Number" Label="Number"/>
    </MudItem>
    <MudItem xs="12" sm="6" md="3">
        <MudTextField @bind-Value="@updatedon" Format="yyyy/MM/dd" Label="Last Update"/>
    </MudItem>
</MudGrid>
<div>
    <MudText Typo="@MudBlazor.Typo.h6">Data:</MudText>
    <MudText>Name: @element.Name</MudText>
    <MudText>Molar: @element.Molar</MudText>
    <MudText>Number: @element.Number</MudText>
    <MudText>Last Update: @updatedon </MudText>
</div>


@code {
    DateTime updatedon = DateTime.Today;
    Data.Element element = new Data.Element { Group = "", Name = "Hydrogen", Molar = 1.00794, Number = 1 };

}