@page "/components/navigation/appbar"

<DocsPage>
    <DocsPageHeader>
        <Title>App Bar</Title>
        <SubTitle></SubTitle>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Simple App Bar</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" DisplayFlex="true">
                <AppBar Position="Position.Static">
                    <IconButton Icon="@Icons.Material.Menu" Color="Color.Inherit" Edge="Edge.Start" />
                    <AppBarSpacer />
                    <Button Variant="Variant.Text" Color="Color.Inherit">Login</Button>
                </AppBar>
            </SectionContent>
            <SectionSource Code="@Markdown_Simple_AppBar"></SectionSource>
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Elevation</Title>
                <Description>You can change the App Bar elevation, with values from 0-24</Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" DisplayFlex="true">
                <AppBar Position="Position.Static" Elevation="0">
                    <IconButton Icon="@Icons.Material.Menu" Color="Color.Inherit" Edge="Edge.Start" />
                    <AppBarSpacer />
                    <Button Variant="Variant.Text" Color="Color.Inherit">Login</Button>
                </AppBar>
            </SectionContent>
            <SectionSource Code="@Markdown_Elevation"></SectionSource>
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>

@code {
string Markdown_Simple_AppBar = @"```html
<AppBar Position=""Position.Static"">
    <IconButton Icon=""@Icons.Material.Menu"" Color=""Color.Inherit"" Edge=""Edge.Start"" />
    <AppBarSpacer />
    <Button Variant=""Variant.Text"" Color=""Color.Inherit"">Login</Button>
</AppBar>
```";
string Markdown_Elevation = @"```html
<AppBar Position=""Position.Static"" Elevation=""0"">
    <IconButton Icon=""@Icons.Material.Menu"" Color=""Color.Inherit"" Edge=""Edge.Start"" />
    <AppBarSpacer />
    <Button Variant=""Variant.Text"" Color=""Color.Inherit"">Login</Button>
</AppBar>
```";
}
