@page "/components/navigation/drawer"

<DocsPage>
    <DocsPageHeader>
        <Title>Drawer</Title>
        <SubTitle></SubTitle>
    </DocsPageHeader>
    <DocsPageContent>
        <DocsPageSection>
            <SectionHeader>
                <Title>Persistent drawer</Title>
                <Description>The drawer can be toggled open or closed. The drawer needs to be wrapped around the Layout component and the default state can be set by DrawerOpen parameter.</Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" DisplayFlex="true" Class="demo-drawer">
                <DocsFrame>
                    <MudLayout DrawerOpen="@DocsDrawerOpen">
                        <MudAppBar Position="Position.Absolute" Elevation="0">
                            <MudIconButton Icon="@Icons.Material.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DocsDrawerToggle())" />
                            <MudAppBarSpacer />
                            <MudButton Variant="Variant.Text" Color="Color.Inherit">Login</MudButton>
                        </MudAppBar>
                        <MudDrawer>
                            <MudDrawerHeader>
                                <Typography Typo="Typo.h6">My App</Typography>
                            </MudDrawerHeader>
                            <MudList>
                                <MudListNavItem Href="#">Store</MudListNavItem>
                                <MudListNavItem Href="#">Library</MudListNavItem>
                                <MudListNavItem Href="#">Community</MudListNavItem>
                            </MudList>
                        </MudDrawer>
                        <MudMainContent>
                            <LoremIpsum />
                        </MudMainContent>
                    </MudLayout>
                </DocsFrame>
            </SectionContent>
            <SectionSource Code="@Markdown_Drawer"></SectionSource>
        </DocsPageSection>
        <DocsPageSection>
            <SectionHeader>
                <Title>Clipping</Title>
                <Description></Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" DisplayFlex="true" Class="demo-drawer">
                <DocsFrame>
                    <MudLayout DrawerOpen="@DocsDrawerOpen" DrawerClipped="true">
                        <MudAppBar Position="Position.Absolute" Elevation="0">
                            <MudIconButton Icon="@Icons.Material.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DocsDrawerToggle())" />
                            <MudAppBarSpacer />
                            <MudButton Variant="Variant.Text" Color="Color.Inherit">Login</MudButton>
                        </MudAppBar>
                        <MudDrawer Anchor="Anchor.Right">
                            <MudDrawerHeader>
                                <Typography Typo="Typo.h6">My App</Typography>
                            </MudDrawerHeader>
                            <MudList>
                                <MudListNavItem Href="#">Store</MudListNavItem>
                                <MudListNavItem Href="#">Library</MudListNavItem>
                                <MudListNavItem Href="#">Community</MudListNavItem>
                            </MudList>
                        </MudDrawer>
                        <MudMainContent>
                            <LoremIpsum />
                        </MudMainContent>
                    </MudLayout>
                </DocsFrame>
            </SectionContent>
            <SectionSource Code="@Markdown_Clipping"></SectionSource>
        </DocsPageSection>
    </DocsPageContent>
</DocsPage>

@code {

    bool DocsDrawerOpen = true;

    void DocsDrawerToggle()
    {
        DocsDrawerOpen = !DocsDrawerOpen;
    }

string Markdown_Drawer = @"```html
<MudLayout DrawerOpen=""@DocsDrawerOpen"">
    <MudAppBar Position=""Position.Absolute"" Elevation=""0"">
        <MudIconButton Icon=""@Icons.Material.Menu"" Color=""Color.Inherit"" Edge=""Edge.Start"" OnClick=""@((e) => DocsDrawerToggle())"" />
        <MudAppBarSpacer />
        <Button Variant=""Variant.Text"" Color=""Color.Inherit"">Login</Button>
    </MudAppBar>
    <MudDrawer>
        <MudDrawerHeader>
            <Typography Typo=""Typo.h6"">My App</Typography>
        </MudDrawerHeader>
        <List>
            <ListNavItem Href=""#"">Store</ListNavItem>
            <ListNavItem Href=""#"">Library</ListNavItem>
            <ListNavItem Href=""#"">Community</ListNavItem>
        </List>
    </MudDrawer>
    <MudMainContent Class=""docs-drawer-page"">
        <LoremIpsum />
    </MudMainContent>
</MudLayout>

@code {
    bool DocsDrawerOpen = true;

    void DocsDrawerToggle()
    {
        DocsDrawerOpen = !DocsDrawerOpen;
    }
}
```";
string Markdown_Clipping = @"```html
<MudLayout DrawerOpen=""@DocsDrawerOpen"" DrawerClipped=""true"">
<MudAppBar Position=""Position.Absolute"" Elevation=""0"">
    <MudIconButton Icon=""@Icons.Material.Menu"" Color=""Color.Inherit"" Edge=""Edge.Start"" OnClick=""@((e) => DocsDrawerToggle())"" />
    <MudAppBarSpacer />
    <Button Variant=""Variant.Text"" Color=""Color.Inherit"">Login</Button>
</MudAppBar>
<MudDrawer Anchor=""Anchor.Right"">
    <MudDrawerHeader>
        <Typography Typo=""Typo.h6"">My App</Typography>
    </MudDrawerHeader>
    <List>
        <ListNavItem Href=""#"">Store</ListNavItem>
        <ListNavItem Href=""#"">Library</ListNavItem>
        <ListNavItem Href=""#"">Community</ListNavItem>
    </List>
</MudDrawer>
<MudMainContent Class=""docs-drawer-page"">
    <LoremIpsum />
</MudMainContent>
</MudLayout>

@code {
    bool DocsDrawerOpen = true;

    void DocsDrawerToggle()
    {
        DocsDrawerOpen = !DocsDrawerOpen;
    }
}
```";
}
