@page "/project/credit"

<DocsPage>
    <MudContainer>
        <MudText Typo="Typo.h3">Credits</MudText>

        <MudText Typo="Typo.h5" Class="mt-12 mb-6">Inspiration</MudText>
        <MudGrid>
            <MudItem xs="12" md="6">
                <MudCard Elevation="4" Class="docs-credit-card">
                    <MudCardHeader>
                        <CardHeaderAvatar>
                            <MudAvatar Image="https://camo.githubusercontent.com/cf05625198fe7b6ad8a302d1ce16bc99b93ec2ac/68747470733a2f2f6d6174657269616c2d75692e636f6d2f7374617469632f6c6f676f2e737667" Size="Size.Large" Color="Color.Transparent" />
                        </CardHeaderAvatar>
                        <CardHeaderContent>
                            <MudText Class="credit-mui" Typo="Typo.h6">Material-UI</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudText Typo="Typo.subtitle1" GutterBottom="true">Material-UI is a react component library.</MudText>
                        <MudText Typo="Typo.body2">This is where the base design for MudBlazor comes from, a good list of components and what options they may have.</MudText>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="12" md="6">
                <MudCard Elevation="4" Class="docs-credit-card">
                    <MudCardHeader>
                        <CardHeaderAvatar>
                            <MudAvatar Image="https://camo.githubusercontent.com/41759602ad091b02adf7b4986b55b0a870471b98/68747470733a2f2f63646e2e767565746966796a732e636f6d2f696d616765732f6c6f676f732f6c6f676f2e737667" Size="Size.Large" Color="Color.Transparent" Class="docs-avatar-img-sm" />
                        </CardHeaderAvatar>
                        <CardHeaderContent>
                            <MudText Class="credit-vuetify" Typo="Typo.h6">Vuetify</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudText Typo="Typo.subtitle1" GutterBottom="true">Vuetify is a UI framework built on top of Vue.js.</MudText>
                        <MudText Typo="Typo.body2">There is so much one can learn from Vuetify and we are adding the best things to MudBlazor.</MudText>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="12" md="12">
                <MudCard Elevation="4" Class="docs-credit-card">
                    <MudCardHeader>
                        <CardHeaderAvatar>
                            <MudAvatar Size="Size.Large" Class="mud-elevation-4" Rounded="true" Color="Color.Secondary">
                                <MudIcon Icon="@Icons.Custom.Brands.Awesome" Size="Size.Large" Class="credit-awesome-icon" />
                            </MudAvatar>
                        </CardHeaderAvatar>
                        <CardHeaderContent>
                            <MudText Typo="Typo.body1">Awesome Blazor</MudText>
                            <MudText Typo="Typo.body2">Great place to learn, find information and projects/examples about Blazor.</MudText>
                        </CardHeaderContent>
                        <CardHeaderActions>
                            <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Link="https://github.com/AdrienTorris/awesome-blazor" Color="Color.Surface" />
                        </CardHeaderActions>
                    </MudCardHeader>
                </MudCard>
            </MudItem>
        </MudGrid>
        <MudText Class="mt-12 mb-6" Typo="Typo.h5">Awesome coders who allowed us to use some of their code in MudBlazor</MudText>
        <MudGrid>
            <MudItem xs="12" md="6">
                <MudCard Elevation="4" Class="docs-awesome-coders">
                    <MudCardHeader>
                        <CardHeaderAvatar>
                            <MudAvatar Image="https://avatars1.githubusercontent.com/u/251532?s=460&v=4" Size="Size.Large" Class="mud-elevation-4" />
                        </CardHeaderAvatar>
                        <CardHeaderContent>
                            <MudText Typo="Typo.body1">Alessandro Ghidini</MudText>
                            <MudText Typo="Typo.body2">Donated the Sotsera Blazor Toaster code</MudText>
                        </CardHeaderContent>
                        <CardHeaderActions>
                            <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Link="https://github.com/sotsera/sotsera.blazor.toaster" Color="Color.Surface" />
                        </CardHeaderActions>
                    </MudCardHeader>
                </MudCard>
            </MudItem>
            <MudItem xs="12" md="6">
                <MudCard Elevation="4" Class="docs-awesome-coders">
                    <MudCardHeader>
                        <CardHeaderAvatar>
                            <MudAvatar Image="https://avatars2.githubusercontent.com/u/6171719?s=460&u=02c821ee398d3601618b845f28514b9ad33d4306&v=4" Size="Size.Large" Class="mud-elevation-4" />
                        </CardHeaderAvatar>
                        <CardHeaderContent>
                            <MudText Typo="Typo.body1">Chris Sainty</MudText>
                            <MudText Typo="Typo.body2">Donated the Blazored Modal source code</MudText>
                        </CardHeaderContent>
                        <CardHeaderActions>
                            <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Link="https://github.com/Blazored/Modal" Color="Color.Surface" />
                        </CardHeaderActions>
                    </MudCardHeader>
                </MudCard>
            </MudItem>
            <MudItem xs="12">
                <MudCard Elevation="4" Class="docs-awesome-coders">
                    <MudCardHeader>
                        <CardHeaderAvatar>
                            <MudAvatar Image="https://avatars1.githubusercontent.com/u/3385986?s=460&u=e7884f25057513e6987883867a16bc167ce4a6a6&v=4" Size="Size.Large" Class="mud-elevation-4" />
                        </CardHeaderAvatar>
                        <CardHeaderContent>
                            <MudText Typo="Typo.body1">Zachary Patten</MudText>
                            <MudText Typo="Typo.body2">Donated the XmlDoc loading code for the docs</MudText>
                        </CardHeaderContent>
                        <CardHeaderActions>
                            <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Link="https://github.com/ZacharyPatten/Towel" Color="Color.Surface" />
                        </CardHeaderActions>
                    </MudCardHeader>
                </MudCard>
            </MudItem>
        </MudGrid>
    </MudContainer>
    <MudContainer>
        <div Style="margin-top: 128px;"></div>
    </MudContainer>
</DocsPage>
<Footer />
