@page "/project/team"

<DocsPage>
    <MudContainer>
        <MudText Typo="Typo.h3" GutterBottom="true">Meet the team</MudText>
        <MudText Typo="Typo.h6" Style="font-weight:400; line-height:1.2;">MudBlazor is not a one person show. We have a new project, in its early stages and just a few people working on it right now, but hoping more will join in an contribute further down the line.</MudText>

        <MudText Typo="Typo.h4" GutterBottom="true" Color="Color.Primary">Core Team</MudText>
        <MudText Class="mb-4">The Core Team who guide, develop and direct the development of Mudblazor.</MudText>
        <MudDivider Class="mb-5" />
        <MudGrid>
            <MudItem md="12">
                <div class="docs-team-card">
                    <div class="docs-team-avatar">
                        <MudAvatar Class="mt-1">J</MudAvatar>
                    </div>
                    <div class="docs-team-details">
                        <div class="docs-person-title">
                            <MudText Typo="Typo.h6" Class="mt-1 mr-3">Jonny Larsson</MudText>
                            <MudIconButton Icon="@Icons.Custom.GitHub" Color="Color.Default" />
                            <MudIconButton Icon="@Icons.Custom.LinkedIn" Color="Color.Primary" />
                        </div>
                        <MudText Typo="Typo.subtitle1">Focus - MudBlazor/*</MudText>
                        <div class="docs-details-row ">
                            <MudIcon Icon="@Icons.Material.Work" Size="Size.Small"></MudIcon>
                            <MudText Typo="Typo.body2" Inline="true">Founder</MudText>
                        </div>
                        <div class="docs-details-row ">
                            <MudIcon Icon="@Icons.Material.Place" Size="Size.Small"></MudIcon>
                            <MudText Typo="Typo.body2" Inline="true">Örebro, Sweden</MudText>
                        </div>
                        <div class="docs-details-row ">
                            <MudIcon Icon="@Icons.Material.Translate" Size="Size.Small"></MudIcon>
                            <MudText Typo="Typo.body2" Inline="true">Swedish, English</MudText>
                        </div>
                    </div>
                </div>
                <MudDivider Class="mt-5" />
            </MudItem>
            <MudItem md="12">
                <div class="docs-team-card">
                    <div class="docs-team-avatar">
                        <MudAvatar Class="mt-1">M</MudAvatar>
                    </div>
                    <div class="docs-team-details">
                        <div class="docs-person-title">
                            <MudText Typo="Typo.h6" Class="mt-1 mr-3">Meinrad Recheis</MudText>
                            <MudIconButton Icon="@Icons.Custom.GitHub" Color="Color.Default" />
                            <MudIconButton Icon="@Icons.Custom.LinkedIn" Color="Color.Primary" />
                        </div>
                        <MudText Typo="Typo.subtitle1">Focus - MudBlazor/*</MudText>
                        <div class="docs-details-row ">
                            <MudIcon Icon="@Icons.Material.Work" Size="Size.Small"></MudIcon>
                            <MudText Typo="Typo.body2" Inline="true">Co-Creator</MudText>
                        </div>
                        <MudText Typo="Typo.subtitle2"></MudText>
                        <div class="docs-details-row ">
                            <MudIcon Icon="@Icons.Material.Place" Size="Size.Small"></MudIcon>
                            <MudText Typo="Typo.body2" Inline="true">Vienna, Austria</MudText>
                        </div>
                        <div class="docs-details-row ">
                            <MudIcon Icon="@Icons.Material.Translate" Size="Size.Small"></MudIcon>
                            <MudText Typo="Typo.body2" Inline="true">Austrian, English</MudText>
                        </div>
                    </div>
                </div>
                <MudDivider Class="mt-5" />
            </MudItem>
        </MudGrid>
        <MudText Typo="Typo.h4" GutterBottom="true" Color="Color.Secondary">Contributors</MudText>
        <MudText Class="mb-4">Fixing bugs, doing docs and adding new components. Contributors who actively working to improve MudBlazor.</MudText>
        <MudDivider Class="mb-5" />
        <MudGrid>
            <MudItem md="12">
                <div class="docs-team-card">
                    <div class="docs-team-avatar">
                        <MudAvatar Class="mt-1">R</MudAvatar>
                    </div>
                    <div class="docs-team-details">
                        <div class="docs-person-title">
                            <MudText Typo="Typo.h6" Class="mt-1 mr-3">Rasmus Wahlström</MudText>
                            <MudIconButton Icon="@Icons.Custom.GitHub" Color="Color.Default" />
                            <MudIconButton Icon="@Icons.Custom.LinkedIn" Color="Color.Primary" />
                        </div>
                        <MudText Typo="Typo.subtitle1">Focus - Documentation and Texts</MudText>
                        <div class="docs-details-row ">
                            <MudIcon Icon="@Icons.Material.Place" Size="Size.Small"></MudIcon>
                            <MudText Typo="Typo.body2" Inline="true">Norrköping, Sweden</MudText>
                        </div>
                        <div class="docs-details-row ">
                            <MudIcon Icon="@Icons.Material.Translate" Size="Size.Small"></MudIcon>
                            <MudText Typo="Typo.body2" Inline="true">Swedish, English</MudText>
                        </div>
                    </div>
                </div>
                <MudDivider Class="mt-5" />
            </MudItem>
        </MudGrid>
    </MudContainer>
    <MudContainer>
        <div class="my-16"></div>
    </MudContainer>
</DocsPage>
<Footer />