@page "/project/team"

<DocsPage>
    <MudContainer>
        <MudText Typo="Typo.h3" GutterBottom="true">Meet the team</MudText>
        <MudText Typo="Typo.h6" Style="font-weight:400; line-height:1.2;">MudBlazor is not a one person show. We have a new project, in its early stages and just a few people working on it right now, but hoping more will join in an contribute further down the line.</MudText>

        <MudText Typo="Typo.h4" GutterBottom="true" Color="Color.Primary">Core Team</MudText>
        <MudText Class="mb-8">The Core Team who guide, develop and direct the development of Mudblazor.</MudText>
        <MudGrid>
            <MudItem xs="12" md="6">
                <MudCard Elevation="4">
                    <MudCardHeader>
                        <CardHeaderAvatar>
                            <MudAvatar Image="https://media-exp1.licdn.com/dms/image/C4D03AQGNO7uV7fRi7Q/profile-displayphoto-shrink_200_200/0?e=1608163200&v=beta&t=rolCGCu34reGiqGU6ZRxVHI_cEHoVRvhtUSF9TffaN0" Size="Size.Large" Class="mud-elevation-4"/>
                        </CardHeaderAvatar>
                        <CardHeaderContent>
                            <MudText Typo="Typo.body1">Jonny Larsson</MudText>
                            <MudText Typo="Typo.body2">Creator</MudText>
                        </CardHeaderContent>
                        <CardHeaderActions>
                            <MudIconButton Icon="@Icons.Custom.GitHub" Link="https://github.com/Garderoben" Color="Color.Surface" />
                            <MudIconButton Icon="@Icons.Custom.LinkedIn" Link="https://www.linkedin.com/in/jonny-larsson-b72480161/" Color="Color.Primary" />
                        </CardHeaderActions>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudList>
                            <MudListItem Icon="@Icons.Material.Place" Text="Örebro, Sweden" />
                            <MudListItem Icon="@Icons.Material.Translate" Text="Swedish, English" />
                        </MudList>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem xs="12" md="6">
                <MudCard Elevation="4">
                    <MudCardHeader>
                        <CardHeaderAvatar>
                            <MudAvatar Image="https://media-exp1.licdn.com/dms/image/C4E03AQHWnE_XxTpRHA/profile-displayphoto-shrink_200_200/0?e=1608163200&v=beta&t=fFn9m3wQLDb3KGhDuMwhFgjqoM9n59qJy46qdYhT1xs" Size="Size.Large" Class="mud-elevation-4" />
                        </CardHeaderAvatar>
                        <CardHeaderContent>
                            <MudText Typo="Typo.body1">Meinrad Recheis</MudText>
                            <MudText Typo="Typo.body2">Co-Creator</MudText>
                        </CardHeaderContent>
                        <CardHeaderActions>
                            <MudIconButton Icon="@Icons.Custom.GitHub" Link="https://github.com/henon" Color="Color.Surface" Target="_blank" />
                            <MudIconButton Icon="@Icons.Custom.LinkedIn" Link="https://www.linkedin.com/in/meinrad-recheis-6a9885171/" Color="Color.Primary" />
                        </CardHeaderActions>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudList>
                            <MudListItem Icon="@Icons.Material.Place" Text="Vienna, Austria" />
                            <MudListItem Icon="@Icons.Material.Translate" Text="German, English, Chinese" />
                        </MudList>
                    </MudCardContent>
                </MudCard>
            </MudItem>
        </MudGrid>
        <MudText Typo="Typo.h4"Class="mt-16" GutterBottom="true" Color="Color.Secondary">Contributors</MudText>
        <MudText Class="mb-8">Contributors who are actively working to improve or have added significantly to Mudblazor.</MudText>
        <MudGrid>
            
            @foreach (var contri in contributors.OrderBy(x=>x.Github))
            {
                <MudItem xs="12" md="6">
                    <MudContributor Firstname="@contri.Github" AvatarLink="@contri.Avatar" GithubLink="@("https://github.com/"+contri.Github)"/>
                </MudItem>
            }

        </MudGrid>
    </MudContainer>
    <MudContainer>
        <div class="my-16"></div>
    </MudContainer>
</DocsPage>
<Footer />

@code
{
    Contributor[] contributors = new Contributor[]
    {
        new Contributor { Github = "IvanJosipovic", Avatar = "https://avatars1.githubusercontent.com/u/9521987?s=460&u=12efca27feaf41d81eabff88af9ecbfc7acb7180&v=4"},
        new Contributor { Github = "HClausing", Avatar = "https://avatars0.githubusercontent.com/u/15158923?s=460&u=c527c409416ada0be8b6dba6d8ff2af9db409574&v=4"},
        new Contributor { Github = "Shusty-6th", Avatar = "https://avatars0.githubusercontent.com/u/7383088?s=460&u=c23572535c1a8bb0d2cfa857b05034e2c26cf924&v=4"},
        new Contributor { Github = "Lunees", Avatar = "https://avatars2.githubusercontent.com/u/71094850?s=460&u=66c16f5bb7d27dc751f6759a82a3a070c8c7fe4b&v=4"},
        new Contributor { Github = "MattChique", Avatar = "https://avatars1.githubusercontent.com/u/26269158?s=460&u=33aace223087bd25900e9c70169754b321f4b8c4&v=4"},
        new Contributor { Github = "lindespang", Avatar = "https://avatars0.githubusercontent.com/u/36196344?s=460&u=a053e8acc41baef963d5f56cd49f72b8d8efe185&v=4"},
        new Contributor { Github = "Bimble", Avatar = "https://avatars1.githubusercontent.com/u/235179?s=460&v=4"},
        new Contributor { Github = "Flaflo", Avatar = "https://avatars3.githubusercontent.com/u/12973684?s=460&u=f133dbcd2bc9a3c95ea904bda0da2c3c02a9db26&v=4"},
    };

    class Contributor
    {
        public string Avatar;
        public string Github;
    }
}
