<div class="relative">
    <MudGrid>
        <MudItem xs="12">
            <MudPaper Width="400px" Class="pa-4">
                <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@ToggleOpen">Open</MudButton>
                <MudSwitch @bind-Checked="@_isOpen" Color="Color.Primary" />
                <MudToggleIconButton @bind-Toggled="@_isOpen" Icon="@Icons.Filled.Fullscreen" Color="@Color.Primary" ToggledIcon="@Icons.Filled.FullscreenExit" ToggledColor="@Color.Secondary" />
            </MudPaper>
        </MudItem>
        <MudItem xs="12" Class="relative">
            <MudPopover Open="@_isOpen" Class="px-4 pt-4 relative">
                <div class="d-flex flex-column">
                    <MudText>Content of the popover can be anything.</MudText>
                    <MudButton OnClick="@ToggleOpen" Class="ml-auto mr-n3 mb-1" Color="Color.Error">Close</MudButton>
                    <MudAutocomplete T="string" SearchFunc="SearchFunc" />
                </div>
            </MudPopover>
        </MudItem>
    </MudGrid>
</div>

@code{
    public bool _isOpen;

    public void ToggleOpen()
    {
        if (_isOpen)
            _isOpen = false;
        else
            _isOpen = true;
    }

    public async Task<IEnumerable<string>> SearchFunc(string s)
    {
        await Task.Delay(5);
        return new List<string> { "a", "b", "c" };
    }
}