<NavLink ActiveClass="d-flex mr-4" href="/">
    <MudBlazorLogo Class="docs-mudblazor-logo"/>
    <MudText Color="Color.Primary" Typo="Typo.h5" Class="docs-brand-text d-none d-md-flex">MudBlazor</MudText>
</NavLink>
<MudButton Link="/components/alert" Color="Color.Inherit" Variant="Variant.Text" Class="@GetActiveClass(DocsBasePage.Docs)">Docs</MudButton>
<MudButton Link="/getting-started/installation" Color="Color.Inherit" Variant="Variant.Text" Class="@GetActiveClass(DocsBasePage.GettingStarted)">Getting Started</MudButton>
<MudButton Color="Color.Inherit" Variant="Variant.Text" Class="@GetActiveClass(DocsBasePage.DiscoverMore)">Discover More</MudButton>
<MudMenu Color="Color.Inherit" Variant="Variant.Text" Class="mx-1 px-3" Label="Products" ActivationEvent="@MouseEvent.MouseOver" EndIcon="@Icons.Filled.KeyboardArrowDown" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter">
    <div class="d-flex">
        <div class="d-flex flex-column">
            <MudText Typo="Typo.subtitle2">Products</MudText>
            <MudText Typo="Typo.h6">MudBlazor</MudText>
            <MudText Typo="Typo.h6">TryMudBlazor</MudText>
            <MudText Typo="Typo.h6">ThemeManager</MudText>
            <MudText Typo="Typo.h6">Templates</MudText>
        </div>
        <div class="d-flex flex-column">
            <MudText Typo="Typo.subtitle2">Other</MudText>
            <MudText Typo="Typo.h6">MudStore</MudText>
            <MudText Typo="Typo.h6">MudAcademy</MudText>
            <MudText Typo="Typo.h6">MudExtensions</MudText>
        </div>
    </div>
</MudMenu>
<MudSpacer/>
@if (DisplaySearchBar)
{
    <MudAutocomplete AutoFocus="true" @ref="_searchAutocomplete" T="ApiLinkServiceEntry" Placeholder="Search" SearchFunc="Search" Variant="Variant.Outlined" ValueChanged="OnSearchResult" Class="docs-search-bar mx-4" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search">
        <ItemTemplate Context="result">
            <MudText>@result.Title</MudText> <MudText Typo="Typo.body2">@result.SubTitle</MudText>
        </ItemTemplate>
    </MudAutocomplete>
    <MudDivider FlexItem="true" Vertical="true" DividerType="DividerType.Middle" Class="mx-4 my-4"/>
}
<MudBadge Color="Color.Secondary" Dot="true" Overlap="true">
    <MudMenu Icon="@Icons.Outlined.Notifications" Color="Color.Inherit" AnchorOrigin="Origin.BottomLeft" TransformOrigin="Origin.TopCenter">
        <MudMenuItem>No Notifications</MudMenuItem>
    </MudMenu>
</MudBadge>
<MudTooltip Duration="1000" Text="@(MainData._isDarkMode ? "Switch to Light Theme" : "Switch to Dark Theme")">
    <MudIconButton Icon="@(MainData._isDarkMode ? @Icons.Rounded.LightMode : @Icons.Material.Outlined.DarkMode)" Color="Color.Inherit" OnClick="@((e) => MainData.DarkMode())"/>
</MudTooltip>
<MudTooltip Duration="1000" Text="@(MainData._rightToLeft ? "Switch to left-to-right" : "Switch to right-to-left")">
    <MudIconButton Icon="@(MainData._rightToLeft ? @Icons.Material.Filled.FormatTextdirectionLToR : @Icons.Material.Filled.FormatTextdirectionRToL)" OnClick="@((e) => MainData.RightToLeft())" Color="Color.Inherit"/>
</MudTooltip>
<MudTooltip Duration="1000" Text="GitHub Repository">
    <MudIconButton Link="https://github.com/MudBlazor/MudBlazor/" Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit"/>
</MudTooltip>