@using System.Linq
@using MudBlazor.Docs.Extensions

<MudNavMenu Class="mt-4">
    <MudNavGroup Title="Getting Started" Expanded="false">
        <MudNavLink Href="getting-started/installation">Installation</MudNavLink>
        <MudNavLink Href="getting-started/usage">Usage</MudNavLink>
    </MudNavGroup>
    <MudNavGroup Title="Components" Expanded="false">
        @foreach (var item in DocsComponents.ToList())
        {
            if (item.IsNavGroup)
            {
                <MudNavGroup Title="@item.Name" Expanded="@item.NavGroupExpanded">
                    @foreach (var item in item.GroupItems.ToList())
                    {
                        string href = $"components/{item.Link}";
                        <MudNavLink Href="@href">@item.Name</MudNavLink>
                    }
                </MudNavGroup>
            }
        }
    </MudNavGroup>
    <MudNavGroup Title="Component API" Expanded="false">
        @foreach (var item in DocsComponentsAPI.ToList().OrderBy(i => i.Name))
        {
            <MudNavLink Href="@ApiLink.GetApiLinkFor(item.Component)">@item.Name</MudNavLink>
        }
    </MudNavGroup>
    <MudNavGroup Title="System" Expanded="false">
        <MudNavLink Href="system/colors">Colors</MudNavLink>
        <MudNavLink Href="system/elevation">Elevation</MudNavLink>
        <MudNavLink Href="system/spacing">Spacing</MudNavLink>
    </MudNavGroup>
    <MudNavGroup Title="Customization" Expanded="false">
        <MudNavGroup Title="Theming" Expanded="true">
            <MudNavLink Href="customization/theming/overview">Overview</MudNavLink>
            <MudNavLink Href="customization/theming/colors">Theme Colors</MudNavLink>
            <MudNavLink Href="customization/theming/typography">Typography</MudNavLink>
            <MudNavLink Href="customization/theming/z-index">z-index</MudNavLink>
        </MudNavGroup>
        <MudNavLink Href="customization/default-theme">Default Theme</MudNavLink>
    </MudNavGroup>
    <MudNavGroup Title="Discover More" Expanded="false">
        <MudNavLink Href="project/about">About</MudNavLink>
        <MudNavLink Href="project/credit">Credits</MudNavLink>
        <MudNavLink Href="project/team">Team</MudNavLink>
        <MudNavLink Href="project/vision">Vision</MudNavLink>
    </MudNavGroup>
    <MudNavLink Href="versions" Style="font-weight:500;">Versions</MudNavLink>
</MudNavMenu>
<div class="docs-nav-filler"></div>

@code {
    DocsComponents DocsComponents = new DocsComponents();
    DocsComponents DocsComponentsAPI = new DocsComponents();

    protected override void OnInitialized()
    {
        DocsComponents.AddNavGroup("Layout", true, new DocsComponents()
                            .AddItem("Container", typeof(MudContainer))
                            .AddItem("Grid", typeof(MudGrid))
                            .AddItem("Themes", typeof(MudThemeProvider)))
                    .AddNavGroup("Inputs", true, new DocsComponents()
                            .AddItem("Button", typeof(MudButton))
                            .AddItem("IconButton", typeof(MudIconButton))
                            .AddItem("Checkbox", typeof(MudCheckBox))
                            .AddItem("Date Picker", typeof(MudDatePicker))
                            .AddItem("Floating Action Button", typeof(MudFab))
                            .AddItem("Radio", typeof(MudRadio))
                            .AddItem("Select", typeof(MudSelect))
                            .AddItem("Slider", typeof(MudSlider))
                            .AddItem("Switch", typeof(MudSwitch))
                            .AddItem("Text Field", typeof(MudTextField)))
                    .AddNavGroup("Navigation", true, new DocsComponents()
                            .AddItem("AppBar", typeof(MudAppBar))
                            .AddItem("Drawer", typeof(MudDrawer))
                            .AddItem("Link", typeof(MudLink))
                            .AddItem("Menu", typeof(MudMenu))
                            .AddItem("Nav Menu", typeof(MudNavMenu))
                            .AddItem("Tabs", typeof(MudTabs)))
                    .AddNavGroup("Feedback", true, new DocsComponents()
                            .AddItem("Progress", typeof(MudProgressCircular))
                            .AddItem("Dialog", typeof(MudDialog))
                            .AddItem("Snackbar", typeof(MudSnackbarProvider)))
                    .AddNavGroup("Data Display", true, new DocsComponents()
                            .AddItem("Avatar", typeof(MudAvatar))
                            .AddItem("Alert", typeof(MudAlert))
                            .AddItem("Card", typeof(MudCard))
                            .AddItem("Divider", typeof(MudDivider))
                            .AddItem("Expansion Panel", typeof(MudExpansionPanel))
                            .AddItem("Icons", typeof(MudIcon))
                            .AddItem("List", typeof(MudList))
                            .AddItem("Paper", typeof(MudPaper))
                            .AddItem("Table", typeof(MudTable<T>))
                            .AddItem("Sparkline", typeof(MudSparkLine))
                            .AddItem("Skeleton", typeof(MudSkeleton))
                            .AddItem("Simple Table", typeof(MudSimpleTable))
                            .AddItem("Tooltip", typeof(MudTooltip))
                            .AddItem("Typography", typeof(MudText)));

        @foreach (var item in DocsComponents.ToList())
        {
            if (item.IsNavGroup)
            {
                @foreach (var ApiItem in item.GroupItems.ToList())
                {
                    DocsComponentsAPI.AddItem(ApiItem.Name, ApiItem.Component);
                }
            }
        }
    }
}
