@using System.Linq
@using MudBlazor.Docs.Extensions

<MudNavMenu Class="mt-4">
    <MudNavGroup Title="Getting Started" Icon="@Icons.Material.School" Expanded="false">
        <MudNavLink Href="getting-started/installation">Installation</MudNavLink>
        <MudNavLink Href="getting-started/usage">Usage</MudNavLink>
    </MudNavGroup>
    <MudNavGroup Title="Components" Icon="@Icons.Material.Dashboard" Expanded="false">
        @foreach (var item in DocsComponents.ToList().OrderBy(i => i.Name))
        {
            if (item.IsNavGroup)
            {
                <MudNavGroup Title="@item.Name" Expanded="@item.NavGroupExpanded">
                    @foreach (var item in item.GroupItems.ToList().OrderBy(i => i.Name))
                    {
                        string href = $"components/{item.Link}";
                        <MudNavLink Href="@href">@item.Name</MudNavLink>
                    }
                </MudNavGroup>
            }
            else
            {
                string href = $"components/{item.Link}";
                <MudNavLink Href="@href">@item.Name</MudNavLink>
            }
        }
    </MudNavGroup>
    <MudNavGroup Title="API" Icon="@Icons.Material.Api" Expanded="false">
        @foreach (var item in DocsComponentsAPI.ToList().OrderBy(i => i.Name))
        {
            <MudNavLink Href="@ApiLink.GetApiLinkFor(item.Component)">@item.Name</MudNavLink>
        }
    </MudNavGroup>
    <MudNavGroup Title="Features" Icon="@Icons.Material.DeveloperBoard" Expanded="false">
        <MudNavLink Href="features/breakpoints">Breakpoints</MudNavLink>
        <MudNavLink Href="features/colors">Colors</MudNavLink>
        <MudNavLink Href="features/elevation">Elevation</MudNavLink>
        <MudNavLink Href="features/icons">Icons</MudNavLink>
        <MudNavLink Href="features/spacing">Spacing</MudNavLink>

    </MudNavGroup>
    <MudNavGroup Title="Customization" Icon="@Icons.Material.Handyman" Expanded="false">
        <MudNavLink Href="customization/default-theme">Default Theme</MudNavLink>
    </MudNavGroup>
    <MudNavGroup Title="About" Icon="@Icons.Custom.MudBlazor" Expanded="false">
        <MudNavLink Href="project/credit">Credits</MudNavLink>
        <MudNavLink Href="project/about">How it started</MudNavLink>
        <MudNavLink Href="project/team">Team & Contributors</MudNavLink>
        <MudNavLink Href="versions">Versions</MudNavLink>
    </MudNavGroup>
</MudNavMenu>
<div class="docs-nav-filler"></div>

@code {
    DocsComponents DocsComponents = new DocsComponents();
    DocsComponents DocsComponentsAPI = new DocsComponents();

    protected override void OnInitialized()
    {
        DocsComponents.AddItem("Container", typeof(MudContainer))
                            .AddItem("Grid", typeof(MudGrid))
                            .AddItem("Hidden", typeof(MudHidden))
                            .AddItem("Themes", typeof(MudThemeProvider))
                            .AddItem("Button", typeof(MudButton))
                            .AddItem("IconButton", typeof(MudIconButton))
                            .AddItem("Checkbox", typeof(MudCheckBox))
                            .AddItem("Button FAB", typeof(MudFab))
                                .AddNavGroup("Form Inputs & controls", false, new DocsComponents()
                                    .AddItem("Radio", typeof(MudRadio))
                                    .AddItem("Select", typeof(MudSelect))
                                    .AddItem("Slider", typeof(MudSlider))
                                    .AddItem("Switch", typeof(MudSwitch))
                                    .AddItem("Text Field", typeof(MudTextField))
                                    .AddItem("Forms", typeof(MudForm)))
                            .AddItem("AppBar", typeof(MudAppBar))
                            .AddItem("Drawer", typeof(MudDrawer))
                            .AddItem("Link", typeof(MudLink))
                            .AddItem("Menu", typeof(MudMenu))
                            .AddItem("Nav Menu", typeof(MudNavMenu))
                            .AddItem("Tabs", typeof(MudTabs))
                                .AddNavGroup("Pickers", false, new DocsComponents()
                                    .AddItem("Date Picker", typeof(MudDatePicker))
                                    .AddItem("Time Picker", typeof(MudTimePicker)))
                            .AddItem("Progress", typeof(MudProgressCircular))
                            .AddItem("Dialog", typeof(MudDialog))
                            .AddItem("Snackbar", typeof(MudSnackbarProvider))
                            .AddItem("Avatar", typeof(MudAvatar))
                            .AddItem("Alert", typeof(MudAlert))
                            .AddItem("Card", typeof(MudCard))
                            .AddItem("Divider", typeof(MudDivider))
                            .AddItem("Expansion Panel", typeof(MudExpansionPanel))
                            .AddItem("Icons", typeof(MudIcon))
                            .AddItem("List", typeof(MudList))
                            .AddItem("Paper", typeof(MudPaper))
                            .AddItem("Table", typeof(MudTable<T>))
                            .AddItem("Skeleton", typeof(MudSkeleton))
                            .AddItem("Simple Table", typeof(MudSimpleTable))
                            .AddItem("Tooltip", typeof(MudTooltip))
                            .AddItem("Chips", typeof(MudChip))
                            .AddItem("Typography", typeof(MudText));

        @foreach (var item in DocsComponents.ToList())
        {
            if (item.IsNavGroup)
            {
                @foreach (var ApiItem in item.GroupItems.ToList())
                {
                    DocsComponentsAPI.AddItem(ApiItem.Name, ApiItem.Component);
                }
            }
            else
            {
                DocsComponentsAPI.AddItem(item.Name, item.Component);
            }
        }
    }
}
