@namespace MudBlazor
@inherits MudComponentBase

<aside @attributes="UserAttributes" class="@Classname" style="@Stylename" 
       onmouseenter="@(EventCallback.Factory.Create<EventArgs>(this, OnMouseEnter))"
       onmouseleave="@(EventCallback.Factory.Create<EventArgs>(this, OnMouseLeave))">
    <div @ref="_contentRef" class="mud-drawer-content">
        <CascadingValue Value="this" IsFixed="true">
            @ChildContent
        </CascadingValue>
    </div>
</aside>
<MudOverlay Visible="@OverlayVisible" OnClick="@CloseDrawer" Class="@OverlayClass" DarkBackground="true" LockScroll=false />