@namespace MudBlazor
@inherits MudComponentBase

<aside @ref="_drawerRef" @attributes="UserAttributes" class="@Classname" style="@Stylename">
    <div @ref="_contentRef" class="mud-drawer-content">
        <CascadingValue Value="this" IsFixed="true">
            @ChildContent
        </CascadingValue>
    </div>
</aside>
<MudOverlay Visible="@OverlayVisible" OnClick="@CloseDrawer" Class="@OverlayClass" DarkBackground="true" LockScroll=false />