@namespace MudBlazor
@inherits MudComponentBase

<aside @onpointerenter="EventUtil.AsNonRenderingEventHandler(OnPointerEnterAsync)" @onpointerleave="EventUtil.AsNonRenderingEventHandler(OnPointerLeaveAsync)" @attributes="UserAttributes" class="@Classname" style="@Stylename">
    <div @ref="_contentRef" class="mud-drawer-content">
        <CascadingValue Value="this" IsFixed="true">
            @ChildContent
        </CascadingValue>
    </div>
</aside>
<MudOverlay Visible="@OverlayVisible" AutoClose="@OverlayAutoClose" OnClosed="CloseDrawerAsync" Class="@OverlayClass" DarkBackground="true" LockScroll="false" />