@namespace MudBlazor
@inherits MudComponentBase

<aside @attributes="UserAttributes" class="@Classname" style="@Stylename">
    <div @ref="_contentRef" class="mud-drawer-content">
        @ChildContent
    </div>
</aside>
<MudOverlay Visible="@OverlayVisible" OnClick="@CloseDrawer" Class="@OverlayClass" DarkBackground="true" LockScroll=false />