@namespace MudBlazor
@inherits MudComponentBase
@using MudBlazor.Internal

<MudInputControl Label="@Label" HelperText="@HelperText" Variant="@Variant" FullWidth="@FullWidth" Margin="@Margin" Disabled="@Disabled"
                 Class="@InputControlClassname" Error="@Error" ErrorText="@ErrorText" Style="@Style" @attributes="UserAttributes" ForId="@FieldId">
    <InputContent>
        <div class="@Classname">
            @if (HasStartAdornment)
            {
                <MudInputAdornment Class="@AdornmentStartClassname" Icon="@AdornmentStartIcon" Size="@IconSize" Text="@AdornmentStartText" Edge="@Edge.Start" AdornmentClick="@OnAdornmentStartClick" Color="@AdornmentStartColor" />
            }
            <div class="@InnerClassname">
                @ChildContent
            </div>
            @if (HasEndAdornment)
            {
                <MudInputAdornment Class="@AdornmentEndClassname" Icon="@AdornmentEndIcon" Size="@IconSize" Text="@AdornmentEndText" Edge="@Edge.End" AdornmentClick="@OnAdornmentEndClick"  Color="@AdornmentEndColor" />
            }
            @if (Variant == Variant.Outlined)
            {
                <div class="mud-input-outlined-border"></div>
            }
        </div>
    </InputContent>
</MudInputControl>