@namespace MudBlazor
@inherits MudComponentBase

<div @attributes="UserAttributes" class="@Classname" style="@Style">
    <div class="mud-expand-panel-header" @onclick="ToggleExpansionAsync">
        <div class="mud-expand-panel-text">
            @if (TitleContent is not null)
            {
                @TitleContent
            }
            else
            {
                @Text
            }
        </div>
        @if (!HideIcon)
        {
            <MudIcon Icon="@Icon" class="@(_expandedState.Value? "mud-expand-panel-icon mud-transform" : "mud-expand-panel-icon")" />
        }
    </div>
    <MudCollapse Expanded="_expandedState.Value" MaxHeight="@MaxHeight">
        <div class="@PanelContentClassname">
            @ChildContent
        </div>
    </MudCollapse>
</div>
