@namespace MudBlazor
@typeparam T
@using MudBlazor.Components.Select
@inherits MudBaseInput<T>

<CascadingValue Name="Standalone" Value="false" IsFixed="true">
    <div class="mud-select">
        <MudInputControl Label="@Label" Variant="@Variant" HelperText="@HelperText" FullWidth="@FullWidth" Margin="@Margin" Class="@Classname" Style="@Style"
                         Error="@Error" ErrorText="@ErrorText" Disabled="@Disabled" @onclick="@ToggleMenu">
            <InputContent>
                <MudInput Variant="@Variant" Value="@Text" DisableUnderLine="@DisableUnderLine" Placeholder="@Placeholder" Disabled=@Disabled ReadOnly="true"
                          Class="mud-select-input" Error="@Error" AdornmentIcon="@CurrentIcon" Adornment="Adornment.End" IconSize="Size.Medium" Margin="@Margin"
                          InputType="@(CanRenderValue ? InputType.Hidden : InputType.Text)">
                    @if (CanRenderValue)
                    {
                        @GetSelectedValuePresenter()
                    }
                </MudInput>
            </InputContent>
        </MudInputControl>
        <CascadingValue Value="@((IMudSelect)this)" IsFixed="true">
            <MudPopover Open="@isOpen" MaxHeight="@MaxHeight" Direction="@Direction" OffsetX="@OffsetX" OffsetY="@OffsetY">
                <MudList Clickable="true" Dense="@Dense">
                    @ChildContent
                </MudList>
            </MudPopover>
        </CascadingValue>
    </div>
</CascadingValue>


@if (isOpen)
{
    <MudOverlay OnClick="@CloseMenu" />
}
