@namespace MudBlazor
@inherits MudBaseInputText

<MudInputControl Label="@Label" Variant="@Variant" HelperText="@HelperText" FullWidth="@FullWidth" Margin="@Margin" Class="@Classname" Error="@Error" ErrorText="@ErrorText" Disabled="@Disabled">
    <ControlInput>
        <MudInput InputType="InputType.Text" Variant="@Variant" Value="@Value" DisableUnderLine="@DisableUnderLine" Placeholder="@Placeholder" Disabled=@Disabled ReadOnly="@ReadOnly"
                  @onclick="@ToggleMenu" Class="mud-select-input" Error="@Error" AdornmentIcon="@CurrentIcon" Adornment="Adornment.End" IconSize="Size.Medium" />
    </ControlInput>
    <ControlChild>
        <CascadingValue Value="@this">
            <MudPopover Open="@isOpen" Class="mud-select-menu" MaxHeight="@MaxHeight" Direction="@Direction" OffsetX="@OffsetX" OffsetY="@OffsetY">
                <MudList Clickable="true" Dense="@Dense">
                    @ChildContent
                </MudList>
            </MudPopover>
        </CascadingValue>
    </ControlChild>
</MudInputControl>


@if (isOpen)
{
    <div class="mud-popover-overlay" @onclick="@ToggleMenu"></div>
}
