@namespace MudBlazor
@inherits ComponentBaseMudSelect

<div class="mud-select" @onclick="@ShowSelect">
    <FormControl HelperText="@HelperText">
        <Input InputType="InputType.Text" Class="mud-input-formcontrol" Variant="@Variant" Value="@Value" Placeholder="@Placeholder" Disabled=@Disabled ReadOnly="@ReadOnly" />
        <InputLabel Class="mud-input-label-formcontrol" Variant="@Variant">
            @Label
        </InputLabel>
        <Icon Class="mud-select-icon" Icon="@(isMenuOpen? @Icons.Material.ArrowDropUp : @Icons.Material.ArrowDropDown)"></Icon>
        <CascadingValue Value="@this">
            <div class="mud-select-menu @(isMenuOpen? "mud-open" : "")">
                <List>
                    @ChildContent
                </List>
            </div>
        </CascadingValue>
    </FormControl>
</div>

<Typography>isMenuOpen state: @isMenuOpen.ToString()</Typography>
