@namespace MudBlazor
@inherits MudBaseInputText

<MudInputControl HelperText="@HelperText" FullWidth="@FullWidth" Margin="@Margin" Class="@Classname">
        <MudInput InputType="InputType.Text" Variant="@Variant" Value="@Value" DisableUnderLine="@DisableUnderLine" Placeholder="@Placeholder" Disabled=@Disabled ReadOnly="@ReadOnly"
                  @onclick="@ToggleMenu" Class="mud-select-input" Error="@Error" AdornmentIcon="@CurrentIcon" Adornment="Adornment.End" IconSize="Size.Medium" />
        <MudInputLabel Class="mud-input-label-inputcontrol" Variant="@Variant">
            @Label
        </MudInputLabel>
        <CascadingValue Value="@this">
            <MudPopover Open="@isOpen" MaxHeight="@MaxHeight">
                <MudList Clickable="true">
                    @ChildContent
                </MudList>
            </MudPopover>
        </CascadingValue>
</MudInputControl>


@if (isOpen)
{
    <div class="mud-popover-overlay" @onclick="@ToggleMenu"></div>
}
