@namespace MudBlazor
@inherits ComponentBaseMudSelect

<div @attributes="UserAttributes" class="@Classname" @onclick="@ShowSelect">
    <MudFormControl HelperText="@HelperText">
        <MudInput InputType="InputType.Text" Class="mud-input-formcontrol" Variant="@Variant" Value="@Value" DisabelUnderLine="@DisabelUnderLine" Placeholder="@Placeholder" Disabled=@Disabled ReadOnly="@ReadOnly" />
        <MudInputLabel Class="mud-input-label-formcontrol" Variant="@Variant">
            @Label
        </MudInputLabel>
        <MudIcon Class="mud-select-icon" Icon="@(isMenuOpen? @Icons.Material.ArrowDropUp : @Icons.Material.ArrowDropDown)"></MudIcon>
        <CascadingValue Value="@this">
            <div class="mud-select-menu @(isMenuOpen? "mud-open" : "")">
                <MudList>
                    @ChildContent
                </MudList>
            </div>
        </CascadingValue>
    </MudFormControl>
</div>

@if (isMenuOpen)
{
    <div class="mud-select-overlay" @onclick="@ShowSelect"></div>
}
