@using System.Net.Http.Json
@using MudBlazor.Examples.Data.Models
@namespace MudBlazor.Docs.Examples
@inject HttpClient httpClient

<MudTable Items="@Elements">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Periodic Elements</MudText>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>Nr</MudTh>
        <MudTh>Sign</MudTh>
        <MudTh>Name</MudTh>
        <MudTh>Position</MudTh>
        <MudTh>Molar mass</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Nr">@context.Number</MudTd>
        <MudTd DataLabel="Sign">@context.Sign</MudTd>
        <MudTd DataLabel="Name">@context.Name</MudTd>
        <MudTd DataLabel="Position">@context.Position</MudTd>
        <MudTd DataLabel="Molar mass">@context.Molar</MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager TextAlignment="TablePagerTextPosition.Left" HidePageNumber="@hidePageNumber" HidePagination="@hidePagination" DisableRowsPerPage="@disableRowsPerPage" />
        <MudTablePager TextAlignment="TablePagerTextPosition.Center" HidePageNumber="@hidePageNumber" HidePagination="@hidePagination" DisableRowsPerPage="@disableRowsPerPage" />
        <MudTablePager TextAlignment="TablePagerTextPosition.Right" HidePageNumber="@hidePageNumber" HidePagination="@hidePagination" DisableRowsPerPage="@disableRowsPerPage" />
    </PagerContent>
</MudTable>

<div class="d-flex flex-wrap mt-4">
    <MudSwitch @bind-Checked="@disableRowsPerPage" Color="Color.Tertiary">Hide/Show Rows Per Page</MudSwitch>
    <MudSwitch @bind-Checked="@hidePageNumber" Color="Color.Primary">Hide/Show Page Number</MudSwitch>
    <MudSwitch @bind-Checked="@hidePagination" Color="Color.Secondary">Hide/Show Pagination</MudSwitch>
</div>

@code {
    private bool hidePageNumber;
    private bool hidePagination;
    private bool disableRowsPerPage;

    private IEnumerable<Element> Elements = new List<Element>();

    protected override async Task OnInitializedAsync()
    {
        Elements = await httpClient.GetFromJsonAsync<List<Element>>("webapi/periodictable");
    }
}
