@namespace MudBlazor.Docs.Components

<LandingSection SectionClass="lp-footer" BackgroundClass="sweet" Class="lp-footer-content">
    <MudGrid>
        <MudItem xs="6" sm="3">
            <MudBlazorLogo Style="width:40px;"/>
            <div class="d-flex flex-column mt-4">
                <div class="d-flex align-center">
                    <MudIcon Icon="@Icons.Custom.Brands.MudBlazor" Size="Size.Small" Color="Color.Inherit" Class="mr-2" />
                    <MudText Typo="Typo.body1">MudBlazor</MudText>
                </div>
                <div class="d-flex align-center">
                    <MudIcon Icon="@Icons.Rounded.MapsHomeWork" Size="Size.Small" Color="Color.Inherit" Class="mr-2" />
                    <MudText Typo="Typo.body1">Gardnet AB</MudText>
                </div>
                <div class="d-flex align-center">
                    <MudIcon Icon="@Icons.Rounded.NearMe" Size="Size.Small" Color="Color.Inherit" Class="mr-2" />
                    <MudText Typo="Typo.body1">Sweden</MudText>
                </div>
            </div>
            <div class="d-flex mt-4">
                <MudIconButton Link="https://twitter.com/MudBlazor" Taget="_blank" Edge="Edge.Start" Class="mr-2" Color="Color.Inherit" Icon="@Icons.Custom.Brands.Twitter" aria-label="twitter"/>
                <MudIconButton Link="https://discord.gg/mudblazor" Taget="_blank" Edge="Edge.Start" Class="mr-2" Color="Color.Inherit" Icon="@Icons.Custom.Brands.Discord" aria-label="discord"/>
                <MudIconButton Link="https://github.com/MudBlazor/MudBlazor" Taget="_blank" Edge="Edge.Start" Class="mr-2" Color="Color.Inherit" Icon="@Icons.Custom.Brands.GitHub" aria-label="github"/>
                <MudIconButton Link="https://stackoverflow.com/tags/mudblazor" Taget="_blank" Edge="Edge.Start" Class="mr-2" Color="Color.Inherit" Icon="@Icons.Custom.Brands.StackOverflow" aria-label="stack overflow"/>
            </div>
        </MudItem>
        <MudItem xs="6" sm="3" Class="d-flex flex-column">
            <MudText Typo="Typo.subtitle2" Class="mb-3">About</MudText>
            <MudLink Typo="Typo.body1" Color="Color.Inherit" Underline="Underline.None">How it started</MudLink>
            <MudLink Typo="Typo.body1" Color="Color.Inherit" Underline="Underline.None">Versions</MudLink>
            <MudLink Typo="Typo.body1" Color="Color.Inherit" Underline="Underline.None">Open Source Software</MudLink>
            
            
            <MudText Typo="Typo.subtitle2" Class="mt-4 mb-3">Company</MudText>
        </MudItem>
        <MudItem xs="6" sm="3" Class="d-flex flex-column">
            <MudText Typo="Typo.subtitle2" Class="mb-3">Products</MudText>
            <MudLink Typo="Typo.body1" Color="Color.Inherit" Underline="Underline.None">MudBlazor</MudLink>
            <MudLink Typo="Typo.body1" Color="Color.Inherit" Underline="Underline.None">TryMudBlazor</MudLink>
            <MudLink Typo="Typo.body1" Color="Color.Inherit" Underline="Underline.None">ThemeManager</MudLink>
            <MudLink Typo="Typo.body1" Color="Color.Inherit" Underline="Underline.None">Templates</MudLink>
            <MudLink Typo="Typo.body1" Color="Color.Inherit" Underline="Underline.None">MudStore</MudLink>
            <MudLink Typo="Typo.body1" Color="Color.Inherit" Underline="Underline.None">MudAcademy</MudLink>
        </MudItem>
        <MudItem xs="6" sm="3" Class="d-flex flex-column">
            <MudText Typo="Typo.subtitle2">Ecosystem</MudText>
            <MudLink Typo="Typo.body1" Color="Color.Inherit" Underline="Underline.None">Announcements</MudLink>
            <MudLink Typo="Typo.body1" Color="Color.Inherit" Underline="Underline.None">Contribute</MudLink>
            <MudLink Typo="Typo.body1" Color="Color.Inherit" Underline="Underline.None">Chat with us</MudLink>
            <MudLink Typo="Typo.body1" Color="Color.Inherit" Underline="Underline.None">Sponsors</MudLink>
        </MudItem>
    </MudGrid>
</LandingSection>

@code {

}
