@using System.Net.Http.Json
@using MudBlazor.Examples.Data.Models
@inject HttpClient httpClient

<div class="absolute d-flex justify-end lp-theme-demo @ThemeClass">
    <MudGrid Justify="Justify.FlexEnd">
        <MudItem xs="4" Class="d-flex flex-column justify-end">
            <MudDataGrid Items="@Elements.Take(4)" Sortable="true" Filterable="true" Hover="true" Elevation="1" Class="mt-8">
                <Columns>
                    <Column T="Element" Field="Number" Title="Nr"/>
                    <Column T="Element" Field="Sign"/>
                    <Column T="Element" Field="Name"/>
                    <Column T="Element" Field="Molar" Title="Molar mass"/>
                </Columns>
            </MudDataGrid>
        </MudItem>
        <MudItem xs="3" Class="d-flex flex-column justify-space-between align-end">
            <MudPaper Class="pa-4" Elevation="1">
                <MudText Typo="Typo.h6">Uranium-235</MudText>
                <div class="d-flex align-center my-2">
                    <MudRating ReadOnly="true" SelectedValue="4" Size="Size.Small" Class="mt-1 mr-4" />
                    <MudText Color="Color.Primary" Typo="Typo.subtitle2">See all 137 reviews</MudText>
                </div>
                <MudText Typo="Typo.body2" Class="mt-2 mb-4 mud-text-secondary">This is the type of uranium used in the RBMK reactors.</MudText>
                <MudDivider Class="my-4"/>
                <MudText Class="mb-2">Reactor Types</MudText>
                <MudChipSet Mandatory="true" Class="mx-n1">
                    <MudChip Text="RBMK-1000" Variant="Variant.Text" SelectedColor="Color.Primary" Class="rounded" Default="true"/>
                    <MudChip Text="RBMK-1500" Variant="Variant.Text" SelectedColor="Color.Primary" Class="rounded"  />
                    <MudChip Text="RBMKP-2400" Variant="Variant.Text" SelectedColor="Color.Primary" Class="rounded" />
                </MudChipSet>
                <MudButton Variant="Variant.Text" Color="Color.Primary" Class="mt-4 mb-n2 ml-n2" >Order</MudButton>  
            </MudPaper>

            <MudPaper Elevation="1" Class="mr-4">
                <MudBreadcrumbs Items="_items" Class="d-flex justify-center py-2">
                    <SeparatorTemplate>
                        <MudIcon Icon="@Icons.Rounded.NavigateNext" Size="Size.Small" Class="mt-1"/>
                    </SeparatorTemplate>
                    <ItemTemplate Context="item">
                        <MudText Typo="Typo.subtitle2">@item.Text</MudText>
                    </ItemTemplate>
                </MudBreadcrumbs>
            </MudPaper>

            <MudPaper Elevation="1">
                <div class="pa-4 d-flex align-center">
                    <MudIcon Icon="@Icons.Custom.Brands.MudBlazor" Color="Color.Primary"/>
                    <MudText Class="mx-2">MudPay</MudText>
                </div>
                <MudDivider/>
                <div class="pa-4">
                    <MudGrid Spacing="2">
                        <MudItem xs="12">
                            <MudTextField T="string" Mask="@(new PatternMask("0000 0000 0000 0000"))" Label="Card number" Placeholder="0000 0000 0000 0000" Variant="@GetVariant()" Adornment="Adornment.Start" AdornmentIcon="@Icons.Filled.CreditCard"/>
                        </MudItem>
                        <MudItem xs="6">
                            <MudTextField T="string" Mask="@(new DateMask("MM/YY", 'Y', 'M'))" Label="Expiration" Placeholder="MM/YY" Variant="@GetVariant()"/>
                        </MudItem>
                        <MudItem xs="6">
                            <MudTextField T="string" Mask="@(new PatternMask("000"))" Placeholder="000" Label="CVC" Variant="@GetVariant()"/>
                        </MudItem>
                        <MudItem xs="12">
                            <MudButton Variant="Variant.Filled" Color="Color.Primary" FullWidth="true" DisableElevation="true" Class="mt-2">Pay Now</MudButton>
                        </MudItem>
                    </MudGrid>
                </div>
            </MudPaper>
        </MudItem>
        <MudItem xs="3">
            <MudDatePicker PickerVariant="PickerVariant.Static" Orientation="Orientation.Landscape" Date="@(DateTime.Today.AddDays(1))" Rounded="true" Elevation="1"/>

            <MudTabs Elevation="1" Rounded="true" Centered="true" Color="@Color.Primary" Class="my-8">
                <MudTabPanel Text="One"/>
                <MudTabPanel Text="Two"/>
                <MudTabPanel Text="Three"/>
            </MudTabs>

            <div class="d-flex">
                <MudPaper Elevation="1" Class="mr-5 pa-4 d-flex flex-column align-center justify-space-between">
                    <MudText Typo="Typo.body2" Class="mud-text-secondary">100°C</MudText>
                    <MudSlider T="double"></MudSlider>
                    <MudText Typo="Typo.body2" Class="mud-text-secondary">0°C</MudText>
                </MudPaper>
                <div class="d-flex flex-column">
                    <MudPaper Elevation="1" Class="d-flex">
                        <MudTooltip Text="Font Size" Color="Color.Dark">
                            <MudMenu AnchorOrigin="Origin.BottomCenter" Class="mud-height-full" TransformOrigin="Origin.TopCenter">
                                <ActivatorContent>
                                    <MudButton EndIcon="@Icons.Filled.KeyboardArrowDown" Class="mud-height-full rounded-0 rounded-l">@menuFontSize</MudButton>
                                </ActivatorContent>
                                <ChildContent>
                                    <MudMenuItem OnClick="@(() => SetMenuFontSize("6"))">6</MudMenuItem>
                                    <MudMenuItem OnClick="@(() => SetMenuFontSize("7"))">7</MudMenuItem>
                                    <MudMenuItem OnClick="@(() => SetMenuFontSize("8"))">8</MudMenuItem>
                                    <MudMenuItem OnClick="@(() => SetMenuFontSize("9"))">9</MudMenuItem>
                                    <MudMenuItem OnClick="@(() => SetMenuFontSize("10"))">10</MudMenuItem>
                                    <MudMenuItem OnClick="@(() => SetMenuFontSize("11"))">11</MudMenuItem>
                                    <MudMenuItem OnClick="@(() => SetMenuFontSize("12"))">12</MudMenuItem>
                                </ChildContent>
                            </MudMenu>
                        </MudTooltip>
                        <MudTooltip Text="Left" Color="Color.Dark">
                            <MudIconButton Icon="@Icons.Material.Filled.FormatAlignLeft" Class="rounded-0"/>
                        </MudTooltip>
                        <MudTooltip Text="Center" Color="Color.Dark">
                            <MudIconButton Icon="@Icons.Material.Filled.FormatAlignCenter" Class="rounded-0"/>
                        </MudTooltip>
                        <MudTooltip Text="Right" Color="Color.Dark">
                            <MudIconButton Icon="@Icons.Material.Filled.FormatAlignRight" Class="rounded-0"/>
                        </MudTooltip>
                        <MudDivider Vertical="true" FlexItem="true"/>
                        <MudTooltip Text="Bold (Ctrl+B)" Color="Color.Dark">
                            <MudIconButton Icon="@Icons.Material.Filled.FormatBold" Class="rounded-0"/>
                        </MudTooltip>
                        <MudTooltip Text="Italic (Ctrl+I)" Color="Color.Dark">
                            <MudIconButton Icon="@Icons.Material.Filled.FormatItalic" Class="rounded-0"/>
                        </MudTooltip>
                        <MudTooltip Text="Underline (Ctrl+U)" Color="Color.Dark">
                            <MudIconButton Icon="@Icons.Material.Filled.FormatUnderlined" Class="rounded-0 rounded-r"/>
                        </MudTooltip>
                    </MudPaper>
                    <MudPaper Elevation="1" Class="mt-8">
                        <MudExpansionPanels Elevation="0">
                            <MudExpansionPanel MaxHeight="150">
                                <TitleContent>
                                    <div class="d-flex">
                                        <MudIcon Icon="@Icons.Material.Filled.Folder" Color="Color.Default" class="mr-4"/>
                                        <div>
                                            <MudText>MudBlazor news</MudText>
                                            <MudText Typo="Typo.caption">Information about upcoming stuff.</MudText>
                                        </div>
                                    </div>
                                </TitleContent>
                                <ChildContent>
                                    <MudText Typo="Typo.body2">Stepper Component</MudText>
                                </ChildContent>
                            </MudExpansionPanel>
                            <MudExpansionPanel MaxHeight="150" Disabled="true">
                                <TitleContent>
                                    <div class="d-flex">
                                        <MudIcon Icon="@Icons.Material.Filled.Folder" Color="Color.Default" class="mr-4"/>
                                        <div>
                                            <MudText>MudBlazor Secrets</MudText>
                                            <MudText Typo="Typo.caption">List of new components and top secret stuff.</MudText>
                                        </div>
                                    </div>
                                </TitleContent>
                                <ChildContent>
                                    <MudText Typo="Typo.body2">Dont think so.</MudText>
                                </ChildContent>
                            </MudExpansionPanel>
                        </MudExpansionPanels>
                    </MudPaper>
                </div>
            </div>
        </MudItem>
    </MudGrid>
</div>

@code {

    [Parameter] public string ThemeClass { get; set; }

    private List<BreadcrumbItem> _items = new List<BreadcrumbItem>
    {
        new BreadcrumbItem("Docs", href: null),
        new BreadcrumbItem("Components", href: null),
        new BreadcrumbItem("Breadcrumbs", href: null)
    };

    private Variant GetVariant()
    {
        if (ThemeClass == "enterprise")
        {
            return Variant.Outlined;
        }
        else
        {
            return Variant.Text;
        }
    }

    string menuFontSize = "10";

    private void SetMenuFontSize(string value) => menuFontSize = value;

    private IEnumerable<Element> Elements = new List<Element>();

    protected override async Task OnInitializedAsync()
    {
        Elements = await httpClient.GetFromJsonAsync<List<Element>>("webapi/periodictable");
    }

}