<div class="toast show error-list" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
        <strong style="margin-right: auto; font-weight: bold">Error List</strong>
        <span>@ErrorsCount errors / @WarningsCount warnings</span>
        <button type="button"
                style="margin-left: 0.5rem; margin-bottom: 0.25rem"
                class="close mt-1 toggle-error-list-btn"
                data-dismiss="toast"
                aria-label="Toggle Diagnostics"
                @onclick="@ToggleDiagnosticsAsync">

            @if (ShowIcon)
            {
                @if (Show)
                {
                    <i class="icon-circle-down"></i>
                }
                else
                {
                    <i class="icon-circle-up"></i>
                }
            }
        </button>
    </div>

    @if (Show && Diagnostics.Any())
    {
        <div class="toast-body">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th scope="col">Severity</th>
                        <th scope="col">Code</th>
                        <th scope="col">Description</th>
                        <th scope="col">File</th>
                        <th scope="col">Line</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var diagnostic in Diagnostics)
                    {
                        <tr>
                            <td>@diagnostic.Severity</td>
                            <td>@diagnostic.Code</td>
                            <td>@diagnostic.Description</td>
                            <td>@diagnostic.File</td>
                            <td>@diagnostic.Line</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>
