<div>
    <ul class="nav nav-tabs">
        @for (var i = 0; i < Tabs.Count; i++)
        {
            var tab = Tabs[i];
            var activeClass = i == ActiveIndex ? "active" : string.Empty;

            var currentIndex = i;
            <li class="nav-item" @onclick="@(() => ActivateTabAsync(currentIndex))">
                <a class="nav-link @activeClass">
                    @tab
                    @if (currentIndex != DefaultActiveIndex)
                    {
                        <span @onclick="@(() => CloseTabAsync(currentIndex))" @onclick:preventDefault>&times;</span>
                    }
                </a>
            </li>
        }
        @if (tabCreating)
        {
            <li class="nav-item">
                <a class="nav-link">
                    <input id="new-tab-input" @bind="@newTab" @onblur="@CreateTab"/>
                </a>
            </li>
        }

        <li class="nav-item" @onclick="@InitTabCreating">
            <a class="nav-link">
                <span class="icon-plus"></span>
            </a>
        </li>
    </ul>
</div>
