@namespace MudBlazor.Charts
@using System.Globalization
@inherits PieBase

<svg class="mud-chart-pie" width="@MudChartParent.Width" height="@MudChartParent.Height" viewBox="-1 -1 2 2" style="transform: rotate(-90deg);">
    <filter id="lighten">
        <feColorMatrix type="matrix"
            values="1.5   0   0   0   0
                    0   1.5   0   0   0
                    0   0   1.5   0   0
                    0   0   0   1   0 " />
    </filter>
    @foreach (var item in Paths.ToList())
    {
        <path class="mud-chart-serie" fill="@(ColorPalette.GetValue(item.Index % ColorPalette.Count()))" d="@item.Data"></path>
    }
</svg>
<div class="mud-chart-legend">
    @foreach (var item in Legends.ToList())
    {
        <div class="mud-chart-legend-item">
            <span class="@($"mud-chart-legend-marker mud-chart-marker-color-{item.Index.ToString()}")"></span>
            <MudText Typo="Typo.body2" Inline="true">@item.Labels @(MudChartParent.DisplayLegendItemValues? $"({item.Data}%)": "")</MudText>
        </div>
    }
</div>



