@namespace MudBlazor.Charts
@using System.Globalization
@inherits PieBase


<svg class="mud-chart-donut" width="@MudChartParent.Width" height="@MudChartParent.Height" viewBox="0 0 20 20">
    @*<circle r="10" cx="10" cy="10" fill="blueviolet" />
    <circle r="5" cx="10" cy="10" fill="transparent" stroke-width="10" stroke-dasharray="calc(35 * 31.4 / 100) 31.4" transform="rotate(-90) translate(-20)" />*@
    @foreach (var item in Circles.ToList())
    {
        <circle class="@($"mud-chart-stroke-color-{item.Index.ToString()}")" r="5" cx="10" cy="10" fill="transparent" stroke-width="10" stroke-dasharray="@item.StrokeDashArray" transform="rotate(-90) translate(-20)"></circle>
    }
</svg>
<div class="mud-chart-legend">
    @foreach (var item in Legends.ToList())
    {
        <div class="mud-chart-legend-item">
            <span class="@($"mud-chart-legend-marker mud-chart-marker-color-{item.Index.ToString()}")"></span>
            <MudText Typo="Typo.body2" Inline="true">@item.Labels @(MudChartParent.DisplayLegendItemValues? $"({item.Data}%)": "")</MudText>
        </div>
    }
</div>


