@namespace MudBlazor.Charts
@inherits PieBase


<svg class="mud-chart-pie" width="@MudChartParent.Width" height="@MudChartParent.Height" viewBox="-1 -1 2 2" style="transform: rotate(-90deg);">
    @foreach (var item in Paths.ToList())
    {
        <path class="@($"mud-chart-fill-color-{item.Index.ToString()}")" d="@item.Data"></path>
    }
</svg>
<div class="mud-chart-legend">
    @foreach (var item in Legends.ToList())
    {
        <div class="mud-chart-legend-item">
            <span class="@($"mud-chart-legend-marker mud-chart-marker-color-{item.Index.ToString()}")"></span>
            <MudText Typo="Typo.body2" Inline="true">@item.Labels @(MudChartParent.DisplayLegendItemValues? $"({item.Data}%)": "")</MudText>
        </div>
    }
</div>


