@*
    Copyright (c) Alessandro Ghidini. All rights reserved.
    Licensed under the MIT License. See License.txt in the project root for license information.
    Changes and improvements Copyright (c) The MudBlazor Team
*@

@namespace MudBlazor
@inherits MudComponentBase

@Css
<div class="@Toast.State.ToastClass" style="@Toast.State.AnimationStyle" @onclick="Clicked">
    @if (Toast.State.ShowProgressBar)
    {
        <div class="@Toast.State.ProgressBarClass" style="@Toast.State.ProgressBarStyle"></div>
    }
    @if (Toast.State.ShowCloseIcon)
    {
        @*<MudIconButton Icon="close" Dense="true" @onclick="CloseIconClicked"></MudIconButton>*@
        <MudIconButton Icon="close" @onclick="CloseIconClicked"></MudIconButton>
    }
    @if (Title.IsNonEmpty())
    {
        if (Toast.State.EscapeHtml)
        {
            <div class="@Toast.State.ToastTitleClass">@Title</div>
        }
        else
        {
            <div class="@Toast.State.ToastTitleClass">@((MarkupString)Title)</div>
        }
    }
    @if (Toast.State.EscapeHtml)
    {
        <div class="@Toast.State.ToastMessageClass">@Message</div>
    }
    else
    {
        <div class="@Toast.State.ToastMessageClass">@((MarkupString)Message)</div>
    }
</div>