@namespace MudBlazor
@inherits MudComponentBase


@switch (Typo)
{
    case Typo.H1:
        <h1 @attributes="UserAttributes" class="@Classname" style="@Style">@ChildContent</h1>
        break;
    case Typo.H2:
        <h2 @attributes="UserAttributes" class="@Classname" style="@Style">@ChildContent</h2>
        break;
    case Typo.H3:
        <h3 @attributes="UserAttributes" class="@Classname" style="@Style">@ChildContent</h3>
        break;
    case Typo.H4:
        <h4 @attributes="UserAttributes" class="@Classname" style="@Style">@ChildContent</h4>
        break;
    case Typo.H5:
        <h5 @attributes="UserAttributes" class="@Classname" style="@Style">@ChildContent</h5>
        break;
    case Typo.H6:
        <h6 @attributes="UserAttributes" class="@Classname" style="@Style">@ChildContent</h6>
        break;
    case Typo.Subtitle1:
        <h6 @attributes="UserAttributes" class="@Classname" style="@Style">@ChildContent</h6>
        break;
    case Typo.Subtitle2:
        <h6 @attributes="UserAttributes" class="@Classname" style="@Style">@ChildContent</h6>
        break;
    case Typo.Body1:
        <p @attributes="UserAttributes" class="@Classname" style="@Style">@ChildContent</p>
        break;
    case Typo.Body2:
        <p @attributes="UserAttributes" class="@Classname" style="@Style">@ChildContent</p>
        break;
    case Typo.Button:
        <span @attributes="UserAttributes" class="@Classname" style="@Style">@ChildContent</span>
        break;
    case Typo.Caption:
        <span @attributes="UserAttributes" class="@Classname" style="@Style">@ChildContent</span>
        break;
    case Typo.Overline:
        <span @attributes="UserAttributes" class="@Classname" style="@Style">@ChildContent</span>
        break;
    case Typo.Inherit:
        <span @attributes="UserAttributes" class="@Classname" style="@Style">@ChildContent</span>
        break;
}
