@namespace MudBlazor
@inherits MudBooleanInput<T>
@typeparam T

<label class="@Classname" style="@Style">
    <span class="@SpanClassname">
        <span class="@SwitchClassname">
            <span class="mud-switch-button">
                <input @attributes="UserAttributes" aria-checked="@((BoolValue == true).ToString().ToLower())" aria-readonly="@(Disabled.ToString().ToLower())" type="checkbox" class="mud-switch-input" checked="@BoolValue" @onkeydown="@HandleKeyDown" @onchange="@OnChange" disabled="@Disabled" @onclick:preventDefault="@ReadOnly"/>
                @*<MudIcon Class="mud-switch-thumb" Color="Color.Info" Icon="@SwitchIcon" />*@
                <span class="mud-switch-thumb d-flex align-center">
                    @if (Progress)
                    {
                        <MudProgressCircular Class="mt-n4" Indeterminate="true" Style="height:20px; width:20px;" />
                    }
                    else
                    {
                        <MudIcon Color="Color.Info" Icon="@GetIcon()" Style="z-index:5; height:20px; width:20px;" />
                    }
                    
                </span>
            </span>
        </span>
        <span class="mud-switch-track"></span>
    </span>
    @if (!String.IsNullOrEmpty(Label))
    {
        <MudText>@Label</MudText>
    }
    @if (ChildContent != null)
    {
        <MudText>
            @ChildContent
        </MudText>
    }
</label>

@code
{
    [Parameter] public RenderFragment ChildContent { get; set; }
}

