@namespace MudBlazor
@inherits MudBooleanInput<T>
@typeparam T

<label class="@Classname" style="@Style">
    <span class="mud-switch-span">
        <span class="@SwitchClassname">
            <span class="mud-switch-button">
                <input @attributes="UserAttributes" type="checkbox" class="mud-switch-input" @bind="@BoolValue" disabled="@Disabled" />
                <span class="mud-switch-thumb"></span>
            </span>
        </span>
        <span class="mud-switch-track"></span>
    </span>
    @if (!String.IsNullOrEmpty(Label))
    {
        <MudText>@Label</MudText>
    }
    @if (ChildContent != null)
    {
        <MudText>
            @ChildContent
        </MudText>
    }
</label>

@code
{
    [Parameter] public RenderFragment ChildContent { get; set; }
}

