@namespace MudBlazor
@typeparam T
@inherits MudFormComponent<T, T>

<MudInputControl Class="@Classname" Style="@Style" Error="@HasErrors" ErrorText="@GetErrorText()" Required="@Required">
    <InputContent>
        <CascadingValue Value="@((IMudRadioGroup)this)" IsFixed="false">
            <div role="radiogroup" @attributes="UserAttributes" class="@GetInputClass()" style="@InputStyle" required="@Required" aria-required="@Required.ToString().ToLowerInvariant()">
                @ChildContent
            </div>
        </CascadingValue>
    </InputContent>
</MudInputControl>