@namespace MudBlazor
@typeparam T
@inherits MudFormComponent<T, T>

<MudInputControl Class="mud-input-control-boolean-input" Error="@HasErrors" ErrorText="@GetErrorText()" Required="@Required">
    <InputContent>
        <CascadingValue Value="@((IMudRadioGroup)this)" IsFixed="true">
            <div role="radiogroup" @attributes="UserAttributes" class="@Class" style="@Style">
                @ChildContent
            </div>
        </CascadingValue>
    </InputContent>
</MudInputControl>