@namespace MudBlazor
@inherits MudBasePicker


<MudPicker PickerVariant="@PickerVariant" Orientation="@Orientation" Label="@Label" Value="@Value" HelperText="@HelperText" InputVariant="@InputVariant" Disabled="@Disabled" Adornment="@Adornment" IconSize="@IconSize" InputIcon="@InputIcon" Elevation="@Elevation" Square="@Square" Rounded="@Rounded">
    <MudPickerToolbar Class="mud-picker-datepicker-toolbar" DisableToolbar="@DisableToolbar" Orientation="@Orientation" Color="@Color">
        <MudButton Variant="Variant.Text" Color="Color.Inherit" Class="mud-button-year">2020</MudButton>
        <MudButton Variant="Variant.Text" Color="Color.Inherit" Class="mud-button-date">Sun, Oct 19</MudButton>
    </MudPickerToolbar>
    <MudPickerContent>
        <div class="mud-picker-calendar-header">
            <div class="mud-picker-calendar-header-switch">
                <MudIconButton Icon="@Icons.Material.ChevronLeft" />
                <div class="mud-picker-slide-transition mud-picker-calendar-header-transition">
                    <MudText Typo="Typo.body1" Align="Align.Center">October 2020</MudText>
                </div>
                <MudIconButton Icon="@Icons.Material.ChevronRight" />
            </div>
            <div class="mud-picker-calendar-header-day">
                <MudText Typo="Typo.caption" Class="mud-day-label">Su</MudText>
                <MudText Typo="Typo.caption" Class="mud-day-label">Mo</MudText>
                <MudText Typo="Typo.caption" Class="mud-day-label">Tu</MudText>
                <MudText Typo="Typo.caption" Class="mud-day-label">We</MudText>
                <MudText Typo="Typo.caption" Class="mud-day-label">Th</MudText>
                <MudText Typo="Typo.caption" Class="mud-day-label">Fr</MudText>
                <MudText Typo="Typo.caption" Class="mud-day-label">Sa</MudText>
            </div>
        </div>
        <div class="mud-picker-calendar-transition mud-picker-slide-transition">
            <div class="mud-picker-calendar">
                @for (int week = 0; week < 6; week++)
                {
                    <div class="mud-picker-calendar-week">
                        @foreach (var day in GetWeek(week))
                        {
                            <div role="presentation" class="mud-picker-calendar-day">
                                <MudIconButton Class="@GetDayClasses(day)" OnClick="@(() =>{ var d = day; OnDayClicked(d); })">@day.Day</MudIconButton>
                            </div>
                        }
                    </div>
                }

            </div>
        </div>
    </MudPickerContent>
</MudPicker>