
@namespace MudBlazor.Docs.Examples

<div class="d-flex flex-column justify-center">
        <MudPaper Outlined="true" Class="pa-12">
	        <MudPopover Open="true" OverflowBehavior="@OverflowBehavior" AnchorOrigin="@AnchorOrigin" TransformOrigin="@TransformOrigin" Paper="false">
                    <MudPaper MinWidth="375px" Outlined="true" Class="d-flex justify-space-between align-center">
                        <div>
                            <MudIconButton Icon="@Icons.Material.Filled.ArrowBack" OnClick="@(()=> SetPopoverOrigin(Origin.CenterLeft, Origin.CenterRight))" Color="@(TransformOrigin == Origin.CenterRight? Color.Primary : Color.Default)" />
                            <MudIconButton Icon="@Icons.Material.Filled.ArrowUpward" OnClick="@(()=> SetPopoverOrigin(Origin.TopCenter, Origin.BottomCenter))" Color="@(TransformOrigin == Origin.BottomCenter? Color.Primary : Color.Default)" />
                        </div>
                        <div class="mx-sm-2 mx-md-8 mx-lg-16">
                            <MudButton Variant="Variant.Filled" DisableElevation="true" Class="mx-1" OnClick="@(()=> SetPopoverOverflow(OverflowBehavior.None))" Color="@(OverflowBehavior == OverflowBehavior.None? Color.Primary : Color.Default)">None</MudButton>
                            <MudButton Variant="Variant.Filled" DisableElevation="true" Class="mx-1" OnClick="@(()=> SetPopoverOverflow(OverflowBehavior.FlipOnce))" Color="@(OverflowBehavior == OverflowBehavior.FlipOnce? Color.Primary : Color.Default)">Onces</MudButton>
                             <MudButton Variant="Variant.Filled" DisableElevation="true" Class="mx-1" OnClick="@(()=> SetPopoverOverflow(OverflowBehavior.FlipAlways))" Color="@(OverflowBehavior == OverflowBehavior.FlipAlways? Color.Primary : Color.Default)">Always</MudButton>
                        </div>
                        <div>
                            <MudIconButton Icon="@Icons.Material.Filled.ArrowDownward"  OnClick="@(()=> SetPopoverOrigin(Origin.BottomCenter, Origin.TopCenter))" Color="@(TransformOrigin == Origin.TopCenter? Color.Primary : Color.Default)"/>
                            <MudIconButton Icon="@Icons.Material.Filled.ArrowForward" OnClick="@(()=> SetPopoverOrigin(Origin.CenterRight, Origin.CenterLeft))" Color="@(TransformOrigin == Origin.CenterLeft? Color.Primary : Color.Default)" />
                        </div>
                    </MudPaper>
	        </MudPopover>
        </MudPaper>
</div>

@code {
    public Origin AnchorOrigin { get; set; } = Origin.CenterRight;
    public Origin TransformOrigin { get; set; } = Origin.CenterLeft;
    public OverflowBehavior OverflowBehavior { get; set; } = OverflowBehavior.FlipAlways;

    public void SetPopoverOrigin(Origin anchor, Origin transform)
    {
        AnchorOrigin = anchor;
        TransformOrigin = transform;
    }

    public void SetPopoverOverflow(OverflowBehavior behavior)
    {
        OverflowBehavior = behavior;
    }
}