
@namespace MudBlazor.Docs.Examples

<div class="d-flex flex-column justify-center">
        <MudPaper Outlined="true" Class="pa-12">
            @if(OverflowBehavior == OverflowBehavior.FlipOnOpen)
            {
                <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@ToggleOpen">Open/Close</MudButton>
            }
	        <MudPopover Open="_isOpen" OverflowBehavior="@OverflowBehavior" AnchorOrigin="@AnchorOrigin" TransformOrigin="@TransformOrigin" Paper="false">
                    <MudPaper MinWidth="375px" Outlined="true" Class="d-flex justify-space-between align-center">
                        <div>
                            <MudIconButton Icon="@Icons.Material.Filled.ArrowBack" OnClick="@(()=> SetPopoverOrigin(Origin.CenterLeft, Origin.CenterRight))" Color="@(TransformOrigin == Origin.CenterRight? Color.Primary : Color.Default)" />
                            <MudIconButton Icon="@Icons.Material.Filled.ArrowUpward" OnClick="@(()=> SetPopoverOrigin(Origin.TopCenter, Origin.BottomCenter))" Color="@(TransformOrigin == Origin.BottomCenter? Color.Primary : Color.Default)" />
                        </div>
                        <div class="mx-sm-2 mx-md-8 mx-lg-16">
                            <MudButton Variant="Variant.Filled" DisableElevation="true" Class="mx-1" OnClick="@(()=> SetPopoverOverflow(OverflowBehavior.FlipNever))" Color="@(OverflowBehavior == OverflowBehavior.FlipNever? Color.Primary : Color.Default)">None</MudButton>
                            <MudButton Variant="Variant.Filled" DisableElevation="true" Class="mx-1" OnClick="@(()=> SetPopoverOverflow(OverflowBehavior.FilpOnOpen))" Color="@(OverflowBehavior == OverflowBehavior.FilpOnOpen? Color.Primary : Color.Default)">Onces</MudButton>
                             <MudButton Variant="Variant.Filled" DisableElevation="true" Class="mx-1" OnClick="@(()=> SetPopoverOverflow(OverflowBehavior.FlipAlways))" Color="@(OverflowBehavior == OverflowBehavior.FlipAlways? Color.Primary : Color.Default)">Always</MudButton>
                        </div>
                        <div>
                            <MudIconButton Icon="@Icons.Material.Filled.ArrowDownward"  OnClick="@(()=> SetPopoverOrigin(Origin.BottomCenter, Origin.TopCenter))" Color="@(TransformOrigin == Origin.TopCenter? Color.Primary : Color.Default)"/>
                            <MudIconButton Icon="@Icons.Material.Filled.ArrowForward" OnClick="@(()=> SetPopoverOrigin(Origin.CenterRight, Origin.CenterLeft))" Color="@(TransformOrigin == Origin.CenterLeft? Color.Primary : Color.Default)" />
                        </div>
                    </MudPaper>
	        </MudPopover>
        </MudPaper>
</div>

@code {

    public bool _isOpen = true;

    public Origin AnchorOrigin { get; set; } = Origin.CenterRight;
    public Origin TransformOrigin { get; set; } = Origin.CenterLeft;
    public OverflowBehavior OverflowBehavior { get; set; } = OverflowBehavior.FlipAlways;

    public void SetPopoverOrigin(Origin anchor, Origin transform)
    {
        AnchorOrigin = anchor;
        TransformOrigin = transform;
    }

    public void SetPopoverOverflow(OverflowBehavior behavior)
    {
        if(behavior == OverflowBehavior.FlipOnOpen && OverflowBehavior != OverflowBehavior.FlipOnOpen)
        {
            _isOpen = false;
        }
        OverflowBehavior = behavior;
    }

    public void ToggleOpen()
    {
        if (_isOpen)
            _isOpen = false;
        else
            _isOpen = true;
    }
}