@namespace MudBlazor.Docs.Examples

<MudPaper Class="demo-drawer">
    <MudDrawer @bind-Open="@openLeft" IsFixed="false" Anchor="Anchor.Left" Elevation="1" Variant="@DrawerVariant.Persistent">
        <MudDrawerHeader>
            <MudText Typo="Typo.h6">My App</MudText>
        </MudDrawerHeader>  
        <MudNavMenu>
            <MudNavLink Match="NavLinkMatch.All">Store</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All">Library</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All">Community</MudNavLink>
        </MudNavMenu>
    </MudDrawer>
    <MudDrawer @bind-Open="@openRight" IsFixed="false" Anchor="Anchor.Right" Elevation="1" Variant="@DrawerVariant.Persistent">
        <MudDrawerHeader>
            <MudText Typo="Typo.h6">Settings</MudText>
        </MudDrawerHeader>
        <MudNavMenu>
            <MudNavLink Match="NavLinkMatch.All">Profile</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All">Orders</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All">Order History</MudNavLink>
        </MudNavMenu>
    </MudDrawer>
    <div class="mud-paper-content">
        <MudButton OnClick="@ToggleLeftDrawer">Toggle left</MudButton>
        <MudButton OnClick="@ToggleRightDrawer">Toggle right</MudButton>
    </div>
</MudPaper>

@code
{
    bool openLeft = false;            
    bool openRight = false;

    void ToggleLeftDrawer()
    {
        openLeft = !openLeft;
    }

    void ToggleRightDrawer()
    {
        openRight = !openRight;
    }
}
