@namespace MudBlazor
@inherits MudComponentBase

<div @attributes="UserAttributes" class="@ContainerClass" style="@RootStyle" @onmouseenter="@HandleMouseEnter" @onmouseleave="@HandleMouseLeave" @onmouseup="@HandleMouseUp" @onfocusin="@HandleFocusIn" @onfocusout="@HandleFocusOut">
    @ChildContent
    @if (TooltipContent is not null || !string.IsNullOrEmpty(Text))
    {
        <MudPopover Open="_isVisible" Duration="@Duration" Delay="@Delay" AnchorOrigin="@_anchorOrigin" TransformOrigin="@_transformOrigin" Class="@Classname" Style="@Style" Paper="false">
            @if (TooltipContent is not null)
            {
                <div class="d-block">
                    @TooltipContent
                </div>
            }
            else if (!string.IsNullOrEmpty(Text))
            {
                @Text
            }
        </MudPopover>
    }
</div>