@namespace MudBlazor
@inherits MudComponentBase

<div @attributes="UserAttributes" class="@ContainerClass" style="@RootStyle" @onmouseenter="@HandleMouseEnter" @onmouseleave="@HandleMouseLeave" @onmouseup="@HandleMouseUp" @onfocusin="@HandleFocusIn" @onfocusout="@HandleFocusOut" >
	@ChildContent
	@if (TooltipContent != null || string.IsNullOrEmpty(Text) == false)
	{
		<MudPopover Open="_isVisible" Duration="@Duration" Delay="@Delay" AnchorOrigin="@_anchorOrigin" TransformOrigin="@_transformOrigin" Class="@Classname" Style="@Style" Paper="false">
				@if (TooltipContent != null)
				{
					@TooltipContent
				}
				else if (!String.IsNullOrEmpty(Text))
				{
					@Text
				}
		</MudPopover>
	}
</div>
