@namespace MudBlazor
@inherits MudComponentBase

<div  @attributes="UserAttributes" class="@ContainerClass">
    <div style="background: red;" @onmouseover="@HandleMouseOver" @onmouseout="@HandleMouseOut">
        @ChildContent
    </div>
    @if (!String.IsNullOrEmpty(Text) || TooltipContent != null)
    {
        <MudPortal IsVisible=@IsVisible>
            <div @ref=@_tooltipRef class="@Classname" style=@($"{GetTimeDelay()}{Style};")>
                     
                        @(TooltipContent!=null ?TooltipContent : Text)
                    
            </div>
        </MudPortal>
    }
</div>
