@namespace MudBlazor
@inherits MudComponentBase

<div @attributes="UserAttributes" class="@ContainerClass" @onmouseenter="@HandleMouseOver" @onmouseleave="@HandleMouseOut" @onfocusout="@HandleMouseOut">
	@ChildContent
	<MudPopover Open="_isVisible" AnchorOrigin="@AnchorOrigin" TransformOrigin="@TransformOrigin" Paper="false">
		<div role="tooltip" class="@Classname">
			@if (TooltipContent != null)
			{
				@TooltipContent
			}
			else if(!String.IsNullOrEmpty(Text))
			{
				@Text
			}
		</div>
	</MudPopover>
</div>
