@namespace MudBlazor.UnitTests.TestComponents

<MudCarousel Style="height:200px;" ShowArrows="true" ShowDelimiters="true" AutoCycle="false" AutoCycleTime="TimeSpan.FromMilliseconds(500)" TData="object">
    <MudCarouselItem Class="fake-class-item1">
        <div class="d-flex" style="background-color:#594AE2; height:100%">
            <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" />
        </div>
    </MudCarouselItem>
    <MudCarouselItem Class="fake-class-item2">
        <div class="d-flex" style="background-color:#FF4081; height:100%">
            <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" />
        </div>
    </MudCarouselItem>
    <MudCarouselItem Class="fake-class-item3">
        <div class="d-flex" style="background-color:lightgray; height:100%">
            <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.MudBlazor" Color="@Color.Primary" Size="@Size.Large" />
        </div>
    </MudCarouselItem>
</MudCarousel>