@namespace MudBlazor
@inherits MudComponentBase

@if (!string.IsNullOrEmpty(Icon))
{
    <svg @attributes="UserAttributes" class="@Classname" style="@Style" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
        <path d="@Icon" />
    </svg>
}
else
{
    <span class="@Classname">@FontIcon</span>
}