@namespace MudBlazor
@inherits MudComponentBase

@if (!string.IsNullOrEmpty(Icon) && Icon.Trim().StartsWith("<"))
{
    <svg @attributes="UserAttributes" class="@Classname" style="@Style" focusable="false" viewBox="@ViewBox" aria-hidden="true">
        @if (Title != null)
        {
            <title>@Title</title>
        }

        @((MarkupString)Icon)
    </svg>
}
else
{
    <span @attributes="UserAttributes" class="@($"{Classname} {Icon}")" style="@Style" title="@Title" />
}
