@namespace MudBlazor
@inherits MudComponentBase

@if (!string.IsNullOrEmpty(Icon))
{
<svg @attributes="UserAttributes" class="@Classname" style="@Style" focusable="false" viewBox="@ViewBox" aria-hidden="true">
    @((MarkupString)@Icon)
</svg>
}
else
{
    <span class="@Classname">@FontIcon</span>
}