@namespace MudBlazor
@inherits MudComponentBase
@using MudBlazor.Extensions;

@if (_iconProperties.IsSvg())
{
   <svg @attributes="UserAttributes" class="@Classname" style="@_iconProperties.Style" focusable="@_iconProperties.Focusable" viewBox="@_iconProperties.ViewBox" aria-hidden="@_iconProperties.AriaHidden">
      @if (_iconProperties.HasTitle())
      {
         <title>@_iconProperties.Title</title>
      }

      @((MarkupString)_iconProperties.Icon)
   </svg>
}
else
{
   <span @attributes="UserAttributes" class="@($"{Classname} {_iconProperties.Icon}")" style="@_iconProperties.Style" title="@_iconProperties.Title" />
}
