@namespace MudBlazor
@inherits MudComponentBase

@if (IsAngleBracket)
{
    <svg @attributes="UserAttributes" class="@Classname" style="@Style" focusable="false" viewBox="@ViewBox" aria-hidden="true" role="img">
        @if (Title is not null)
        {
            <title>@Title</title>
        }

        @((MarkupString)Icon)
    </svg>
}
else
{
    @if (TryExtractMagicSyntax(Icon, out var syntax))
    {
        <span @attributes="UserAttributes" class="@($"{Classname} {syntax.beforeBrackets}")" style="@Style" title="@Title">
            @syntax.insideBrackets
        </span>
    }
    else
    {
        <span @attributes="UserAttributes" class="@($"{Classname} {Icon}")" style="@Style" title="@Title">
            @ChildContent
        </span>
    }
}
