@page "/components/layout/grid"


<DocsPage>
    <Container>
        <Typography Typo="Typo.h3">Grid</Typography>
        <Typography Typo="Typo.h4">Spacing</Typography>
        <DocsShowcase DarkenBackground="true" Class="docs-showcase-grid-spacing">
            <Grid>
                <Item GridSize="GridSize.Twelve">
                    <Grid Spacing="@spacing" Justify="Justify.Center">
                        <Item>
                            <Paper />
                        </Item>
                        <Item>
                            <Paper />
                        </Item>
                        <Item>
                            <Paper />
                        </Item>
                    </Grid>
                </Item>
                <Item GridSize="GridSize.Twelve">
                    <Paper Class="docs-spacing">
                        <Typography>Spacing: @spacing</Typography>
                        <Button Color="Color.Primary" OnClick="@AddSpacing">Change Spacing</Button>
                    </Paper>
                </Item>
            </Grid>
        </DocsShowcase>
        <MarkdownSegment Text="@Markdown_Spacing" />

        <Typography Typo="Typo.h4">Basic grid</Typography>
        <DocsShowcase DarkenBackground="true" Class="docs-showcase-grid-paper-filler">
            <Grid>
                <Item GridSize="GridSize.Twelve">
                    <Paper>12</Paper>
                </Item>
                <Item GridSize="GridSize.Six">
                    <Paper>6</Paper>
                </Item>
                <Item GridSize="GridSize.Six">
                    <Paper>6</Paper>
                </Item>
                <Item GridSize="GridSize.Three">
                    <Paper>3</Paper>
                </Item>
                <Item GridSize="GridSize.Three">
                    <Paper>3</Paper>
                </Item>
                <Item GridSize="GridSize.Three">
                    <Paper>3</Paper>
                </Item>
                <Item GridSize="GridSize.Three">
                    <Paper>3</Paper>
                </Item>
            </Grid>
        </DocsShowcase>
        <MarkdownSegment Text="@Markdown_BasicGrid" />
    </Container>
</DocsPage>


@code {

    public int spacing {get; set;} = 2;
    void AddSpacing()
    {
        if (spacing >= 10)
        {
            spacing = 0;
        }
        else
        {
            spacing += 1;
        }
        StateHasChanged();
    }

string Markdown_Spacing = @"```html
<Grid>
    <Item GridSize=""GridSize.Twelve"">
        <Grid Spacing=""@spacing"" Justify=""Justify.Center"">
            <Item>
                <Paper />
            </Item>
            <Item>
                <Paper />
            </Item>
            <Item>
                <Paper />
            </Item>
        </Grid>
    </Item>
    <Item GridSize=""GridSize.Twelve"">
        <Paper Class=""docs-spacing"">
            <Typography>Spacing: @spacing</Typography>
            <Button Color=""Color.Primary"" OnClick=""@AddSpacing"">Change Spacing</Button>
        </Paper>
    </Item>
</Grid>
```";
string Markdown_BasicGrid = @"```html
<Grid>
    <Item GridSize=""GridSize.Twelve"">
        <Paper>12</Paper>
    </Item>
    <Item GridSize=""GridSize.Six"">
        <Paper>6</Paper>
    </Item>
    <Item GridSize=""GridSize.Six"">
        <Paper>6</Paper>
    </Item>
    <Item GridSize=""GridSize.Three"">
        <Paper>3</Paper>
    </Item>
    <Item GridSize=""GridSize.Three"">
        <Paper>3</Paper>
    </Item>
    <Item GridSize=""GridSize.Three"">
        <Paper>3</Paper>
    </Item>
    <Item GridSize=""GridSize.Three"">
        <Paper>3</Paper>
    </Item>
</Grid>
```";
}
