
<div class="ma-8">
	<MudTable Items="@choices" Hover="true" HorizontalScrollbar="@_showHorizontalScrollbar" Breakpoint="Breakpoint.None">
		<HeaderContent>
			<MudTh>Choice1</MudTh>
			<MudTh>Choice2</MudTh>
			<MudTh>Choice3</MudTh>
			<MudTh>Choice4</MudTh>
			<MudTh>Choice5</MudTh>
		</HeaderContent>
		<RowTemplate>
			<MudTd DataLabel="Choice1"><div style="white-space: nowrap;">@context.Choice1</div></MudTd>
			<MudTd DataLabel="Choice2"><div style="white-space: nowrap;">@context.Choice2</div></MudTd>
			<MudTd DataLabel="Choice3"><div style="white-space: nowrap;">@context.Choice3</div></MudTd>
			<MudTd DataLabel="Choice2"><div style="white-space: nowrap;">@context.Choice4</div></MudTd>
			<MudTd DataLabel="Choice3"><div style="white-space: nowrap;">@context.Choice5</div></MudTd>
		</RowTemplate>
	</MudTable>
</div>

<MudSwitch @bind-Checked="_showHorizontalScrollbar">Show <b>Horizontal Scrollbar</b></MudSwitch>
@code {
	private bool _showHorizontalScrollbar;
	public static string __description__ = "Check the horizontal scrollbar parameter effect.";
    private List<Choice> choices = new();

    protected override void OnInitialized()
	{
		for (int counter = 0; counter < 10; counter++)
		{
			choices.Add(new Choice
			{
				Choice1 = $"This is a long choice... {counter}",
				Choice2 = $"This is a more long, long, long, long, long choice... {counter}",
				Choice3 = $"This is a very long, long, long, long, long, long, long, long, long, long, long, long, long choice... {counter}",
				Choice4 = $"This is a super very very very long, long, long, long, long, long, long, long, long, long, long, long, long, long, long, long choice... {counter}",
				Choice5 = $"This is a giant very very very very very very very long, long, long, long, long, long, long, long, long, long, long, long, long, long, long, long, long, long, long choice... {counter}",
			});
		}
    }

	public class Choice
	{
		public string Choice1 { get; set; }
		public string Choice2 { get; set; }
		public string Choice3 { get; set; }
		public string Choice4 { get; set; }
		public string Choice5 { get; set; }
	}
}