@namespace MudBlazor.Docs
@using MudBlazor.Utilities

<div class="docs-section-source @Class">
    @if (!NoToolbar)
    {
    <div class="docs-content-toolbar">
        <div class="mud-flex-grow-1"></div>
        <MudTooltip Text="@TooltipSourceCodeText" Placement="Placement.Top">
            <MudIconButton Icon="@Icons.Material.Code" OnClick="OnShowCode" />
        </MudTooltip>
        <MudTooltip Text="Copy Code" Placement="Placement.Top">
            <MudIconButton Icon="@Icons.Material.FileCopy" />
        </MudTooltip>
    </div>
    }

    <div class="docs-source-code @(ShowCode? "docs-show-code" : "docs-hide-code")">
        @CodeComponent()
    </div>
    @if (!String.IsNullOrEmpty(FullCode))
    {
        <div class="docs-source-code @(ShowFullCode? "docs-show-code" : "docs-hide-code")">
            @FullCodeComponent()
        </div>
    }
</div>

@code {

    [Parameter] public string Code { get; set; }

    [Parameter] public string FullCode { get; set; }

    [Parameter] public string Class { get; set; }

    [Parameter] public bool ShowCode { get; set; } = true;

    [Parameter] public bool NoToolbar { get; set; }

    public string TooltipSourceCodeText { get; set; }

    private bool ShowFullCode;

    private string showCodeExampleString { get; set; } = "Show code example";
    private string hideCodeExampleString { get; set; } = "Hide code example";
    private string showComponentCodeExampleString { get; set; } = "Show component code example";
    private string hideComponentCodeExampleString { get; set; } = "Hide component code example";

    public void OnShowCode()
    {
        if(!String.IsNullOrEmpty(Code) && String.IsNullOrEmpty(FullCode))
        {
            ShowCode = !ShowCode;
            if (ShowCode)
            {
                TooltipSourceCodeText = hideCodeExampleString;
            }
            else
            {
                TooltipSourceCodeText = showCodeExampleString;
            }
        }
        if(!String.IsNullOrEmpty(Code) && !String.IsNullOrEmpty(FullCode))
        {
            ShowCode = !ShowCode;
            ShowFullCode = !ShowFullCode;
            if (ShowFullCode)
            {
                TooltipSourceCodeText = hideComponentCodeExampleString;
            }
            else
            {
                TooltipSourceCodeText = showComponentCodeExampleString;
            }
        }
    }

    private Type CodeType=> Type.GetType("MudBlazor.Docs.Examples.Markup."+ Code + "Code");
    private Type FullCodeType => Type.GetType("MudBlazor.Docs.Examples.Markup." + FullCode + "Code");

    RenderFragment CodeComponent() => builder =>
    {
        builder.OpenComponent(0, CodeType);
        builder.CloseComponent();
    };

    RenderFragment FullCodeComponent() => builder =>
    {
        builder.OpenComponent(0, FullCodeType);
        builder.CloseComponent();
    };

    protected override void OnInitialized()
    {
        if (ShowCode)
        {
            TooltipSourceCodeText = hideCodeExampleString;
        }
        else
        {
            TooltipSourceCodeText = showCodeExampleString;
        }
        if (!String.IsNullOrEmpty(FullCode))
        {
            if (ShowFullCode)
            {
                TooltipSourceCodeText = hideComponentCodeExampleString;

            }
            else
            {
                TooltipSourceCodeText = showComponentCodeExampleString;
            }
        }
    }
}