@namespace MudBlazor
@inherits MudBasePicker


<MudPicker @ref="Picker" PickerVariant="@PickerVariant" Orientation="@Orientation" Label="@Label" Value="@Value" HelperText="@HelperText" InputVariant="@InputVariant" Disabled="@Disabled" Adornment="@Adornment" IconSize="@IconSize" InputIcon="@InputIcon" Elevation="@Elevation" Square="@Square" Rounded="@Rounded">
    <MudPickerToolbar Class="@ToolbarClass" DisableToolbar="@DisableToolbar" Orientation="@Orientation" Color="@Color">
        <div class="mud-timepicker-hourminute">
            <MudButton Variant="Variant.Text" Color="Color.Inherit" Class="mud-timepicker-button" OnClick="@OnHourClick">@TimeSet.Hour</MudButton>
            <MudText Typo="Typo.h2" Class="mud-timepicker-separator">:</MudText>
            <MudButton Variant="Variant.Text" Color="Color.Inherit" Class="mud-timepicker-button" OnClick="@OnMinutesClick">@TimeSet.Minute</MudButton>
        </div>
        @if (AmPm)
        {
            <div class="mud-timepicker-ampm">
                <MudButton Variant="Variant.Text" Color="Color.Inherit" Class="mud-timepicker-button">AM</MudButton>
                <MudButton Variant="Variant.Text" Color="Color.Inherit" Class="mud-timepicker-button">PM</MudButton>
            </div>
        }
    </MudPickerToolbar>
    <MudPickerContent>
        <div class="mud-picker-time-container">
            <div class="mud-picker-time-clock">
                <div role="menu" tabindex="-1" class="mud-picker-time-clock-mask" @onmousedown="@OnMouseDown" @onmouseup="@OnMouseUp">
                    <div class="@GetClockPinColor()"></div>
                    <div class="@GetClockPointerColor()" style="height: @GetPointerHeight(); transform: @GetPointerRotation()">
                        <div class="@GetClockPointerThumbColor()"></div>
                    </div>
                    @if (OpenTo == OpenTo.Hours)
                    {
                        @if (AmPm)
                        {
                            <MudText Class="mud-clock-number" Style="transform: translate(55px, 19.6px);">1</MudText>
                            <MudText Class="mud-clock-number" Style="transform: translate(94.4px, 59.5px);">2</MudText>
                            <MudText Class="mud-clock-number" Style="transform: translate(109px, 114px);">3</MudText>
                            <MudText Class="mud-clock-number" Style="transform: translate(94.4px, 168.5px);">4</MudText>
                            <MudText Class="mud-clock-number" Style="transform: translate(54.5px, 208.4px);">5</MudText>
                            <MudText Class="mud-clock-number" Style="transform: translate(0px, 223px);">6</MudText>
                            <MudText Class="mud-clock-number" Style="transform: translate(-54.5px, 208.4px);">7</MudText>
                            <MudText Class="mud-clock-number" Style="transform: translate(-94.4px, 168.5px);">8</MudText>
                            <MudText Class="mud-clock-number" Style="transform: translate(-109px, 114px);">9</MudText>
                            <MudText Class="mud-clock-number" Style="transform: translate(-94.4px, 59.5px);">10</MudText>
                            <MudText Class="mud-clock-number" Style="transform: translate(-54.5px, 19.6px);">11</MudText>
                            <MudText Class="mud-clock-number" Style="transform: translate(0px, 5px);">12</MudText>
                            <div class="mud-picker-time-stick" style="transform: rotateZ(30deg);" @onmouseover="@(() => OnMouseOverHour(new SetTime { Degrees = 30, Height = 40, Hour = 1 }))"></div>
                            <div class="mud-picker-time-stick" style="transform: rotateZ(60deg);" @onmouseover="@(() => OnMouseOverHour(new SetTime { Degrees = 60, Height = 40, Hour = 2 }))"></div>
                            <div class="mud-picker-time-stick" style="transform: rotateZ(90deg);" @onmouseover="@(() => OnMouseOverHour(new SetTime { Degrees = 90, Height = 40, Hour = 3 }))"></div>
                            <div class="mud-picker-time-stick" style="transform: rotateZ(120deg);" @onmouseover="@(() => OnMouseOverHour(new SetTime { Degrees = 120, Height = 40, Hour = 4 }))"></div>
                            <div class="mud-picker-time-stick" style="transform: rotateZ(150deg);" @onmouseover="@(() => OnMouseOverHour(new SetTime { Degrees = 150, Height = 40, Hour = 5 }))"></div>
                            <div class="mud-picker-time-stick" style="transform: rotateZ(180deg);" @onmouseover="@(() => OnMouseOverHour(new SetTime { Degrees = 180, Height = 40, Hour = 6 }))"></div>
                            <div class="mud-picker-time-stick" style="transform: rotateZ(210deg);" @onmouseover="@(() => OnMouseOverHour(new SetTime { Degrees = 210, Height = 40, Hour = 7 }))"></div>
                            <div class="mud-picker-time-stick" style="transform: rotateZ(240deg);" @onmouseover="@(() => OnMouseOverHour(new SetTime { Degrees = 240, Height = 40, Hour = 8 }))"></div>
                            <div class="mud-picker-time-stick" style="transform: rotateZ(270deg);" @onmouseover="@(() => OnMouseOverHour(new SetTime { Degrees = 270, Height = 40, Hour = 9 }))"></div>
                            <div class="mud-picker-time-stick" style="transform: rotateZ(300deg);" @onmouseover="@(() => OnMouseOverHour(new SetTime { Degrees = 300, Height = 40, Hour = 10 }))"></div>
                            <div class="mud-picker-time-stick" style="transform: rotateZ(330deg);" @onmouseover="@(() => OnMouseOverHour(new SetTime { Degrees = 330, Height = 40, Hour = 11 }))"></div>
                            <div class="mud-picker-time-stick" style="transform: rotateZ(0deg);" @onmouseover="@(() => OnMouseOverHour(new SetTime { Degrees = 0, Height = 40, Hour = 12 }))"></div>
                        }
                        else
                        {
                            <MudText Class="mud-clock-number" Style="transform: translate(55px, 19.6px);">13</MudText>
                            <MudText Class="mud-clock-number" Style="transform: translate(94.4px, 59.5px);">14</MudText>
                            <MudText Class="mud-clock-number" Style="transform: translate(109px, 114px);">15</MudText>
                            <MudText Class="mud-clock-number" Style="transform: translate(94.4px, 168.5px);">16</MudText>
                            <MudText Class="mud-clock-number" Style="transform: translate(54.5px, 208.4px);">17</MudText>
                            <MudText Class="mud-clock-number" Style="transform: translate(0px, 223px);">18</MudText>
                            <MudText Class="mud-clock-number" Style="transform: translate(-54.5px, 208.4px);">19</MudText>
                            <MudText Class="mud-clock-number" Style="transform: translate(-94.4px, 168.5px);">20</MudText>
                            <MudText Class="mud-clock-number" Style="transform: translate(-109px, 114px);">21</MudText>
                            <MudText Class="mud-clock-number" Style="transform: translate(-94.4px, 59.5px);">22</MudText>
                            <MudText Class="mud-clock-number" Style="transform: translate(-54.5px, 19.6px);">23</MudText>
                            <MudText Class="mud-clock-number" Style="transform: translate(0px, 5px);">00</MudText>
                            <MudText Class="mud-clock-number" Typo="Typo.body2" Style="transform: translate(0px, 40px);">12</MudText>
                            <MudText Class="mud-clock-number" Typo="Typo.body2" Style="transform: translate(36.9px, 49.9px);">01</MudText>
                            <MudText Class="mud-clock-number" Typo="Typo.body2" Style="transform: translate(64px, 77px);">02</MudText>
                            <MudText Class="mud-clock-number" Typo="Typo.body2" Style="transform: translate(74px, 114px);">03</MudText>
                            <MudText Class="mud-clock-number" Typo="Typo.body2" Style="transform: translate(64px, 151px);">04</MudText>
                            <MudText Class="mud-clock-number" Typo="Typo.body2" Style="transform: translate(37px, 178px);">05</MudText>
                            <MudText Class="mud-clock-number" Typo="Typo.body2" Style="transform: translate(0px, 188px);">06</MudText>
                            <MudText Class="mud-clock-number" Typo="Typo.body2" Style="transform: translate(-37px, 178px);">07</MudText>
                            <MudText Class="mud-clock-number" Typo="Typo.body2" Style="transform: translate(-64px, 151px);">08</MudText>
                            <MudText Class="mud-clock-number" Typo="Typo.body2" Style="transform: translate(-74px, 114px);">09</MudText>
                            <MudText Class="mud-clock-number" Typo="Typo.body2" Style="transform: translate(-64px, 77px);">10</MudText>
                            <MudText Class="mud-clock-number" Typo="Typo.body2" Style="transform: translate(-37px, 50px);">11</MudText>

                            <div class="mud-picker-time-stick" style="transform: rotateZ(30deg);">
                                <div class="mud-picker-time-stick-inner" @onmouseover="@(() => OnMouseOverHour(new SetTime { Degrees = 30, Height = 26, Hour = 1 }))"></div>
                                <div class="mud-picker-time-stick-outer" @onmouseover="@(() => OnMouseOverHour(new SetTime { Degrees = 30, Height = 40, Hour = 13 }))"></div>
                            </div>
                            <div class="mud-picker-time-stick" style="transform: rotateZ(60deg);">
                                <div class="mud-picker-time-stick-inner" @onmouseover="@(() => OnMouseOverHour(new SetTime { Degrees = 60, Height = 26, Hour = 2 }))"></div>
                                <div class="mud-picker-time-stick-outer" @onmouseover="@(() => OnMouseOverHour(new SetTime { Degrees = 60, Height = 40, Hour = 14 }))"></div>
                            </div>
                            <div class="mud-picker-time-stick" style="transform: rotateZ(90deg);">
                                <div class="mud-picker-time-stick-inner" @onmouseover="@(() => OnMouseOverHour(new SetTime { Degrees = 90, Height = 26, Hour = 3 }))"></div>
                                <div class="mud-picker-time-stick-outer" @onmouseover="@(() => OnMouseOverHour(new SetTime { Degrees = 90, Height = 40, Hour = 15 }))"></div>
                            </div>
                            <div class="mud-picker-time-stick" style="transform: rotateZ(120deg);">
                                <div class="mud-picker-time-stick-inner" @onmouseover="@(() => OnMouseOverHour(new SetTime { Degrees = 120, Height = 26, Hour = 4 }))"></div>
                                <div class="mud-picker-time-stick-outer" @onmouseover="@(() => OnMouseOverHour(new SetTime { Degrees = 120, Height = 40, Hour = 16 }))"></div>
                            </div>
                            <div class="mud-picker-time-stick" style="transform: rotateZ(150deg);">
                                <div class="mud-picker-time-stick-inner" @onmouseover="@(() => OnMouseOverHour(new SetTime { Degrees = 150, Height = 26, Hour = 5 }))"></div>
                                <div class="mud-picker-time-stick-outer" @onmouseover="@(() => OnMouseOverHour(new SetTime { Degrees = 150, Height = 40, Hour = 17 }))"></div>
                            </div>
                            <div class="mud-picker-time-stick" style="transform: rotateZ(180deg);">
                                <div class="mud-picker-time-stick-inner" @onmouseover="@(() => OnMouseOverHour(new SetTime { Degrees = 180, Height = 26, Hour = 6 }))"></div>
                                <div class="mud-picker-time-stick-outer" @onmouseover="@(() => OnMouseOverHour(new SetTime { Degrees = 180, Height = 40, Hour = 18 }))"></div>
                            </div>
                            <div class="mud-picker-time-stick" style="transform: rotateZ(210deg);">
                                <div class="mud-picker-time-stick-inner" @onmouseover="@(() => OnMouseOverHour(new SetTime { Degrees = 210, Height = 26, Hour = 7 }))"></div>
                                <div class="mud-picker-time-stick-outer" @onmouseover="@(() => OnMouseOverHour(new SetTime { Degrees = 210, Height = 40, Hour = 19 }))"></div>
                            </div>
                            <div class="mud-picker-time-stick" style="transform: rotateZ(240deg);">
                                <div class="mud-picker-time-stick-inner" @onmouseover="@(() => OnMouseOverHour(new SetTime { Degrees = 240, Height = 26, Hour = 8 }))"></div>
                                <div class="mud-picker-time-stick-outer" @onmouseover="@(() => OnMouseOverHour(new SetTime { Degrees = 240, Height = 40, Hour = 20 }))"></div>
                            </div>
                            <div class="mud-picker-time-stick" style="transform: rotateZ(270deg);">
                                <div class="mud-picker-time-stick-inner" @onmouseover="@(() => OnMouseOverHour(new SetTime { Degrees = 270, Height = 26, Hour = 9 }))"></div>
                                <div class="mud-picker-time-stick-outer" @onmouseover="@(() => OnMouseOverHour(new SetTime { Degrees = 270, Height = 40, Hour = 21 }))"></div>
                            </div>
                            <div class="mud-picker-time-stick" style="transform: rotateZ(300deg);">
                                <div class="mud-picker-time-stick-inner" @onmouseover="@(() => OnMouseOverHour(new SetTime { Degrees = 300, Height = 26, Hour = 10 }))"></div>
                                <div class="mud-picker-time-stick-outer" @onmouseover="@(() => OnMouseOverHour(new SetTime { Degrees = 300, Height = 40, Hour = 22 }))"></div>
                            </div>
                            <div class="mud-picker-time-stick" style="transform: rotateZ(330deg);">
                                <div class="mud-picker-time-stick-inner" @onmouseover="@(() => OnMouseOverHour(new SetTime { Degrees = 330, Height = 26, Hour = 11 }))"></div>
                                <div class="mud-picker-time-stick-outer" @onmouseover="@(() => OnMouseOverHour(new SetTime { Degrees = 330, Height = 40, Hour = 23 }))"></div>
                            </div>
                            <div class="mud-picker-time-stick" style="transform: rotateZ(0deg);">
                                <div class="mud-picker-time-stick-inner" @onmouseover="@(() => OnMouseOverHour(new SetTime { Degrees = 0, Height = 26, Hour = 12 }))"></div>
                                <div class="mud-picker-time-stick-outer" @onmouseover="@(() => OnMouseOverHour(new SetTime { Degrees = 0, Height = 40, Hour = 00 }))"></div>
                            </div>
                        }

                    }
                    else if (OpenTo == OpenTo.Minutes)
                    {
                        <MudText Class="mud-clock-number" Style="transform: translate(55px, 19.6px);">05</MudText>
                        <MudText Class="mud-clock-number" Style="transform: translate(94.4px, 59.5px);">10</MudText>
                        <MudText Class="mud-clock-number" Style="transform: translate(109px, 114px);">15</MudText>
                        <MudText Class="mud-clock-number" Style="transform: translate(94.4px, 168.5px);">20</MudText>
                        <MudText Class="mud-clock-number" Style="transform: translate(54.5px, 208.4px);">25</MudText>
                        <MudText Class="mud-clock-number" Style="transform: translate(0px, 223px);">30</MudText>
                        <MudText Class="mud-clock-number" Style="transform: translate(-54.5px, 208.4px);">35</MudText>
                        <MudText Class="mud-clock-number" Style="transform: translate(-94.4px, 168.5px);">40</MudText>
                        <MudText Class="mud-clock-number" Style="transform: translate(-109px, 114px);">45</MudText>
                        <MudText Class="mud-clock-number" Style="transform: translate(-94.4px, 59.5px);">50</MudText>
                        <MudText Class="mud-clock-number" Style="transform: translate(-54.5px, 19.6px);">55</MudText>
                        <MudText Class="mud-clock-number" Style="transform: translate(0px, 5px);">00</MudText>
                        <div class="mud-picker-time-stick" style="transform: rotateZ(0deg);" @onmouseover="@(() => OnMouseOverMinute(new SetTime { Degrees = 0, Minute = 00 }))"></div>
                        <div class="mud-picker-time-stick" style="transform: rotateZ(6deg);" @onmouseover="@(() => OnMouseOverMinute(new SetTime { Degrees = 6, Minute = 1 }))"></div>
                        <div class="mud-picker-time-stick" style="transform: rotateZ(12deg);" @onmouseover="@(() => OnMouseOverMinute(new SetTime { Degrees = 12, Minute = 2 }))"></div>
                        <div class="mud-picker-time-stick" style="transform: rotateZ(18deg);" @onmouseover="@(() => OnMouseOverMinute(new SetTime { Degrees = 18, Minute = 3 }))"></div>
                        <div class="mud-picker-time-stick" style="transform: rotateZ(24deg);" @onmouseover="@(() => OnMouseOverMinute(new SetTime { Degrees = 24, Minute = 4 }))"></div>
                        <div class="mud-picker-time-stick" style="transform: rotateZ(30deg);" @onmouseover="@(() => OnMouseOverMinute(new SetTime { Degrees = 30, Minute = 5 }))"></div>
                        <div class="mud-picker-time-stick" style="transform: rotateZ(36deg);" @onmouseover="@(() => OnMouseOverMinute(new SetTime { Degrees = 36, Minute = 6 }))"></div>
                        <div class="mud-picker-time-stick" style="transform: rotateZ(42deg);" @onmouseover="@(() => OnMouseOverMinute(new SetTime { Degrees = 42, Minute = 7 }))"></div>
                        <div class="mud-picker-time-stick" style="transform: rotateZ(48deg);" @onmouseover="@(() => OnMouseOverMinute(new SetTime { Degrees = 48, Minute = 8 }))"></div>
                        <div class="mud-picker-time-stick" style="transform: rotateZ(54deg);" @onmouseover="@(() => OnMouseOverMinute(new SetTime { Degrees = 54, Minute = 9 }))"></div>
                        <div class="mud-picker-time-stick" style="transform: rotateZ(60deg);" @onmouseover="@(() => OnMouseOverMinute(new SetTime { Degrees = 60, Minute = 10 }))"></div>
                        <div class="mud-picker-time-stick" style="transform: rotateZ(66deg);" @onmouseover="@(() => OnMouseOverMinute(new SetTime { Degrees = 66, Minute = 11 }))"></div>
                        <div class="mud-picker-time-stick" style="transform: rotateZ(72deg);" @onmouseover="@(() => OnMouseOverMinute(new SetTime { Degrees = 72, Minute = 12 }))"></div>
                        <div class="mud-picker-time-stick" style="transform: rotateZ(78deg);" @onmouseover="@(() => OnMouseOverMinute(new SetTime { Degrees = 78, Minute = 13 }))"></div>
                        <div class="mud-picker-time-stick" style="transform: rotateZ(84deg);" @onmouseover="@(() => OnMouseOverMinute(new SetTime { Degrees = 84, Minute = 14 }))"></div>
                        <div class="mud-picker-time-stick" style="transform: rotateZ(90deg);" @onmouseover="@(() => OnMouseOverMinute(new SetTime { Degrees = 90, Minute = 15 }))"></div>
                        <div class="mud-picker-time-stick" style="transform: rotateZ(96deg);" @onmouseover="@(() => OnMouseOverMinute(new SetTime { Degrees = 96, Minute = 16 }))"></div>
                        <div class="mud-picker-time-stick" style="transform: rotateZ(102deg);" @onmouseover="@(() => OnMouseOverMinute(new SetTime { Degrees = 102, Minute = 17 }))"></div>
                        <div class="mud-picker-time-stick" style="transform: rotateZ(108deg);" @onmouseover="@(() => OnMouseOverMinute(new SetTime { Degrees = 108, Minute = 18 }))"></div>
                        <div class="mud-picker-time-stick" style="transform: rotateZ(114deg);" @onmouseover="@(() => OnMouseOverMinute(new SetTime { Degrees = 114, Minute = 19 }))"></div>
                        <div class="mud-picker-time-stick" style="transform: rotateZ(120deg);" @onmouseover="@(() => OnMouseOverMinute(new SetTime { Degrees = 120, Minute = 20 }))"></div>
                        <div class="mud-picker-time-stick" style="transform: rotateZ(126deg);" @onmouseover="@(() => OnMouseOverMinute(new SetTime { Degrees = 126, Minute = 21 }))"></div>
                        <div class="mud-picker-time-stick" style="transform: rotateZ(132deg);" @onmouseover="@(() => OnMouseOverMinute(new SetTime { Degrees = 132, Minute = 22 }))"></div>
                        <div class="mud-picker-time-stick" style="transform: rotateZ(138deg);" @onmouseover="@(() => OnMouseOverMinute(new SetTime { Degrees = 138, Minute = 23 }))"></div>
                        <div class="mud-picker-time-stick" style="transform: rotateZ(144deg);" @onmouseover="@(() => OnMouseOverMinute(new SetTime { Degrees = 144, Minute = 24 }))"></div>
                        <div class="mud-picker-time-stick" style="transform: rotateZ(150deg);" @onmouseover="@(() => OnMouseOverMinute(new SetTime { Degrees = 150, Minute = 25 }))"></div>
                        <div class="mud-picker-time-stick" style="transform: rotateZ(156deg);" @onmouseover="@(() => OnMouseOverMinute(new SetTime { Degrees = 156, Minute = 26 }))"></div>
                        <div class="mud-picker-time-stick" style="transform: rotateZ(162deg);" @onmouseover="@(() => OnMouseOverMinute(new SetTime { Degrees = 162, Minute = 27 }))"></div>
                        <div class="mud-picker-time-stick" style="transform: rotateZ(168deg);" @onmouseover="@(() => OnMouseOverMinute(new SetTime { Degrees = 168, Minute = 28 }))"></div>
                        <div class="mud-picker-time-stick" style="transform: rotateZ(174deg);" @onmouseover="@(() => OnMouseOverMinute(new SetTime { Degrees = 174, Minute = 29 }))"></div>
                        <div class="mud-picker-time-stick" style="transform: rotateZ(180deg);" @onmouseover="@(() => OnMouseOverMinute(new SetTime { Degrees = 180, Minute = 30 }))"></div>
                        <div class="mud-picker-time-stick" style="transform: rotateZ(186deg);" @onmouseover="@(() => OnMouseOverMinute(new SetTime { Degrees = 186, Minute = 31 }))"></div>
                        <div class="mud-picker-time-stick" style="transform: rotateZ(192deg);" @onmouseover="@(() => OnMouseOverMinute(new SetTime { Degrees = 192, Minute = 32 }))"></div>
                        <div class="mud-picker-time-stick" style="transform: rotateZ(198deg);" @onmouseover="@(() => OnMouseOverMinute(new SetTime { Degrees = 198, Minute = 33 }))"></div>
                        <div class="mud-picker-time-stick" style="transform: rotateZ(204deg);" @onmouseover="@(() => OnMouseOverMinute(new SetTime { Degrees = 204, Minute = 34 }))"></div>
                        <div class="mud-picker-time-stick" style="transform: rotateZ(210deg);" @onmouseover="@(() => OnMouseOverMinute(new SetTime { Degrees = 210, Minute = 35 }))"></div>
                        <div class="mud-picker-time-stick" style="transform: rotateZ(216deg);" @onmouseover="@(() => OnMouseOverMinute(new SetTime { Degrees = 216, Minute = 36 }))"></div>
                        <div class="mud-picker-time-stick" style="transform: rotateZ(222deg);" @onmouseover="@(() => OnMouseOverMinute(new SetTime { Degrees = 222, Minute = 37 }))"></div>
                        <div class="mud-picker-time-stick" style="transform: rotateZ(228deg);" @onmouseover="@(() => OnMouseOverMinute(new SetTime { Degrees = 228, Minute = 38 }))"></div>
                        <div class="mud-picker-time-stick" style="transform: rotateZ(234deg);" @onmouseover="@(() => OnMouseOverMinute(new SetTime { Degrees = 234, Minute = 39 }))"></div>
                        <div class="mud-picker-time-stick" style="transform: rotateZ(240deg);" @onmouseover="@(() => OnMouseOverMinute(new SetTime { Degrees = 240, Minute = 40 }))"></div>
                        <div class="mud-picker-time-stick" style="transform: rotateZ(246deg);" @onmouseover="@(() => OnMouseOverMinute(new SetTime { Degrees = 246, Minute = 41 }))"></div>
                        <div class="mud-picker-time-stick" style="transform: rotateZ(252deg);" @onmouseover="@(() => OnMouseOverMinute(new SetTime { Degrees = 252, Minute = 42 }))"></div>
                        <div class="mud-picker-time-stick" style="transform: rotateZ(258deg);" @onmouseover="@(() => OnMouseOverMinute(new SetTime { Degrees = 258, Minute = 43 }))"></div>
                        <div class="mud-picker-time-stick" style="transform: rotateZ(264deg);" @onmouseover="@(() => OnMouseOverMinute(new SetTime { Degrees = 264, Minute = 44 }))"></div>
                        <div class="mud-picker-time-stick" style="transform: rotateZ(270deg);" @onmouseover="@(() => OnMouseOverMinute(new SetTime { Degrees = 270, Minute = 45 }))"></div>
                        <div class="mud-picker-time-stick" style="transform: rotateZ(276deg);" @onmouseover="@(() => OnMouseOverMinute(new SetTime { Degrees = 276, Minute = 46 }))"></div>
                        <div class="mud-picker-time-stick" style="transform: rotateZ(282deg);" @onmouseover="@(() => OnMouseOverMinute(new SetTime { Degrees = 282, Minute = 47 }))"></div>
                        <div class="mud-picker-time-stick" style="transform: rotateZ(288deg);" @onmouseover="@(() => OnMouseOverMinute(new SetTime { Degrees = 288, Minute = 48 }))"></div>
                        <div class="mud-picker-time-stick" style="transform: rotateZ(294deg);" @onmouseover="@(() => OnMouseOverMinute(new SetTime { Degrees = 294, Minute = 49 }))"></div>
                        <div class="mud-picker-time-stick" style="transform: rotateZ(300deg);" @onmouseover="@(() => OnMouseOverMinute(new SetTime { Degrees = 300, Minute = 50 }))"></div>
                        <div class="mud-picker-time-stick" style="transform: rotateZ(306deg);" @onmouseover="@(() => OnMouseOverMinute(new SetTime { Degrees = 306, Minute = 51 }))"></div>
                        <div class="mud-picker-time-stick" style="transform: rotateZ(312deg);" @onmouseover="@(() => OnMouseOverMinute(new SetTime { Degrees = 312, Minute = 52 }))"></div>
                        <div class="mud-picker-time-stick" style="transform: rotateZ(318deg);" @onmouseover="@(() => OnMouseOverMinute(new SetTime { Degrees = 318, Minute = 53 }))"></div>
                        <div class="mud-picker-time-stick" style="transform: rotateZ(324deg);" @onmouseover="@(() => OnMouseOverMinute(new SetTime { Degrees = 324, Minute = 54 }))"></div>
                        <div class="mud-picker-time-stick" style="transform: rotateZ(330deg);" @onmouseover="@(() => OnMouseOverMinute(new SetTime { Degrees = 330, Minute = 55 }))"></div>
                        <div class="mud-picker-time-stick" style="transform: rotateZ(336deg);" @onmouseover="@(() => OnMouseOverMinute(new SetTime { Degrees = 336, Minute = 56 }))"></div>
                        <div class="mud-picker-time-stick" style="transform: rotateZ(342deg);" @onmouseover="@(() => OnMouseOverMinute(new SetTime { Degrees = 342, Minute = 57 }))"></div>
                        <div class="mud-picker-time-stick" style="transform: rotateZ(348deg);" @onmouseover="@(() => OnMouseOverMinute(new SetTime { Degrees = 348, Minute = 58 }))"></div>
                        <div class="mud-picker-time-stick" style="transform: rotateZ(354deg);" @onmouseover="@(() => OnMouseOverMinute(new SetTime { Degrees = 354, Minute = 59 }))"></div>
                    }
                </div>
            </div>
        </div>
    </MudPickerContent>
</MudPicker>
