@page "/components/list"

<DocsPage>
    <DocsPageHeader Title="Lists">
        <Description>Easily customizable and scrollable lists for displaying information with avatars or icons and optional value selection.</Description>
    </DocsPageHeader>
    <DocsPageContent>

        <DocsPageSection>
            <SectionHeader Title="Simple List">
                <Description>
                    <CodeInline>MudList</CodeInline> is used to display a collection of items which can contain an avatar, an icon, text or custom content.
                    If you want the component to be interactive set parameter <CodeInline>Clickable</CodeInline> to true. You can also use the list for
                    navigation if you set parameter <CodeInline>Href</CodeInline> on its <CodeInline>MudListItems</CodeInline>. Use
                    <CodeInline Tag>MudDivider</CodeInline> to separate groups of items.

                    <MudAlert Severity="Severity.Info" Class="mt-3">
                        Because lists can manage a selected value of any type, you have to specify the type parameter <CodeInline>T</CodeInline> for the list and
                        its items, even if you only use them for presentation purposes.
                    </MudAlert>
                </Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" Code="@nameof(ListSimpleExample)">
                <ListSimpleExample />
            </SectionContent>
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader Title="Nested List">
                <Description>
                    To create a nested list with multiple levels of nesting use the <CodeInline Tag>NestedList</CodeInline> render fragment of the  <CodeInline Tag>MudListItem</CodeInline>.
                    The nested lists inherit all settings of the top-level list. To initialize the expansion state of a nested list set the <CodeInline>@nameof(MudListItem<T>.Expanded)</CodeInline> parameter. You can also bind
                    it to control the sub-list expansion state. This example also shows how to appropriate the <CodeInline Tag>MudListSubheader</CodeInline> as a footer.
                </Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" Code="@nameof(ListNestedExample)">
                <ListNestedExample />
            </SectionContent>
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader Title="Selection">
                <Description>
                    <p>
                        If you use <CodeInline>@@bind-SelectedValue</CodeInline>, <CodeInline Tag>MudList</CodeInline> will manage an exclusive single-selection
                        across all its nested lists for you. The value of a list item is defined via its <CodeInline>Value</CodeInline> parameter. For <CodeInline>T="string"</CodeInline> the <CodeInline>Text</CodeInline> 
                        parameter is used as value if <CodeInline>Value</CodeInline> is not set for convenience, so you don't have to repeat yourself if the <CodeInline>Text</CodeInline> equals the 
                        <CodeInline>Value</CodeInline>.
                    </p>
                    <p>
                        You can customize the selected item's color via the <CodeInline>Color</CodeInline> parameter. In this example, the selection from the colors list is applied to the drinks list.
                    </p>
                </Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" ShowCode="false" Code="@nameof(ListSelectionExample)">
                <ListSelectionExample />
            </SectionContent>
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader Title="Interactive">
                <Description>
                    To make the list non-interactive you can set the <CodeInline Tag>ReadOnly</CodeInline> parameter. In this mode it will still display the selected item. 
                    In <CodeInline Tag>Disabled</CodeInline> mode the selection is not shown at all.
                </Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" ShowCode="false" Code="@nameof(ListInteractiveExample)">
                <ListInteractiveExample />
            </SectionContent>
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader Title="Avatar">
                <Description>
                    <p>
                        List items can either display an icon via the <CodeInline>Icon</CodeInline> parameter or an avatar via the <CodeInline Tag>AvatarContent</CodeInline> render fragment.
                        The content inside <CodeInline Tag>AvatarContent</CodeInline> doesn't necessarily have to be an <MudLink Href="/components/avatar">Avatar</MudLink> it can be 
                        anything you want to render in place of an avatar or icon. 
                    </p>
                    <p>
                        <MudAlert Severity="Severity.Info" Class="mt-3">
                            Note: when you define <CodeInline Tag>AvatarContent</CodeInline> the <CodeInline>Icon</CodeInline> parameter is ignored. Also, you'll need to use the
                            <CodeInline Tag>ChildContent</CodeInline> render fragment for the other content such as the item text.
                        </MudAlert>
                    </p>
                </Description>
            </SectionHeader>
            <SectionContent DarkenBackground="true" Code="@nameof(ListAvatarExample)">
                <ListAvatarExample />
            </SectionContent>
        </DocsPageSection>


    </DocsPageContent>
</DocsPage>
