@namespace MudBlazor
@inherits MudComponentBase
@typeparam T

<MudButton role="checkbox"
           aria-checked="@(Selected.ToString().ToLower())"
           @attributes="UserAttributes"
           Class="@Classname"
           Style="@Style"
           @onclick="HandleOnClickAsync"
           Size="@(Parent?.Size ?? Size.Medium)"
           Variant="@(Selected ? Variant.Filled : Variant.Outlined)"
           Disabled="Disabled || (Parent?.Disabled ?? false)"
           Ripple="Parent?.Ripple == true">
    @if (Parent?.CheckMark == true && (CurrentIcon.IsNonEmpty() || Parent?.FixedContent == true))
    {
        <MudIcon Class="@CheckMarkClassname" Icon="@CurrentIcon" />
    }
    @if (ChildContent is not null)
    {
        <div class="mud-toggle-item-content">
            @ChildContent(Selected)
        </div>
    }
    else
    {
        @(Text == null ? Value : Text)
    }
</MudButton>
