@namespace MudBlazor
@inherits MudComponentBase
@typeparam T

<div @attributes="UserAttributes" class="@Classes" style="@Style" @onclick="HandleOnClickAsync">
    @if (ChildContent is not null) {
        @ChildContent
    }
    else {
        <div class="d-flex align-center justify-center mud-width-full mud-height-full">
            @if (Parent?.ShowIcon == true && !string.IsNullOrWhiteSpace(CurrentIcon)) {
                <MudIcon Class="@IconClassName" Icon="@CurrentIcon"/>
            }
            @if (Parent?.ShowText == true) {
                <MudText Class="@TextClassName" Align="Align.Center">@(Text == null ? Value : Text)</MudText>
            }
            @* else *@
            @* { *@
            @*     <MudText Class="@TextClassname" Style="@(_selected ? null : "padding-left: 16px; padding-right: 16px")" Align="Align.Center">@(string.IsNullOrEmpty(Text) ? Value : Text)</MudText> *@
            @* } *@
        </div>
    }
</div>