@namespace MudBlazor
@inherits MudComponentBase
@typeparam T

<div @attributes="UserAttributes" class="@Classname" style="@Style" @onclick="HandleOnClickAsync">
    @if (Parent?.CheckMark == true && (CurrentIcon.IsNonEmpty() || Parent?.FixedContent == true))
    {
        <MudIcon Class="@CheckMarkClassname" Icon="@CurrentIcon" Size="@Size" />
    }
    @if (ChildContent is not null)
    {
        @ChildContent(IsSelected)
    }
    else
    {
        <MudText Class="@TextClassname" Align="Align.Center">@(Text == null ? Value : Text)</MudText>
    }
</div>
