@namespace MudBlazor
@inherits MudComponentBase
@typeparam T

<div @attributes="UserAttributes" class="@Classes" style="@Style" @onclick="HandleOnClickAsync">
    @if (Parent?.CheckMark == true) {
        <div class="d-flex align-center justify-center mud-width-full mud-height-full pe-6">
            <MudIcon Class="@CheckMarkClasses" Icon="@CurrentIcon" Size="Size.Small"/>
            @Content()
        </div>
    }
    else {
        @Content()
    }
</div>

@code {
    private RenderFragment Content() => @<MudRender>
        @if (ChildContent is not null) {
            @ChildContent(IsSelected)
        }
        else {
            <MudText Class="@TextClassName" Align="Align.Center">@(Text == null ? Value : Text)</MudText>
        }
    </MudRender>;
}