@namespace MudBlazor
@inherits MudComponentBase
@typeparam T

<div class="@Classname" style="@Stylename" @onclick="HandleOnClick">
    @if (ChildContent != null)
    {
        @ChildContent
    }
    else
    {
        <div class="d-flex align-center justify-center mud-width-full mud-height-full">
            @if ((Parent?.ShowSelectedIcon == true && _selected) || string.IsNullOrEmpty(Text))
            {
                <MudIcon Class="@(string.IsNullOrEmpty(Text) ? null : "me-2")" Icon="@Icon" />
            }

            <MudText Class="@TextClassname" Align="Align.Center">@Text</MudText>
        </div>
    }
</div>
