@namespace MudBlazor
@using MudBlazor.Utilities
@inherits MudComponentBase

<div class="@Classname" style="@Style">
    @if (CardHeaderAvatar != null)
    {<div class="mud-card-header-avatar">@CardHeaderAvatar</div>}
    @if (CardHeaderContent != null)
    {<div class="mud-card-header-content">@CardHeaderContent</div>}
    @if (CardHeaderActions != null)
    {<div class="mud-card-header-actions">@CardHeaderActions</div>}
</div>

@code {
    /// <summary>
    /// If used renders child content of the CardHeaderAvatar.
    /// </summary>
    [Parameter] public RenderFragment CardHeaderAvatar { get; set; }

    /// <summary>
    /// If used renders child content of the CardHeaderContent.
    /// </summary>
    [Parameter] public RenderFragment CardHeaderContent { get; set; }

    /// <summary>
    /// If used renders child content of the CardHeaderActions.
    /// </summary>
    [Parameter] public RenderFragment CardHeaderActions { get; set; }

    protected string Classname =>
    new CssBuilder("mud-card-header")
      .AddClass(Class)
    .Build();
}