@namespace MudBlazor
@inherits MudComponentBase
@typeparam T

@if (Column != null)
{
    <td class="@_classname" style="@_style" colspan="@Column.FooterColSpan" @attributes="@UserAttributes">
        @if (Column.AggregateDefinition != null)
        {
            @Column.AggregateDefinition?.GetValue(Column.Field, items)
        }
        else if (Column.FooterTemplate != null)
        {
            @Column.FooterTemplate(Column.footerContext)
        }
    </td>
}