@namespace MudBlazor
@inherits MudComponentBase
@typeparam T

@if (IsOnlyFooter)
{
    <td class="mud-table-cell @_classname" style="@_style" colspan="@ColSpan" @attributes="@UserAttributes">
        @ChildContent
    </td>
}
else
{
    <td class="@_classname" style="@_style" colspan="@ColSpan" @attributes="@UserAttributes">
        @if (ColumnType == ColumnType.SelectionCheckBox)
        {
            <div class="d-flex">
                <MudCheckBox T="bool" Checked="@_isSelected" CheckedChanged="@CheckedChangedAsync"></MudCheckBox>
            </div>
        }
        else
        {
            @FooterTemplate
        }
    </td>
}