@namespace MudBlazor
@inherits MudComponentBase
@typeparam T

@if (IsOnlyHeader)
{
    <th scope="col" class="mud-table cell @_classname" style="" @attributes="@UserAttributes">
        @ChildContent
    </th>
}
else if (Column != null && !Column.Hidden)
{
    <th scope="col" class="@_classname" style="@_style" colspan="@Column.HeaderColSpan" @attributes="@UserAttributes">
        <span class="column-header">
            @if (sortable)
            {
                <span class="sortable-column-header" @onclick="SortChangedAsync">
                    @if (Column.HeaderTemplate != null)
                    {
                        @Column.HeaderTemplate(Column.headerContext)
                    }
                    else 
                    {
                        @computedTitle
                    }
                </span>
            }
            else
            { 
                @if (Column.HeaderTemplate != null)
                {
                    @Column.HeaderTemplate(Column.headerContext)
                }
                else 
                {
                    @computedTitle
                }
            }
            <span class="column-options">
                @if (sortable)
                {
                    if (_initialDirection == SortDirection.None)
                    {
                        <MudIconButton Icon="@Column.SortIcon" Class="@sortIconClass" Size="@Size.Small" OnClick="@SortChangedAsync"></MudIconButton>
                    }
                    else
                    {
                        <MudIconButton Icon="@Column.SortIcon" Class="@sortIconClass" Size="@Size.Small" OnClick="@SortChangedAsync"></MudIconButton>
                    }
                }

                @if (hasFilter)
                {
                    <MudIconButton Icon="@Icons.Material.Filled.FilterAlt" Size="@Size.Small" OnClick="@OpenFilters"></MudIconButton>
                }

                @if (showColumnOptions)
                {
                    <MudMenu Icon="@Icons.Material.Filled.MoreVert" Size="Size.Small" AnchorOrigin="Origin.BottomCenter" Dense="true">
                        <MudMenuItem Disabled="@(_initialDirection == SortDirection.None)" OnClick="@RemoveSortAsync">Unsort</MudMenuItem>
                        @if (filterable)
                        {
                            <MudMenuItem OnClick="@AddFilter">Filter</MudMenuItem>
                        }
                        @if (hideable)
                        {
                            <MudMenuItem OnClick="@HideColumnAsync">Hide</MudMenuItem>
                        }
                        @if (groupable)
                        {
                            if (Column?.grouping ?? false)
                            {
                                <MudMenuItem OnClick="@UngroupColumn">Ungroup</MudMenuItem>
                            }
                            else
                            {
                                <MudMenuItem OnClick="@GroupColumn">Group</MudMenuItem>
                            }
                        }
                    </MudMenu>
                }
            </span>
        </span>
    </th>
}