@namespace MudBlazor
@inherits MudComponentBase
@typeparam T

@inject InternalMudLocalizer Localizer

@if (IsOnlyHeader)
{
    <th scope="col" class="mud-table cell @_classname" style="" @attributes="@UserAttributes">
        @ChildContent
    </th>
}
else if (Column != null && !Column.hidden)
{
    <th @ref=@_headerElement scope="col" class="@_classname" style="@_style" colspan="@Column.HeaderColSpan" @attributes="@UserAttributes">
        @if (DataGrid.DragDropColumnReordering)
        {
            <MudDropZone CanDrop="@((item) => (Column.DragAndDropEnabled ?? true))" ItemIsDisabled="@((item) => !item.DragAndDropEnabled ?? false)" T="Column<T>" Identifier="@(Column.PropertyName ?? $"mud-header-cell-{_id}")">

            </MudDropZone>
        }
        else
        {
            @TableHeader()
        }
        @if (resizable)
        {
            <div @onmousedown=OnResizerMouseDown @onmouseover=OnResizerMouseOver @onmouseleave=OnResizerMouseLeave
                 class="@_resizerClass" style="@_resizerStyle" />
        }
    </th>
}

@code{

    internal RenderFragment TableHeader()
    {
        return
        @<text>
        <span class="column-header">
            @if (sortable)
            {
                <span class="@_sortHeaderClass" @onclick="SortChangedAsync">
                    @if (Column.HeaderTemplate != null)
                    {
                        @Column.HeaderTemplate(Column.headerContext)
                    }
                    else 
                    {
                        @computedTitle
                    }
                </span>
            }
            else
            { 
                @if (Column.HeaderTemplate != null)
                {
                    @Column.HeaderTemplate(Column.headerContext)
                }
                else 
                {
                    @computedTitle
                }
            }
            <span class="@_optionsClass">
                @if (sortable)
                {
                    if (_initialDirection == SortDirection.None)
                    {
                        <MudIconButton Icon="@Column.SortIcon" Class="@sortIconClass" Size="@Size.Small" OnClick="@SortChangedAsync"></MudIconButton>
                    }
                    else
                    {                        
                        <MudIconButton Icon="@Column.SortIcon" Class="@sortIconClass" Size="@Size.Small" OnClick="@SortChangedAsync"></MudIconButton> 
                    }

                    if (DataGrid.SortMode == SortMode.Multiple)
                    {
                        if (Column.SortIndex < 0)
                        {
                            <span class="mud-sort-index mud-text-disabled invisible">@(Column.SortIndex + 1)</span>
                        }
                        else
                        {
                            <span class="mud-sort-index mud-text-disabled">@(Column.SortIndex + 1)</span>
                        }
                    }
                }

                @if (DataGrid.FilterMode != DataGridFilterMode.ColumnFilterRow)
                {
                    if (hasFilter)
                    {
                        <MudIconButton Class="filter-button filtered" Icon="@Icons.Material.Filled.FilterAlt" Size="@Size.Small" OnClick="@OpenFilters"></MudIconButton>
                    }
                    else if (showFilterIcon)
                    {
                        <MudIconButton Class="filter-button" Icon="@Icons.Material.Outlined.FilterAlt" Size="@Size.Small" OnClick="@AddFilter"></MudIconButton>
                    }
                }

                @if (showColumnOptions)
                {
                    <MudMenu Icon="@Icons.Material.Filled.MoreVert" Size="Size.Small" AnchorOrigin="Origin.BottomCenter" Dense="true">
                        <MudMenuItem Disabled="@(_initialDirection == SortDirection.None)" OnClick="@RemoveSortAsync">@Localizer["MudDataGrid.Unsort"]</MudMenuItem>
                        @if (filterable && DataGrid.FilterMode != DataGridFilterMode.ColumnFilterRow)
                        {
                            <MudMenuItem OnClick="@AddFilter">@Localizer["MudDataGrid.Filter"]</MudMenuItem>
                        }
                        @if (hideable)
                        {
                            <MudMenuItem OnClick="@HideColumnAsync">@Localizer["MudDataGrid.Hide"]</MudMenuItem>
                        }
                        @if (groupable)
                        {
                            if (Column?.grouping ?? false)
                            {
                                <MudMenuItem OnClick="@UngroupColumn">@Localizer["MudDataGrid.Ungroup"]</MudMenuItem>
                            }
                            else
                            {
                                <MudMenuItem OnClick="@GroupColumn">@Localizer["MudDataGrid.Group"]</MudMenuItem>
                            }
                        }
                    </MudMenu>
                }
                @if (DataGrid.DragDropColumnReordering && (Column.DragAndDropEnabled ?? true))
                {
                    <MudIconButton Icon="@DataGrid.DragIndicatorIcon" Size="@DataGrid.DragIndicatorSize" Class="drag-icon-options"></MudIconButton>
                }
            </span>
        </span>
        @if (filterable && DataGrid.FilterMode == DataGridFilterMode.ColumnFilterMenu)
        {
            <MudOverlay Visible="@_filtersMenuVisible" OnClick="@(() => _filtersMenuVisible = false)" />
            <MudPopover Open="@_filtersMenuVisible" AnchorOrigin="@Origin.BottomRight" TransformOrigin="@Origin.TopRight" Class="pa-4 column-filter-popup">
                @if (Column.FilterTemplate != null)
                {
                    @Column.FilterTemplate(Column.FilterContext) 
                }
                else
                {
                    <MudGrid>
                        <MudItem xs="12">
                            @DataGrid.Filter(Column.FilterContext.FilterDefinition, Column)
                        </MudItem>
                        <MudItem xs="12" Class="d-flex justify-end">
                            <MudButton Class="clear-filter-button" OnClick="@ClearFilterAsync">@Localizer["MudDataGrid.Clear"]</MudButton>
                            <MudButton Class="apply-filter-button" Color="@Color.Primary" OnClick="@ApplyFilterAsync">@Localizer["MudDataGrid.Filter"]</MudButton>
                        </MudItem>
                    </MudGrid>
                }
            </MudPopover>
        }
        </text>;
    }
}
