@namespace MudBlazor
@inherits MudComponentBase
@typeparam T
@using MudBlazor.Utilities

<CascadingValue IsFixed="true" Value="this">@Columns</CascadingValue>

<CascadingValue IsFixed="true" Value="this">
    <div @attributes="UserAttributes" class="@_classname" style="@_style">
        @if (Items != null || ServerData != null)
        {
            @if (ToolBarContent != null)
            {
                <MudToolBar Class="mud-table-toolbar">
                    @ToolBarContent
                    @if (ShowMenuIcon)
                    {
                        @ToolbarMenu(this)   
                    }
                </MudToolBar>
            }
            else
            {
                @if (ShowMenuIcon)
                {
                    @*Add the default toolbar.*@
                    <MudToolBar Class="mud-table-toolbar">
                    <MudSpacer />
                    @ToolbarMenu(this) 
                    </MudToolBar>
                 }
            }
            <div @ref=_gridElement class="@_tableClass" style="@_tableStyle">
                <table class="mud-table-root">
                    @if (ColGroup != null)
                    {
                        <colgroup>
                            @ColGroup
                        </colgroup>
                    }
                    <thead class="@_headClassname">
                        <CascadingValue Name="IsOnlyHeader" IsFixed="true" Value="true">
                            @Header
                        </CascadingValue>
                        <tr class="mud-table-row">
                            @foreach (var column in RenderedColumns)
                            {
                                <HeaderCell T="T" Column="@column"></HeaderCell>
                            }
                        </tr>
                        @if (_filtersMenuVisible && FilterMode == DataGridFilterMode.Simple)
                        {
                            <MudOverlay Visible="true" OnClick="@(() => _filtersMenuVisible = false)"></MudOverlay>
                            <MudPaper Class="pa-2 filters-panel" Style="position:absolute;width:auto;min-width:700px;z-index:var(--mud-zindex-drawer)" Elevation="4">
                                @if (FilterTemplate == null)
                                { 
                                    <MudGrid Spacing="0">
                                        @foreach (var f in FilterDefinitions)
                                        {
                                            <Filter T="T" @bind-Field="f.Field" FieldType="@f.FieldType" @bind-Title="f.Title" @bind-Operator="f.Operator" @bind-Value="f.Value"
                                                Id="@f.Id"></Filter>
                                        }
                                    </MudGrid>
                                    <MudButton Class="mt-2" StartIcon="@Icons.Material.Filled.Add" OnClick="@AddFilter" Color="@Color.Primary">Add Filter</MudButton>
                                    @if (ServerData != null)
                                    {
                                        <MudButton Class="mt-2" StartIcon="@Icons.Material.Filled.Add" OnClick="@ApplyFilters" Color="@Color.Primary">Apply</MudButton>
                                    }
                                    <MudButton Class="mt-2" StartIcon="@Icons.Material.Filled.Remove" OnClick="@ClearFilters" Color="@Color.Primary">Clear</MudButton>
                                }
                                else
                                {
                                    @FilterTemplate(FilterDefinitions)
                                }
                            </MudPaper>
                        }
                        @if (_columnsPanelVisible)
                        {
                            <MudOverlay  Visible="true" OnClick="@(() => _columnsPanelVisible = false)"></MudOverlay>
                            <MudPaper Class="pa-2 columns-panel" Style="position:absolute;max-width:450px;z-index:var(--mud-zindex-drawer)" Elevation="4">
                                <MudGrid Spacing="0">
                                    @foreach (var column in RenderedColumns)
                                    {
                                        <MudItem xs="12">
                                            <MudSwitch T="bool" Disabled="@(!(column.Hideable ?? false))" Checked="@column.Hidden" CheckedChanged="@column.ToggleAsync" Converter="_oppositeBoolConverter" Color="Color.Primary" Label="@(column.Title ?? @column.Field)" />
                                        </MudItem>
                                    }
                                    <MudItem xs="6">
                                        <MudButton OnClick="@HideAllColumnsAsync" Color="@Color.Primary">Hide All</MudButton>
                                    </MudItem>
                                    <MudItem xs="6" Class="d-flex justify-end">
                                        <MudButton OnClick="@ShowAllColumnsAsync" Color="@Color.Primary">Show All</MudButton>
                                    </MudItem>
                                </MudGrid>
                                
                            </MudPaper>
                        }
                        @if (Filterable && FilterMode == DataGridFilterMode.ColumnFilterRow)
                        {
                            <tr class="mud-table-row">
                                @foreach (var column in RenderedColumns)
                                {
                                    <FilterHeaderCell T="T" Column="@column" />
                                }
                            </tr>
                        }
                    </thead>
                    <tbody class="mud-table-body">
                        @if (Loading)
                        {
                            <tr>
                                <td colspan="1000" class="mud-table-loading">
                                    <MudProgressLinear Color="@LoadingProgressColor" Class="mud-table-loading-progress" Indeterminate="true" />
                                </td>
                            </tr>
                        }

                        @{var resolvedPageItems = CurrentPageItems.ToList();}
                        @if (resolvedPageItems != null && resolvedPageItems.Count > 0)
                        {
                            if (GroupedColumn != null)
                            {
                                foreach (var g in _groups)
                                {
                                    <tr class="mud-table-row">
                                        <td class="mud-table-cell @GroupClass" colspan="1000" style="background-color:var(--mud-palette-background-grey);@GroupStyle">
                                            <MudIconButton 
                                                Class="mud-table-row-expander" 
                                                Icon="@(g.IsExpanded ? Icons.Material.Filled.ExpandMore : Icons.Material.Filled.ChevronRight)" 
                                                OnClick="@(() => ToggleGroupExpansion(g))" />

                                            @if (GroupedColumn.GroupTemplate == null)
                                            {
                                                <span style="font-weight:bold">@GroupedColumn.computedTitle: @g.Grouping.Key</span>
                                            }
                                            else
                                            {
                                                @GroupedColumn.GroupTemplate(@g)
                                            }
                                        </td>
                                    </tr>
                                    var rowIndex = 0;

                                    @if (g.IsExpanded)
                                    {
                                        <MudVirtualize IsEnabled="@Virtualize" Items="@g.Grouping.ToList()" Context="item">
                                            @{ var rowClass = new CssBuilder(RowClass).AddClass(RowClassFunc?.Invoke(item, rowIndex)).Build(); }
                                            @{ var rowStyle = new StyleBuilder().AddStyle(RowStyle).AddStyle(RowStyleFunc?.Invoke(item, rowIndex)).Build(); }
                                            @{ var tmpRowIndex = rowIndex; }
                                            <tr class="mud-table-row @rowClass" Style="@rowStyle" @key="item" @onclick="@((args) => OnRowClickedAsync(args, item, tmpRowIndex))">  
                                                <CascadingValue Value="@Validator" IsFixed="true">
                                                @foreach (var column in RenderedColumns)
                                                {
                                                    if (!column.Hidden)
                                                    {
                                                        @Cell(column, item)
                                                    }
                                                }                                     
                                                </CascadingValue>
                                            </tr>                                   
                                            @if (ChildRowContent != null)
                                            {
                                                @ChildRowContent(new CellContext<T>(this, item))
                                            }                                    
                                            @{ rowIndex++; }
                                        </MudVirtualize>
                                        @*Group Footer*@
                                        <tr class="mud-table-row">
                                            @FooterCells(g.Grouping.ToList())
                                        </tr>
                                    }
                                }
                            }
                            else
                            {
                                var rowIndex = 0;
                                <MudVirtualize IsEnabled="@Virtualize" Items="@resolvedPageItems" Context="item">
                                    @{ var rowClass = new CssBuilder(RowClass).AddClass(RowClassFunc?.Invoke(item, rowIndex)).Build(); }
                                    @{ var rowStyle = new StyleBuilder().AddStyle(RowStyle).AddStyle(RowStyleFunc?.Invoke(item, rowIndex)).Build(); }
                                    @{ var tmpRowIndex = rowIndex; }
                                    <tr class="mud-table-row @rowClass" Style="@rowStyle" @key="item" @onclick="@((args) => OnRowClickedAsync(args, item, tmpRowIndex))">  
                                        <CascadingValue Value="@Validator" IsFixed="true">
                                        @foreach (var column in RenderedColumns)
                                        {
                                            if (!column.Hidden)
                                            {
                                                @Cell(column, item)
                                            }
                                        }                                       
                                        </CascadingValue>
                                    </tr>                                   
                                    @if (ChildRowContent != null)
                                    {
                                        @ChildRowContent(new CellContext<T>(this, item))
                                    }                                    
                                    @{ rowIndex++; }
                                </MudVirtualize>
                            }
                        }
                        else if(Loading ? LoadingContent != null : NoRecordsContent != null)
                        {
                            <tr>
                                <th colspan="1000" class="mud-table-empty-row">
                                    <div Class="my-3">
                                        @if(Loading)
                                        {
                                            @LoadingContent
                                        }
                                        else
                                        {
                                            @NoRecordsContent
                                        }
                                    </div>
                                </th>
                            </tr>
                        }
                    </tbody>
                    <tfoot class="@_footClassname">
                        <tr class="mud-table-row">
                            @FooterCells(resolvedPageItems)
                        </tr>
                    </tfoot>
                </table>
            </div>
            @if (PagerContent != null)
            {
                <div class="mud-table-pagination">
                    @PagerContent
                </div>
            }
        }
    </div>
    <MudDialog @bind-IsVisible="isEditFormOpen" Options="EditDialogOptions">
        <TitleContent>
            <MudText Typo="Typo.h6">
                Edit
            </MudText>
        </TitleContent>
        <DialogContent>
            <MudForm>
                @foreach (var column in RenderedColumns)
                {
                    var cell = new Cell<T>(this, column, _editingItem);

                    if (column.EditTemplate != null)
                    {
                        @column.EditTemplate(cell.cellContext)
                    }
                    else
                    {
                        if (column.dataType == typeof(string))
                        {
                            <MudTextField T="string" Label="@column.computedTitle" Value="@cell.valueString" ValueChanged="@cell.StringValueChangedAsync" Margin="@Margin.Dense"
                                Required="true" Variant="@Variant.Outlined" Disabled="@(!column.IsEditable || ReadOnly)" Class="mt-4" />
                        }
                        else if (column.isNumber)
                        {
                            <MudNumericField T="double?" Label="@column.computedTitle" Value="@cell.valueNumber" ValueChanged="@cell.NumberValueChangedAsync" Margin="@Margin.Dense"
                                Required="true" Variant="@Variant.Outlined" Disabled="@(!column.IsEditable || ReadOnly)" Class="mt-4" />
                        }
                    }
                }
            </MudForm>
        </DialogContent>
        <DialogActions>
            <MudButton Variant="Variant.Filled" Color="Color.Default" OnClick="@CancelEditingItemAsync" Class="px-10">Cancel</MudButton>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@CommitItemChangesAsync" Class="px-10">Save</MudButton>
        </DialogActions>
    </MudDialog>
</CascadingValue>

@code {
    internal RenderFragment ToolbarMenu(MudDataGrid<T> __this)
    {
        return
        @<text>
        <MudMenu Icon="@Icons.Material.Outlined.Settings" Size="Size.Small" AnchorOrigin="Origin.BottomCenter" Dense="true">
            <MudMenuItem OnClick="@__this.ShowColumnsPanel">Columns</MudMenuItem>
            @if (__this.Groupable)
            {
                <MudMenuItem OnClick="@__this.ExpandAllGroups">Expand All Groups</MudMenuItem>
                <MudMenuItem OnClick="@__this.CollapseAllGroups">Collapse All Groups</MudMenuItem>
            }
            @if(__this.ServerData != null)
            {
                <MudMenuItem OnClick="@__this.InvokeServerLoadFunc">Refresh Data</MudMenuItem>
            }
        </MudMenu>
        </text>;
    }

    internal RenderFragment FooterCells(IEnumerable<T> currentItems)
    {
        return
        @<text>
        @if (currentItems != null)
        {
            foreach (var column in RenderedColumns)
            {
                if (!column.Hidden)
                {
                    if (column.AggregateDefinition != null || column.FooterTemplate != null || hasFooter)
                    {
                        <FooterCell T="T" Column="@column" CurrentItems="@currentItems"></FooterCell>
                    }
                }
            }
        }
        </text>;
    }

    internal RenderFragment Cell(Column<T> column, T item)
    {
        return
        @<text>
        @{
            var cell = new Cell<T>(this, column, item);
        }
        <td data-label="@column.computedTitle" class="@cell.computedClass" style="@cell.computedStyle">
            @if (column.IsEditable && !ReadOnly && DataGridEditMode.Cell == EditMode)
            {
                if (column.EditTemplate != null)
                {
                    @column.EditTemplate(cell.cellContext)
                }
                else
                {
                    if (column.dataType == typeof(string))
                    {
                        <MudTextField T="string" Value="@cell.valueString" ValueChanged="@cell.StringValueChangedAsync" Margin="@Margin.Dense" Style="margin-top:0"
                            Required="true" Variant="@Variant.Text" />
                    }
                    else if (column.isNumber)
                    {
                        <MudNumericField T="double?" Value="@cell.valueNumber" ValueChanged="@cell.NumberValueChangedAsync" Margin="@Margin.Dense" Style="margin-top:0"
                            Required="true" Variant="@Variant.Text" />
                    }
                }
            }
            else
            {
                if (column.CellTemplate != null)
                {
                    @column.CellTemplate(cell.cellContext)
                }
                else
                {
                    @cell.ComputedValue
                }
            }
        </td>
        </text>;
    }
}