@namespace MudBlazor
@inherits MudComponentBase
@typeparam T
@using MudBlazor.Utilities

<CascadingValue IsFixed="true" Value="this">@Columns</CascadingValue>

<CascadingValue IsFixed="true" Value="this">
    <div @attributes="UserAttributes" class="@_classname" style="@_style">
        @if (Items != null || ServerData != null)
        {
            @if (ToolBarContent != null)
            {
                <MudToolBar Class="mud-table-toolbar">
                    @ToolBarContent
                    @if (ShowMenuIcon)
                    {
                        @ToolbarMenu(this)
                    }
                </MudToolBar>
            }
            else
            {
                @if (ShowMenuIcon)
                {
                    @*Add the default toolbar.*@
                    <MudToolBar Class="mud-table-toolbar">
                        <MudSpacer />
                        @ToolbarMenu(this)
                    </MudToolBar>
                }
            }
            <div @ref=_gridElement class="@_tableClass" style="@_tableStyle">
                <table class="mud-table-root">
                    @if (ColGroup != null)
                    {
                        <colgroup>
                            @ColGroup
                        </colgroup>
                    }
                    <thead class="@_headClassname">
                        <CascadingValue Name="IsOnlyHeader" IsFixed="true" Value="true">
                            @Header
                        </CascadingValue>
                        <tr class="mud-table-row">
                            @foreach (var column in RenderedColumns)
                            {
                                <HeaderCell SortDirection="@(GetColumnSortDirection(column.PropertyName))" T="T" Column="@column"></HeaderCell>
                            }
                        </tr>
                        @if (_filtersMenuVisible && FilterMode == DataGridFilterMode.Simple)
                        {
                            <MudOverlay Visible="true" OnClick="@(() => _filtersMenuVisible = false)"></MudOverlay>
                            <MudPaper Class="pa-2 filters-panel" Style="position:absolute;width:auto;min-width:700px;z-index:var(--mud-zindex-drawer)" Elevation="4">
                                @if (FilterTemplate == null)
                                {
                                    <MudGrid Spacing="0">
                                        @foreach (var f in FilterDefinitions)
                                        {
                                            @Filter(f, null)
                                        }
                                    </MudGrid>
                                    <MudButton Class="mt-2" StartIcon="@Icons.Material.Filled.Add" OnClick="@AddFilter" Color="@Color.Primary">Add Filter</MudButton>
                                    @if (ServerData != null)
                                    {
                                        <MudButton Class="mt-2" StartIcon="@Icons.Material.Filled.Add" OnClick="@ApplyFilters" Color="@Color.Primary">Apply</MudButton>
                                    }
                                    <MudButton Class="mt-2" StartIcon="@Icons.Material.Filled.Remove" OnClick="@ClearFilters" Color="@Color.Primary">Clear</MudButton>
                                }
                                else
                                {
                                    @FilterTemplate(this)
                                }
                            </MudPaper>
                        }
                        @if (_columnsPanelVisible)
                        {
                            <MudOverlay Visible="true" OnClick="@(() => _columnsPanelVisible = false)"></MudOverlay>
                            <MudPaper Class="pa-2 columns-panel" Style="position:absolute;max-width:450px;z-index:var(--mud-zindex-drawer)" Elevation="4">
                                <MudGrid Spacing="0">
                                    @foreach (var column in RenderedColumns)
                                    {
                                        <MudItem xs="12">
                                            <MudSwitch T="bool" Disabled="@(!(column.Hideable ?? false))" Checked="@column.Hidden" CheckedChanged="@column.ToggleAsync" Converter="_oppositeBoolConverter" Color="Color.Primary" Label="@column.Title" />
                                        </MudItem>
                                    }
                                    <MudItem xs="6">
                                        <MudButton OnClick="@HideAllColumnsAsync" Color="@Color.Primary">Hide All</MudButton>
                                    </MudItem>
                                    <MudItem xs="6" Class="d-flex justify-end">
                                        <MudButton OnClick="@ShowAllColumnsAsync" Color="@Color.Primary">Show All</MudButton>
                                    </MudItem>
                                </MudGrid>

                            </MudPaper>
                        }
                        @if (Filterable && FilterMode == DataGridFilterMode.ColumnFilterRow)
                        {
                            <tr class="mud-table-row">
                                @foreach (var column in RenderedColumns)
                                {
                                    <FilterHeaderCell T="T" Column="@column" />
                                }
                            </tr>
                        }
                    </thead>
                    <tbody class="mud-table-body">
                        @if (Loading)
                        {
                            <tr>
                                <td colspan="1000" class="mud-table-loading">
                                    <MudProgressLinear Color="@LoadingProgressColor" Class="mud-table-loading-progress" Indeterminate="true" />
                                </td>
                            </tr>
                        }

                        @{var resolvedPageItems = CurrentPageItems.ToList();}
                        @if (resolvedPageItems != null && resolvedPageItems.Count > 0)
                        {
                            if (GroupedColumn != null)
                            {
                                foreach (var g in _groups)
                                {
                                    <tr class="mud-table-row">
                                        @{ var groupClass = new CssBuilder(GroupClass).AddClass(GroupClassFunc?.Invoke(g)).Build(); }
                                        @{ var groupStyle = new StyleBuilder().AddStyle(GroupStyle).AddStyle(GroupStyleFunc?.Invoke(g)).Build(); }

                                        <td class="mud-table-cell @groupClass" colspan="1000" style="background-color:var(--mud-palette-background-grey);@groupStyle">
                                            <MudIconButton Class="mud-table-row-expander"
                                           Icon="@(g.IsExpanded ? Icons.Material.Filled.ExpandMore : Icons.Material.Filled.ChevronRight)"
                                           OnClick="@(() => ToggleGroupExpansion(g))" />

                                            @if (GroupedColumn.GroupTemplate == null)
                                            {
                                                <span style="font-weight:bold">@GroupedColumn.Title: @g.Grouping.Key</span>
                                            }
                                            else
                                            {
                                                @GroupedColumn.GroupTemplate(@g)
                                            }
                                        </td>
                                    </tr>
                                    var rowIndex = 0;

                                    @if (g.IsExpanded)
                                    {
                                        <MudVirtualize IsEnabled="@Virtualize" Items="@g.Grouping.ToList()" OverscanCount=@OverscanCount Context="item">
                                            @{ var rowClass = new CssBuilder(RowClass).AddClass(RowClassFunc?.Invoke(item, rowIndex)).Build(); }
                                            @{ var rowStyle = new StyleBuilder().AddStyle(RowStyle).AddStyle(RowStyleFunc?.Invoke(item, rowIndex)).Build(); }
                                            @{ var tmpRowIndex = rowIndex; }
                                            <tr class="mud-table-row @rowClass" Style="@rowStyle" @key="item" @onclick="@((args) => OnRowClickedAsync(args, item, tmpRowIndex))">
                                                <CascadingValue Value="@Validator" IsFixed="true">
                                                    @foreach (var column in RenderedColumns)
                                                    {
                                                        if (!column.Hidden)
                                                        {
                                                            @Cell(column, item)
                                                        }
                                                    }
                                                </CascadingValue>
                                            </tr>
                                            @if (ChildRowContent != null && (_openHierarchies.Contains(item) || !hasHierarchyColumn))
                                            {
                                                <tr class="mud-table-row">
                                                    <td class="mud-table-cell" colspan="1000">
                                                        @ChildRowContent(new CellContext<T>(this, item))
                                                    </td>
                                                </tr>
                                            }
                                            @{ rowIndex++; }
                                        </MudVirtualize>
                                        @*Group Footer*@
                                        <tr class="mud-table-row">
                                            @FooterCells(g.Grouping.ToList())
                                        </tr>
                                    }
                                }
                            }
                            else
                            {
                                var rowIndex = 0;
                                <MudVirtualize IsEnabled="@Virtualize" Items="@resolvedPageItems" OverscanCount=@OverscanCount Context="item">
                                    @{ var rowClass = new CssBuilder(RowClass).AddClass(RowClassFunc?.Invoke(item, rowIndex)).Build(); }
                                    @{ var rowStyle = new StyleBuilder().AddStyle(RowStyle).AddStyle(RowStyleFunc?.Invoke(item, rowIndex)).Build(); }
                                    @{ var tmpRowIndex = rowIndex; }
                                    <tr class="mud-table-row @rowClass" Style="@rowStyle" @key="item" @onclick="@((args) => OnRowClickedAsync(args, item, tmpRowIndex))">
                                        <CascadingValue Value="@Validator" IsFixed="true">
                                            @foreach (var column in RenderedColumns)
                                            {
                                                if (!column.Hidden)
                                                {
                                                    @Cell(column, item)
                                                }
                                            }
                                        </CascadingValue>
                                    </tr>
                                    @if (ChildRowContent != null && (_openHierarchies.Contains(item) || !hasHierarchyColumn))
                                    {
                                        <tr class="mud-table-row">
                                            <td class="mud-table-cell" colspan="1000">
                                                @ChildRowContent(new CellContext<T>(this, item))
                                            </td>
                                        </tr>
                                    }
                                    @{ rowIndex++; }
                                </MudVirtualize>
                            }
                        }
                        else if (Loading ? LoadingContent != null : NoRecordsContent != null)
                        {
                            <tr>
                                <th colspan="1000" class="mud-table-empty-row">
                                    <div Class="my-3">
                                        @if (Loading)
                                        {
                                            @LoadingContent
                                        }
                                        else
                                        {
                                            @NoRecordsContent
                                        }
                                    </div>
                                </th>
                            </tr>
                        }
                    </tbody>
                    <tfoot class="@_footClassname">
                        <tr class="mud-table-row">
                            @FooterCells(resolvedPageItems)
                        </tr>
                    </tfoot>
                </table>
            </div>
            @if (PagerContent != null)
            {
                <div class="mud-table-pagination">
                    @PagerContent
                </div>
            }
        }
    </div>
    <CascadingValue Value="true" IsFixed Name="IsNested">
        <MudDialog @bind-IsVisible="isEditFormOpen">
            <DialogContent>
                <MudForm FieldChanged="FormFieldChanged">
                    @foreach (var column in RenderedColumns)
                    {
                        var cell = new Cell<T>(this, column, _editingItem);

                        if (column.EditTemplate != null)
                        {
                            @column.EditTemplate(cell._cellContext)
                        }
                        else
                        {
                            var propertyType = column.PropertyType;

                            if (propertyType == typeof(string))
                            {
                                <MudTextField T="string" Label="@column.Title" Value="@cell._valueString" ValueChanged="@cell.StringValueChangedAsync" Margin="@Margin.Dense"
                                  Required="true" Variant="@Variant.Outlined" Disabled="@(!column.IsEditable || ReadOnly)" Class="mt-4" />
                            }
                            else if (FilterOperator.NumericTypes.Contains(propertyType))
                            {
                                <MudNumericField T="double?" Label="@column.Title" Value="@cell._valueNumber" ValueChanged="@cell.NumberValueChangedAsync" Margin="@Margin.Dense"
                                     Required="true" Variant="@Variant.Outlined" Disabled="@(!column.IsEditable || ReadOnly)" Class="mt-4" />
                            }
                        }
                    }
                </MudForm>
            </DialogContent>
            <DialogActions>
                <MudButton Variant="Variant.Filled" Color="Color.Default" OnClick="@CancelEditingItemAsync" Class="px-10">Cancel</MudButton>
                <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@CommitItemChangesAsync" Class="px-10">Save</MudButton>
            </DialogActions>
        </MudDialog>
    </CascadingValue>
</CascadingValue>

@code {
    internal RenderFragment ToolbarMenu(MudDataGrid<T> __this)
    {
        return
    @<text>
        <MudMenu Icon="@Icons.Material.Outlined.Settings" Size="Size.Small" AnchorOrigin="Origin.BottomCenter" Dense="true">
            <MudMenuItem OnClick="@__this.ShowColumnsPanel">Columns</MudMenuItem>
            @if (__this.Groupable)
            {
                <MudMenuItem OnClick="@__this.ExpandAllGroups">Expand All Groups</MudMenuItem>
                <MudMenuItem OnClick="@__this.CollapseAllGroups">Collapse All Groups</MudMenuItem>
            }
            @if (__this.ServerData != null)
            {
                <MudMenuItem OnClick="@__this.InvokeServerLoadFunc">Refresh Data</MudMenuItem>
            }
        </MudMenu>
    </text>;
    }

    internal RenderFragment FooterCells(IEnumerable<T> currentItems)
    {
        return
    @<text>
        @if (currentItems != null)
        {
            foreach (var column in RenderedColumns)
            {
                if (!column.Hidden)
                {
                    if (column.AggregateDefinition != null || column.FooterTemplate != null || hasFooter)
                    {
                        <FooterCell T="T" Column="@column" CurrentItems="@currentItems"></FooterCell>
                    }
                }
            }
        }
    </text>;
    }

    internal RenderFragment Cell(Column<T> column, T item)
    {
        return
    @<text>
        @{
            var cell = new Cell<T>(this, column, item);
        }
        <td data-label="@column.Title" class="@cell.computedClass" style="@cell.computedStyle">
            @if (column.IsEditable && !ReadOnly && EditMode == DataGridEditMode.Cell)
            {
                if (column.EditTemplate != null)
                {
                    @column.EditTemplate(cell._cellContext)
                }
                else
                {
                    if (column.PropertyType == typeof(string))
                    {
                        <MudTextField T="string" Value="@cell._valueString" ValueChanged="@cell.StringValueChangedAsync" Margin="@Margin.Dense" Style="margin-top:0"
                      Required="true" Variant="@Variant.Text" />
                    }
                    else if (column.isNumber)
                    {
                        <MudNumericField T="double?" Value="@cell._valueNumber" ValueChanged="@cell.NumberValueChangedAsync" Margin="@Margin.Dense" Style="margin-top:0"
                         Required="true" Variant="@Variant.Text" Culture="@column.Culture" />
                    }
                }
            }
            else
            {
                if (column.CellTemplate != null)
                {
                    @column.CellTemplate(cell._cellContext)
                }
                else if (column.Culture != null && column.isNumber)
                {
                    if (column.ContentFormat != null)
                    {
                        @(((IFormattable)cell._valueNumber)?.ToString(column.ContentFormat, column.Culture))
                    }
                    else
                        @cell._valueNumber?.ToString(column.Culture)
                }
                else
                {
                    if (column.ContentFormat != null)
                    {
                        @(((IFormattable)cell.ComputedValue).ToString(column.ContentFormat, column.Culture))
                    }
                    else
                        @cell.ComputedValue
                }
            }
        </td>
    </text>
    ;
    }

    internal RenderFragment Filter(FilterDefinition<T> f, Column<T> column)
    {
        return
    @<text>
        @{
            var filter = new Filter<T>(this, f, column);
        }
        @if (column == null)
        {
            <MudItem xs="1" Class="d-flex">
                <MudIconButton Class="remove-filter-button" Icon="@Icons.Material.Filled.Close" OnClick="@filter.RemoveFilter" Size="@Size.Small" Style="align-self:flex-end"></MudIconButton>
            </MudItem>
            <MudItem xs="4">
                <MudSelect T="Column<T>" Value="@f.Column" ValueChanged="@filter.FieldChanged" FullWidth="true" Label="Column" Dense="true" Margin="@Margin.Dense"
                   Class="filter-field">
                    @foreach (var column in RenderedColumns ?? Enumerable.Empty<Column<T>>())
                    {
                        <MudSelectItem T="Column<T>" Value="@column">@column.Title</MudSelectItem>
                    }
                </MudSelect>
            </MudItem>
            <MudItem xs="3">
                <MudSelect @bind-Value="f.Operator" FullWidth="true" Label="Operator" Dense="true" Margin="@Margin.Dense"
                   Class="filter-operator">
                    @foreach (var o in FilterOperator.GetOperatorByDataType(f.dataType))
                {
                    <MudSelectItem Value="@o">@o</MudSelectItem>
                }
            </MudSelect>
        </MudItem>
            <MudItem xs="4">
                @if (f.dataType == typeof(string) && !(f.Operator ?? "").EndsWith("empty"))
                {
                    <MudTextField T="string" Value="@filter._valueString" ValueChanged="@filter.StringValueChanged" FullWidth="true" Label="Value" Placeholder="Filter value" Margin="@Margin.Dense"
                      Immediate="true" Class="filter-input" />
                }
                else if (filter.isNumber && !(f.Operator ?? "").EndsWith("empty"))
                {
                    <MudNumericField T="double?" Value="@filter._valueNumber" ValueChanged="@filter.NumberValueChanged" FullWidth="true" Label="Value" Placeholder="Filter value" Margin="@Margin.Dense"
                         Immediate="true" Class="filter-input" Culture="@filter.filterColumn?.Culture" />
                }
                else if (filter.isEnum)
                {
                    <MudSelect T="Enum" Value="@filter._valueEnum" ValueChanged="@filter.EnumValueChanged" FullWidth="true" Dense="true" Margin="@Margin.Dense"
                   Class="filter-input">
                        <MudSelectItem T="Enum" Value="@(null)"></MudSelectItem>
                        @foreach (var item in Enum.GetValues(f.underlyingDataType))
                        {
                            <MudSelectItem T="Enum" Value="@((Enum)item)">@item</MudSelectItem>
                        }
                    </MudSelect>
                }
                else if (f.dataType == typeof(bool))
                {
                    <MudSelect T="bool?" Value="@filter._valueBool" ValueChanged="@filter.BoolValueChanged" FullWidth="true" Dense="true" Margin="@Margin.Dense"
                   Class="filter-input">
                        <MudSelectItem T="bool?" Value="@(null)"></MudSelectItem>
                        <MudSelectItem T="bool?" Value="@(true)">true</MudSelectItem>
                        <MudSelectItem T="bool?" Value="@(false)">false</MudSelectItem>
                    </MudSelect>
                }
                else if (f.dataType == typeof(DateTime) && !(f.Operator ?? "").EndsWith("empty"))
                {
                    <MudGrid Spacing="0">
                        <MudItem xs="7">
                            <MudDatePicker Date="@filter._valueDate" DateChanged="@filter.DateValueChanged" Margin="@Margin.Dense" Class="filter-input-date" />
                        </MudItem>
                        <MudItem xs="5">
                            <MudTimePicker Time="@filter._valueTime" TimeChanged="@filter.TimeValueChanged" Margin="@Margin.Dense" Class="filter-input-time" />
                        </MudItem>
                    </MudGrid>
                }
                else if (f.dataType == typeof(Guid))
                {
                    <MudTextField T="string" Value="@filter._valueString" ValueChanged="@filter.StringValueChanged" FullWidth="true" Label="Value" Placeholder="Filter value" Margin="@Margin.Dense"
                      Immediate="true" Class="filter-input" />
                }
            </MudItem>
        }
        else
        {
            <MudItem xs="12">
                <MudSelect @bind-Value="f.Operator" FullWidth="true" Dense="true" Margin="@Margin.Dense"
                   Class="filter-operator">
                    @foreach (var o in FilterOperator.GetOperatorByDataType(f.dataType))
                {
                    <MudSelectItem Value="@o">@o</MudSelectItem>
                }
            </MudSelect>
        </MudItem>
            <MudItem xs="12">
                @if (f.dataType == typeof(string) && !(f.Operator ?? "").EndsWith("empty"))
                {
                    <MudTextField T="string" Value="@filter._valueString" ValueChanged="@filter.StringValueChanged" FullWidth="true" Placeholder="Filter value" Margin="@Margin.Dense"
                      Immediate="true" Class="filter-input" />
                }
                else if (filter.isNumber && !(f.Operator ?? "").EndsWith("empty"))
                {
                    <MudNumericField T="double?" Value="@filter._valueNumber" ValueChanged="@filter.NumberValueChanged" FullWidth="true" Placeholder="Filter value" Margin="@Margin.Dense"
                         Immediate="true" Class="filter-input" Culture="@filter.filterColumn?.Culture" />
                }
                else if (filter.isEnum)
                {
                    <MudSelect T="Enum" Value="@filter._valueEnum" ValueChanged="@filter.EnumValueChanged" FullWidth="true" Dense="true" Margin="@Margin.Dense"
                   Class="filter-input">
                        <MudSelectItem T="Enum" Value="@(null)"></MudSelectItem>
                        @foreach (var item in Enum.GetValues(f.dataType))
                        {
                            <MudSelectItem T="Enum" Value="@((Enum)item)">@item</MudSelectItem>
                        }
                    </MudSelect>
                }
                else if (f.dataType == typeof(bool))
                {
                    <MudSelect T="bool?" Value="@filter._valueBool" ValueChanged="@filter.BoolValueChanged" FullWidth="true" Dense="true" Margin="@Margin.Dense"
                   Class="filter-input">
                        <MudSelectItem T="bool?" Value="@(null)"></MudSelectItem>
                        <MudSelectItem T="bool?" Value="@(true)">true</MudSelectItem>
                        <MudSelectItem T="bool?" Value="@(false)">false</MudSelectItem>
                    </MudSelect>
                }
                else if (f.dataType == typeof(DateTime) && !(f.Operator ?? "").EndsWith("empty"))
                {
                    <MudGrid Spacing="0">
                        <MudItem xs="7">
                            <MudDatePicker Date="@filter._valueDate" DateChanged="@filter.DateValueChanged" Margin="@Margin.Dense" Class="filter-input-date" />
                        </MudItem>
                        <MudItem xs="5">
                            <MudTimePicker Time="@filter._valueTime" TimeChanged="@filter.TimeValueChanged" Margin="@Margin.Dense" Class="filter-input-time" />
                        </MudItem>
                    </MudGrid>
                }
                else if (f.dataType == typeof(Guid))
                {
                    <MudTextField T="string" Value="@filter._valueString" ValueChanged="@filter.StringValueChanged" FullWidth="true" Label="Value" Placeholder="Filter value" Margin="@Margin.Dense"
                      Immediate="true" Class="filter-input" />
                }
            </MudItem>
        }
    </text>
    ;
    }
}